@import "variables";

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes float1 {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 0 -9px;
  }
  100% {
    translate: 0 0;
  }
}

@keyframes float2 {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 0 -12px;
  }
  100% {
    translate: 0 0;
  }
}
