@import "./variables";
@import "mixins";


// MAIN

// container

.container {
	padding: 0 calc((100vw - (#{$desktop} - #{$container-padding-desktop * 2})) * 0.5);
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

// block

.block {
	margin-top: 184px;
	margin-bottom: 184px;

	&.main {
		margin-top: 168px;
		margin-bottom: 0;
	}
}

// title

h1.title {
	font-family: Golos, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 120px;
	line-height: 128px;
	letter-spacing: 0.01em;
}

h2.title {
	font-family: Golos, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 80px;
	line-height: 104px;
	/* identical to box height, or 130% */

	letter-spacing: 0.01em;

	margin-bottom: 64px;
}

// overlay

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: $color-dark-background;
	opacity: 0;
	pointer-events: none;
	transition: opacity $animation-disappear;

	&.open {
		opacity: 1;
		pointer-events: auto;
		transition: opacity $animation-appear;
	}
}

// dropdown

#dropdownOverlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: $z-index-dropdown-overlay;

	&:not(.active) {
		display: none;
	}
}

.dropdown__menu {
	z-index: $z-index-dropdown-menu;
	opacity: 1;

	padding: 8px 0;
	border-radius: 8px;
	background: $color-light-background;
	transition: opacity $animation-appear;

	&:not(.ready) {
		display: none;
	}

	&:not(.open) {
		opacity: 0;
		pointer-events: none;
		transition: opacity $animation-disappear;
	}
}

.dropdown__menu-item {
	padding: 14px 24px;

	font-size: 24px;
	line-height: 36px;
	white-space: nowrap;

	transition: background $animation-unhover;

	&:hover {
		background: $color-action-hover;
		cursor: pointer;
		transition: background $animation-hover;
	}
}

// btn

.btn {
	border: none;
	border-radius: 32px;
	outline: 0;
	font-weight: 500;
	padding: 14px 24px;
	font-size: 24px;
	line-height: 36px;
	white-space: nowrap;
	color: $color-prime-contrast;
	background: $color-prime;

	img:first-child,
	.icon:first-child {
		display: inline-block;
		margin-right: 8px
	}
	img:last-child,
	.icon:last-child {
		display: inline-block;
		margin-left: 8px
	}

	&:hover {
		cursor: pointer;
	}
}

.btn-outlined {
	background: 0 0;
	border: 1px solid $color-prime;
	color: #fff;
	transition: background $animation-unhover;

	&:hover {
		opacity: 1;
		background: change-color($color-prime, $alpha: 0.12);
		transition: background $animation-hover;
	}
}

.btn-text {
	color: $color-prime;
	border: none;
	background: transparent;

	img:first-child,
	.icon:first-child {
		display: inline-block;
		margin-right: 8px
	}
	img:last-child,
	.icon:last-child {
		display: inline-block;
		margin-left: 8px
	}

	&:hover {
		cursor: pointer;
	}
}

.icon-btn {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 48px;
	height: 48px;
	font-size: 20px;

	padding: 0;
	border: none;

	background: $color-text-more-secondary;
	color: $color-background;

	.icon {
		font-size: inherit;
	}

	&.rounded {
		border-radius: 50%;
	}

	&.small {
		width: 32px;
		height: 32px;
		font-size: 14px;
	}
}

.more-btn {
	.more-btn__show-more {
		color: inherit;
	}

	.more-btn__hide {
		color: inherit;
		display: none;
	}

	&.expanded {

		.more-btn__show-more {
			display: none;
		}

		.more-btn__hide {
			display: initial;
		}
	}
}

// text

.text {
	font-family: 'Golos';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;

	&.small {
		font-size: 20px;
		line-height: 28px;
		color: $color-text-secondary;
	}

	&.big {
		font-size: 36px;
		line-height: 48px;
	}

	&.margin-bottom-small {
		margin-bottom: 24px;
	}

	&.margin-bottom-medium {
		margin-bottom: 32px;
	}

	&.margin-bottom-big {
		margin-bottom: 48px;
	}

	&.margin-top-big {
		margin-top: 48px;
	}
}

// card

.card {
	background: $color-dark-background;
	border-radius: 32px;
	padding: 48px;

	&.small {
		padding: 24px;
	}
}

// collapse

.collapse {
	height: 0;
	overflow: hidden;
}

// modal

body.modal-open {
	overflow: hidden;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	z-index: $z-index-modal;
	overflow-y: auto;

	pointer-events: none;
	opacity: 0;
	transition: opacity $animation-disappear;

	background: $color-dark-background;

	@include with-custom-scrollbar ($z-index-modal + 1);
}

.modal__overlay {
	z-index: 10;
}

.modal__content {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 32px $container-padding-mobile;

	max-width: 100%;
	min-height: 100%;
	position: relative;
	z-index: 20;
}

.modal.open {
	opacity: 1;
	pointer-events: auto;
	transition: opacity $animation-appear;

	.modal__overlay {
		opacity: 1;
		pointer-events: auto;
	}

}

.modal__dialog {
	flex-shrink: 0;
	padding: 48px;
	border-radius: 32px;
	background: $color-background;
	max-width: 541px;
	width: 100%;
}

.modal__dialog-title {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 16px;

	margin-bottom: 32px;

	font-size: 36px;
	line-height: 48px;
}

.modal__dialog-close-btn {
	flex-shrink: 0;
	flex-grow: 0;
}

.modal__dialog-sub-actions {
	margin-bottom: -16px;
	margin-top: 24px;

	font-size: 16px;
	line-height: 24px;
	text-align: center;
}

// ADAPTIVE

@media (max-width: $desktop) and (min-width: $mobile + 1) {

	.container {
		padding: 0 get-adaptive-value($container-padding-desktop, $container-padding-mobile);
	}

	.block {
		margin-top: get-adaptive-value(184px, 56px);
		margin-bottom: get-adaptive-value(184px, 56px);

		&.main {
			margin-top: get-adaptive-value(168px, 88px);
		}
	}

	h1.title {
		font-size: get-adaptive-value(120px, 64px, $desktop, $tablet);
		line-height: get-adaptive-value(128px, 64px, $desktop, $tablet);
	}

	h2.title {
		font-size: get-adaptive-value(80px, 32px);
		line-height: get-adaptive-value(104px, 40px);
		margin-bottom: get-adaptive-value(64px, 32px);
	}

	.btn {
		font-size: get-adaptive-value(24px, 16px);
		padding: get-adaptive-value(14px, 10px) get-adaptive-value(24px, 12px);
		line-height: get-adaptive-value(36px, 20px);
	}

	.text {
		font-size: get-adaptive-value(24px, 20px);
		line-height: get-adaptive-value(36px, 28px);

		&.small {
			font-size: get-adaptive-value(20px, 16px);
			line-height: get-adaptive-value(28px, 24px);
		}

		&.big {
			font-size: get-adaptive-value(36px, 28px);
			line-height: get-adaptive-value(48px, 36px);
		}

		&.margin-bottom-small {
			margin-bottom: get-adaptive-value(24px, 32px);
		}

		&.margin-bottom-medium {
			margin-bottom: 32px;
		}

		&.margin-bottom-big {
			margin-bottom: get-adaptive-value(48px, 32px);
		}

		&.margin-top-big {
			margin-top: get-adaptive-value(48px, 32px);
		}
	}

	.dropdown__menu-item {
		padding: get-adaptive-value(14px, 8px) get-adaptive-value(24px, 16px);
		font-size: get-adaptive-value(24px, 16px);
		line-height: get-adaptive-value(36px, 20px);
	}

	.card {
		padding: get-adaptive-value(48px, 32px);
	}
}

@media (max-width: $laptop) {

}

@media (max-width: $tablet) {

	h1.title {
		font-size: get-adaptive-value(120px, 48px);
		line-height: get-adaptive-value(128px, 56px);
	}

}

@media (max-width: $small-tablet) {
	.card {
		border-radius: 16px;
		padding: 32px;
	}
}

@media (max-width: $mobile) {

	.block {
		margin-top: 56px;
		margin-bottom: 56px;

		&.main {
			margin-top: 88px;
		}
	}

	h1.title {
		font-size: 48px;
		line-height: 56px;
	}

	h2.title {
		font-size: 32px;
		line-height: 40px;
		margin-bottom: 32px;
	}

	.dropdown__menu-item {
		padding: 8px 16px;
		font-size: 16px;
		line-height: 32px;
	}

	.btn {
		padding: 10px 12px;
		font-size: 16px;
		line-height: 32px;
		border-radius: 32px;
	}

	.text {
		font-size: 20px;
		line-height: 28px;

		&.small {
			font-size: 16px;
			line-height: 24px;
		}

		&.big {
			font-size: 28px;
			line-height: 36px;
		}

		&.margin-bottom-small {
			margin-bottom: 32px;
		}

		&.margin-bottom-medium {
			margin-bottom: 32px;
		}

		&.margin-bottom-big {
			margin-bottom: 32px;
		}

		&.margin-top-big {
			margin-top: 32px;
		}
	}

	.card {
		border-radius: 16px;
		padding: 32px;
	}

	.container {
		padding: 0 24px;
		max-width: 100%;
	}
}