@font-face {
    font-family: 'Golos';
    font-display: swap;
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/Golos-Text_Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Golos';
    font-display: swap;
    font-weight: 500;
    font-style: normal;
    src: url('/fonts/Golos-Text_Medium.ttf') format('truetype')
}

@font-face {
    font-family: 'Golos';
    font-display: swap;
    font-weight: 600;
    font-style: normal;
    src: url('/fonts/Golos-Text_DemiBold.ttf') format('truetype')
}


@font-face {
    font-family: 'Golos';
    font-display: swap;
    font-weight: 700;
    font-style: normal;
    src: url('/fonts/Golos-Text_Bold.ttf') format('truetype')
}


@font-face {
    font-family: 'Golos';
    font-display: swap;
    font-weight: 900;
    font-style: normal;
    src: url('/fonts/Golos-Text_Black.ttf') format('truetype')
}