@import "variables";

@mixin hover-luminous {
	transition: box-shadow $animation-disappear;

	&:hover {
		cursor: pointer;
		box-shadow: 0 0 3.5rem rgba(206, 228, 74, 0.24);
		transition: box-shadow $animation-appear;
	}
}

@mixin with-outer-collider ($outer-padding: 0.5rem) {
	position: relative;

	&:after {
		position: absolute;
		top: -$outer-padding;
		left: -$outer-padding;
		content: "";

		width: calc(100% + #{$outer-padding * 2});
		height: calc(100% + #{$outer-padding * 2});
		z-index: 1;
		cursor: pointer;
	}
}

@mixin with-custom-scrollbar ($z-index: 1) {
	scrollbar-width: thin;
	scrollbar-color: $color-prime-main transparent;

	&::-webkit-scrollbar {
		width: 0.5rem;
		height: 0.5rem;
		z-index: $z-index;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 0.25rem;
		background: $color-prime-main;
	}

	&::-webkit-scrollbar-track {
		border-radius: 0.25rem;
		background: transparent;
	}
}

@mixin without-scrollbar ($z-index: 1) {
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;  /* Safari and Chrome */
	}
}

@mixin hover-shadow ($color: $color-prime-main, $radius: 0.375rem) {
	box-shadow: 0 0 0 0 change-color($color, $alpha: 0.28);
	transition: box-shadow $animation-disappear;

	&:hover:not(.without-hover) {
		box-shadow: 0 0 0 $radius change-color($color, $alpha: 0.28);
		transition: box-shadow $animation-appear;
	}
}

@mixin with-horizontal-scrollbar-in-container-adaptive {
	overflow-x: auto;

	padding-left: $container-padding-adaptive;
	padding-right: $container-padding-adaptive;
	margin-left: calc(#{$container-padding-adaptive} * -1);
	margin-right: calc(#{$container-padding-adaptive} * -1);

	@media (hover: none) {
		@include without-scrollbar;
	}

}

@mixin with-horizontal-scrollbar-in-container-mobile {
	overflow-x: auto;

	padding-left: $container-padding-mobile;
	padding-right: $container-padding-mobile;
	margin-left: -$container-padding-mobile;
	margin-right: -$container-padding-mobile;

	@media (hover: none) {
		@include without-scrollbar;
	}
}