@import "variables";

@mixin hover-luminous {
	transition: box-shadow $animation-disappear;

	&:hover {
		cursor: pointer;
		box-shadow: 0 0 56px rgba(206, 228, 74, 0.24);
		transition: box-shadow $animation-appear;
	}
}

@mixin with-outer-collider ($outer-padding: 8px) {
	position: relative;

	&:after {
		position: absolute;
		top: -$outer-padding;
		left: -$outer-padding;
		content: "";

		width: calc(100% + #{$outer-padding * 2});
		height: calc(100% + #{$outer-padding * 2});
		z-index: 1;
		cursor: pointer;
	}
}

@mixin with-custom-scrollbar ($z-index: 1, $collider: 0px) {
	scrollbar-width: thin;
	scrollbar-color: $color-prime transparent;

	&::-webkit-scrollbar {
		width: 8px;
		height: 8px;
		z-index: $z-index;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 4px;
		background: $color-prime;
	}

	&::-webkit-scrollbar-track {
		border-radius: 4px;
		background: transparent;
	}
}

@mixin without-scrollbar ($z-index: 1) {
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;  /* Safari and Chrome */
	}
}

@mixin hover-shadow ($color: $color-prime, $radius: 24px) {
	box-shadow: 0 0 0 change-color($color, $alpha: 0.5);
	transition: box-shadow $animation-disappear;

	&:hover:not(.without-hover) {
		box-shadow: 0 0 $radius change-color($color, $alpha: 0.5);
		transition: box-shadow $animation-appear;
	}
}