
// VARIABLES

$color-prime: #CEE44A;
$color-prime-contrast: rgba(0, 0, 0, 0.92);
$color-dark-background: rgba(33, 33, 33, 0.48);
$color-background: #32333A;

$color-text-prime: #fff;
$color-text-secondary: rgba(255, 255, 255, 0.64);
$color-text-more-secondary: rgba(255, 255, 255, 0.32);
$color-action-hover: rgba(33, 33, 33, 0.48);

$desktop: 1920px;
$laptop: 1440px;
$tablet: 1024px;
$small-tablet: 768px;
$mobile: 420px;

$animation-hover: .125s;
$animation-unhover: .25s;
$animation-appear: .25s;
$animation-disappear: .5s;

$grid-columns: 12;


$header-height-desktop: 88px;
$header-height-mobile: 64px;

$container-padding-mobile: 24px;
$container-padding-desktop: 180px;


// MIXINS & FUNCTIONS

@function strip-unit($number) {
	@if type-of($number) == 'number' and not unitless($number) {
		@return $number / ($number * 0 + 1);
	}

	@return $number;
}

@function get-adaptive-value($big-value, $small-value, $big-screen: $desktop, $small-screen: $mobile) {
	$increment: $big-value - $small-value;
	@return calc(#{$small-value} + #{strip-unit($increment)} * (100vw - #{$small-screen}) / #{strip-unit($big-screen - $small-screen)});
}

@function get-column-width($max-columns, $gap, $columns) {
	@return calc(((100% - #{$gap} * #{$max-columns - 1}) / #{$max-columns} + #{$gap}) * #{$columns} - #{$gap});
}

// ANIMATIONS

@keyframes fadeOut {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


// CSS VARIABLES

html {
	--grid-gap: 16px;
	--grid-column: calc((100% - var(--grid-gap) * #{$grid-columns - 1}) / #{$grid-columns});
	--grid-column-gap: calc(var(--grid-gap) + var(--grid-column));
	--border-radius: 32px;
}