@use "sass:color";
@use "sass:math";


// VARIABLES

$color-prime-main: #FF6500;
$color-prime-light: #FFD1B2;
$color-prime-contrast: #fff;
$color-dark-background: rgba(33, 33, 33, 0.48); // delete
$color-light-background: #3a3a45;  // delete

$color-background: #F7F7FA;
$color-background-upper1: #FFF;
$color-background-lower1: #F0EFEF;

$color-overlay: rgba(0,0,0,0.5);

$color-text-prime: rgba(40, 30, 28, 0.92);
$color-text-secondary: rgba(40, 30, 28, 0.64);
$color-text-more-secondary: rgba(40, 30, 28, 0.32);

$color-action-hover-opacity: 0.06;
$color-action-hover: rgba(52, 20, 0, $color-action-hover-opacity);
$color-divider: rgba(40, 30, 28, 0.08);

$color-background-inverted: linear-gradient(0deg, rgba(255, 255, 255, 0.92), rgba(255, 255, 255, 0.92)), #1E223A;  // delete
$color-text-prime-inverted: rgba(0,0,0,0.92);  // delete
$color-text-secondary-inverted: rgba(0,0,0,0.64);  // delete
$color-text-more-secondary-inverted: rgba(0, 0, 0, 0.32);  // delete

$color-error: #F44336;


$typography-h2-font-weight: 500;
$typography-h2-font-size: 5rem;
$typography-h2-line-height: 1.25;
$typography-h2-letter-spacing: 0.01em;

@mixin typography-h2 {
	font-weight: $typography-h2-font-weight;
	font-size: $typography-h2-font-size;
	line-height: $typography-h2-line-height;
	letter-spacing: $typography-h2-letter-spacing;
}

$typography-h2-adaptive-font-weight: 500;
$typography-h2-adaptive-font-size: 2rem;
$typography-h2-adaptive-line-height: 1.25;
$typography-h2-adaptive-letter-spacing: 0.01em;

@mixin typography-h2-adaptive {
	font-weight: $typography-h2-adaptive-font-weight;
	font-size: $typography-h2-adaptive-font-size;
	line-height: $typography-h2-adaptive-line-height;
	letter-spacing: $typography-h2-adaptive-letter-spacing;
}

$typography-h3-font-weight: 500;
$typography-h3-font-size: 3.5rem;
$typography-h3-line-height: 1.28571428571;
$typography-h3-letter-spacing: 0.01em;

@mixin typography-h3 {
	font-weight: $typography-h3-font-weight;
	font-size: $typography-h3-font-size;
	line-height: $typography-h3-line-height;
	letter-spacing: $typography-h3-letter-spacing;
}

$typography-h3-adaptive-font-weight: 400;
$typography-h3-adaptive-font-size: 1.75rem;
$typography-h3-adaptive-line-height: 1.28571428571;

@mixin typography-h3-adaptive {
	font-weight: $typography-h3-adaptive-font-weight;
	font-size: $typography-h3-adaptive-font-size;
	line-height: $typography-h3-adaptive-line-height;
}

$typography-h4-font-weight: 400;
$typography-h4-font-size: 2.25rem;
$typography-h4-line-height: 1.333;

@mixin typography-h4 {
	font-weight: $typography-h4-font-weight;
	font-size: $typography-h4-font-size;
	line-height: $typography-h4-line-height;
}

$typography-h4-adaptive-font-weight: 400;
$typography-h4-adaptive-font-size: 1.25rem;
$typography-h4-adaptive-line-height: 1.75rem;

@mixin typography-h4-adaptive {
	font-weight: $typography-h4-adaptive-font-weight;
	font-size: $typography-h4-adaptive-font-size;
	line-height: $typography-h4-adaptive-line-height;
}

$typography-h5-font-weight: 500;
$typography-h5-font-size: 1.5rem;
$typography-h5-line-height: 1.5;

@mixin typography-h5 {
	font-weight: $typography-h5-font-weight;
	font-size: $typography-h5-font-size;
	line-height: $typography-h5-line-height;
}

$typography-h6-font-weight: 500;
$typography-h6-font-size: 1.25rem;
$typography-h6-line-height: 1.4;

@mixin typography-h6 {
	font-weight: $typography-h6-font-weight;
	font-size: $typography-h6-font-size;
	line-height: $typography-h6-line-height;
}

$typography-subtitle1-font-weight: 500;
$typography-subtitle1-font-size: 1rem;
$typography-subtitle1-line-height: 1.5rem;

@mixin typography-subtitle1 {
	font-weight: $typography-subtitle1-font-weight;
	font-size: $typography-subtitle1-font-size;
	line-height: $typography-subtitle1-line-height;
}

$typography-subtitle2-font-weight: 500;
$typography-subtitle2-font-size: 0.875rem;
$typography-subtitle2-line-height: 1.25rem;

@mixin typography-subtitle2 {
	font-weight: $typography-subtitle2-font-weight;
	font-size: $typography-subtitle2-font-size;
	line-height: $typography-subtitle2-line-height;
}

$typography-body1-font-weight: 400;
$typography-body1-font-size: 1.25rem;
$typography-body1-line-height: 1.4;

@mixin typography-body1 {
	font-weight: $typography-body1-font-weight;
	font-size: $typography-body1-font-size;
	line-height: $typography-body1-line-height;
}

$typography-body1-adaptive-font-weight: 400;
$typography-body1-adaptive-font-size: 1rem;
$typography-body1-adaptive-line-height: 1.5;

@mixin typography-body1-adaptive {
	font-weight: $typography-body1-adaptive-font-weight;
	font-size: $typography-body1-adaptive-font-size;
	line-height: $typography-body1-adaptive-line-height;
}

$typography-body2-font-weight: 400;
$typography-body2-font-size: 1rem;
$typography-body2-line-height: 1.5;

@mixin typography-body2 {
	font-weight: $typography-body2-font-weight;
	font-size: $typography-body2-font-size;
	line-height: $typography-body2-line-height;
}

$typography-body2-adaptive-font-weight: 400;
$typography-body2-adaptive-font-size: 0.875rem;
$typography-body2-adaptive-line-height: 1.428;

@mixin typography-body2-adaptive {
	font-weight: $typography-body2-adaptive-font-weight;
	font-size: $typography-body2-adaptive-font-size;
	line-height: $typography-body2-adaptive-line-height;
}

$typography-body2-text-font-weight: 400;
$typography-body2-text-font-size: 0.875rem;
$typography-body2-text-line-height: 1.5;

@mixin typography-body2-text {
	font-weight: $typography-body2-text-font-weight;
	font-size: $typography-body2-text-font-size;
	line-height: $typography-body2-text-line-height;
}

$typography-caption-font-weight: 400;
$typography-caption-font-size: 0.75rem;
$typography-caption-line-height: 1rem;

@mixin typography-caption {
	font-weight: $typography-caption-font-weight;
	font-size: $typography-caption-font-size;
	line-height: $typography-caption-line-height;
}


$desktop: 1920px;
$small-desktop: 1600px;
$laptop: 1440px;
$small-laptop: 1280px;
$tablet: 1024px;
$small-tablet: 768px;
$mobile: 420px;

$animation-fast: .125s;
$animation-normal: .25s;
$animation-slow: .5s;

$grid-columns: 12;

$z-index-header: 100;
$z-index-header-menu-overlay: 200;
$z-index-header-menu: 250;
$z-index-video-player: 500;
$z-index-modal: 1000;
$z-index-dropdown-overlay: 1200;
$z-index-dropdown-menu: 1250;
$z-index-popper: 1400;
$z-index-tooltip: 1600;

$scrollbar-width: 0.5rem;

$header-height-desktop: 5.5rem;
$header-height-mobile: 4rem;

$container-padding-desktop: 11.25rem;
$container-padding-mobile: 1.5rem;
$container-padding-adaptive: get-adaptive-value($container-padding-desktop, $container-padding-mobile);





// MIXINS & FUNCTIONS

@function strip-unit($number) {
	@if type-of($number) == 'number' and not unitless($number) {
		@return math.div($number, $number * 0 + 1);
	}

	@return $number;
}

@function get-adaptive-value($big-value, $small-value, $big-screen: $desktop, $small-screen: $mobile) {
	$increment: $big-value - $small-value;
	@return clamp(#{$small-value}, #{$small-value} + #{strip-unit($increment)} * (100vw - #{$small-screen}) / (#{strip-unit($big-screen - $small-screen)} / var(--rem)), #{$big-value});
}

//@function get-true-adaptive-value($big-value, $small-value, $big-screen: $desktop, $small-screen: $mobile) {
//	$fixed: $small-value - math.div(($big-value - $small-value) * $small-screen, $big-screen - $small-screen);
//	$float: math.div(($big-value - $small-value) * 1000, $big-screen - $small-screen);
//
//	@return clamp(#{$small-value}, calc(#{$fixed} + #{strip-unit($float) * 0.1vw}), #{$big-value});
//}

@function get-column-width($max-columns, $gap, $columns) {
	@return calc(((100% - #{$gap} * #{$max-columns - 1}) / #{$max-columns} + #{$gap}) * #{$columns} - #{$gap});
}

@function to-rgba($color) {
	$result: rgba(color.red($color), color.green($color), color.blue($color), color.alpha($color));
	@return $result;
}

@function mono-gradient($color) {
	$result: linear-gradient(to right, $color, $color);
	@return $result;
}


// ANIMATIONS

@keyframes fadeOut {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
