
// VARIABLES

@use "sass:math";

$color-prime-main: #FF6500;
$color-prime-light: #FFD1B2;
$color-prime-contrast: #fff;
$color-dark-background: rgba(33, 33, 33, 0.48); // delete
$color-light-background: #3a3a45;  // delete

$color-background: #F7F7FA;
$color-background-upper1: #FFF;
$color-background-lower1: #F0EFEF;

$color-overlay: rgba(0,0,0,0.5);

$color-text-prime: rgba(40, 30, 28, 0.92);
$color-text-secondary: rgba(40, 30, 28, 0.64);
$color-text-more-secondary: rgba(40, 30, 28, 0.32);

$color-action-hover: rgba(52, 20, 0, 0.06);

$color-background-inverted: linear-gradient(0deg, rgba(255, 255, 255, 0.92), rgba(255, 255, 255, 0.92)), #1E223A;  // delete
$color-text-prime-inverted: rgba(0,0,0,0.92);  // delete
$color-text-secondary-inverted: rgba(0,0,0,0.64);  // delete
$color-text-more-secondary-inverted: rgba(0, 0, 0, 0.32);  // delete

$color-error: #F44336;

$desktop: 1920px;
$laptop: 1440px;
$tablet: 1024px;
$small-tablet: 768px;
$mobile: 420px;

$animation-hover: .125s;
$animation-unhover: .25s;
$animation-appear: .25s;
$animation-disappear: .5s;

$grid-columns: 12;

$z-index-header: 100;
$z-index-header-menu-overlay: 200;
$z-index-header-menu: 250;
$z-index-video-player: 500;
$z-index-dropdown-overlay: 1000;
$z-index-dropdown-menu: 1050;
$z-index-modal: 1200;

$scrollbar-width: 0.5rem;

$header-height-desktop: 5.5rem;
$header-height-mobile: 4rem;

$container-padding-mobile: 1.5rem;
$container-padding-desktop: 11.25rem;





// MIXINS & FUNCTIONS

@function strip-unit($number) {
	@if type-of($number) == 'number' and not unitless($number) {
		@return math.div($number, $number * 0 + 1);
	}

	@return $number;
}

@function get-adaptive-value($big-value, $small-value, $big-screen: $desktop, $small-screen: $mobile) {
	$increment: $big-value - $small-value;
	@return clamp(#{$small-value}, #{$small-value} + #{strip-unit($increment)} * (100vw - #{$small-screen}) / (#{strip-unit($big-screen - $small-screen)} / var(--rem)), #{$big-value});
}

//@function get-true-adaptive-value($big-value, $small-value, $big-screen: $desktop, $small-screen: $mobile) {
//	$fixed: $small-value - math.div(($big-value - $small-value) * $small-screen, $big-screen - $small-screen);
//	$float: math.div(($big-value - $small-value) * 1000, $big-screen - $small-screen);
//
//	@return clamp(#{$small-value}, calc(#{$fixed} + #{strip-unit($float) * 0.1vw}), #{$big-value});
//}

@function get-column-width($max-columns, $gap, $columns) {
	@return calc(((100% - #{$gap} * #{$max-columns - 1}) / #{$max-columns} + #{$gap}) * #{$columns} - #{$gap});
}

// ANIMATIONS

@keyframes fadeOut {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


// CSS VARIABLES

html {
	--grid-gap: 1rem;
	--grid-column: calc((100% - var(--grid-gap) * #{$grid-columns - 1}) / #{$grid-columns});
	--grid-column-gap: calc(var(--grid-gap) + var(--grid-column));
	--border-radius: 2rem;
}