@import "../variables";
@import "../mixins";

// btn

.btn {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	gap: 0.75rem;

	border: none;
	border-radius: 4rem;
	outline: 0;
	font-weight: 500;
	padding: 0.583em 1em;
	font-size: 1.5rem;
	line-height: 1.5;
	white-space: nowrap;

	color: $color-prime-contrast;
	background: $color-prime-main;

	cursor: pointer;
	@include shadow-hovering;

	.icon {
		margin-top: -50%;
		margin-bottom: -50%;
	}

	&:hover {
		text-decoration: none;
	}
}

.btn-outlined {
	background: 0 0;
	border: 1px solid $color-prime-main;
	color: $color-text-prime;
	transition: background $animation-normal;
	box-shadow: none;

	.icon {
		color: $color-prime-main;
	}

	&:hover:not(.without-hover) {
		box-shadow: none;
		background: $color-action-hover;
		transition: background $animation-fast;
	}
}

.btn-text {
	color: $color-prime-main;
	border: none;
	background: transparent;
	box-shadow: none;

	&:hover:not(.without-hover) {
		box-shadow: none;
	}
}

.icon-btn {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 3rem;
	height: 3rem;
	font-size: 1.25rem;

	padding: 0;
	border: none;

	background: $color-text-more-secondary;
	color: $color-background;

	.icon {
		font-size: inherit;
	}

	&.rounded {
		border-radius: 50%;
	}

	&.small {
		width: 2rem;
		height: 2rem;
		font-size: 0.875rem;
	}
}

.more-btn {

	.more-btn__show-more,
	.more-btn__hide {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: center;
		gap: 0.75rem;
	}

	.more-btn__show-more {
		color: inherit;
	}

	.more-btn__hide {
		color: inherit;
		display: none;
	}

	&.expanded {

		.more-btn__show-more {
			display: none;
		}

		.more-btn__hide {
			display: initial;
		}
	}
}

// ADAPTIVE

@media (max-width: $laptop) {

	.btn {
		font-size: 1.25rem;
	}
}


@media (max-width: $mobile) {

	.btn {
		padding: 0.875em 0.75em;
		font-size: 1rem;
		line-height: 1.25;
	}

}