@import "../variables";
@import "../mixins";

// btn

.btn {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	gap: 12px;

	border: none;
	border-radius: 64px;
	outline: 0;
	font-weight: 500;
	padding: 14px 24px;
	font-size: 24px;
	line-height: 36px;
	white-space: nowrap;

	color: $color-prime-contrast;
	background: $color-prime;

	cursor: pointer;
}

.btn-outlined {
	background: 0 0;
	border: 1px solid $color-prime;
	color: #fff;
	transition: background $animation-unhover;

	.icon {
		color: $color-prime;
	}

	&:hover {
		opacity: 1;
		background: change-color($color-prime, $alpha: 0.12);
		transition: background $animation-hover;
	}
}

.btn-text {
	color: $color-prime;
	border: none;
	background: transparent;
}

.icon-btn {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 48px;
	height: 48px;
	font-size: 20px;

	padding: 0;
	border: none;

	background: $color-text-more-secondary;
	color: $color-background;

	.icon {
		font-size: inherit;
	}

	&.rounded {
		border-radius: 50%;
	}

	&.small {
		width: 32px;
		height: 32px;
		font-size: 14px;
	}
}

.more-btn {

	.more-btn__show-more,
	.more-btn__hide {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: center;
		gap: 12px;
	}

	.more-btn__show-more {
		color: inherit;
	}

	.more-btn__hide {
		color: inherit;
		display: none;
	}

	&.expanded {

		.more-btn__show-more {
			display: none;
		}

		.more-btn__hide {
			display: initial;
		}
	}
}

// ADAPTIVE

@media (max-width: $desktop) and (min-width: $mobile + 1) {

	.btn {
		font-size: get-adaptive-value(24px, 16px);
		padding: get-adaptive-value(24px, 12px);
		line-height: get-adaptive-value(36px, 20px);
	}

}

@media (max-width: $laptop) {

}

@media (max-width: $tablet) {


}

@media (max-width: $small-tablet) {

}

@media (max-width: $mobile) {

	.btn {
		padding: 14px 12px;
		font-size: 16px;
		line-height: 20px;
	}

}