@import "../variables";
@import "../mixins";


// MAIN

.checkbox {
	display: flex;
	align-items: center;
	gap: 1rem;

	font-size: 1rem;
	line-height: 1.5rem;
}

.checkbox__mark {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 2rem;
	height: 2rem;
}

.checkbox__mark-unchecked-icon {
	width: 1.25rem;
	height: 1.25rem;
	color: $color-text-secondary;
	transition: color $animation-unhover;
}

.checkbox__mark-checked-icon {
	display: none;

	width: 1.25rem;
	height: 1.25rem;

	color: $color-prime-main;
}

.checkbox__input {
	position: absolute;
	opacity: 0;

	&:checked {

		& + .checkbox__mark {

			.checkbox__mark-unchecked-icon {
				display: none;
			}

			.checkbox__mark-checked-icon {
				display: initial;
			}
		}

	}
}

.checkbox:hover {
	cursor: pointer;

	.checkbox__mark-unchecked-icon {
		color: $color-prime-main;
		transition: color $animation-hover;
	}
}

// ADAPTIVE

@media (max-width: $mobile) {
	.checkbox {
		font-size: 0.875rem;
		line-height: 1.25rem;
	}
}