@import "../variables";
@import "../mixins";


// MAIN

#dropdownOverlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: $z-index-dropdown-overlay;

	&:not(.active) {
		display: none;
	}
}

.dropdown__menu {
	z-index: $z-index-dropdown-menu;
	opacity: 1;

	padding: 8px 0;
	border-radius: 8px;
	background: $color-light-background;
	transition: opacity $animation-appear;

	&:not(.ready) {
		display: none;
	}

	&:not(.open) {
		opacity: 0;
		pointer-events: none;
		transition: opacity $animation-disappear;
	}
}

.dropdown__menu-item {
	padding: 14px 24px;

	font-size: 24px;
	line-height: 36px;
	white-space: nowrap;

	transition: background $animation-unhover;

	&:hover {
		background: $color-action-hover;
		cursor: pointer;
		transition: background $animation-hover;
	}
}


// ADAPTIVE

@media (max-width: $desktop) and (min-width: $mobile + 1) {
	.dropdown__menu-item {
		padding: get-adaptive-value(14px, 8px) get-adaptive-value(24px, 16px);
		font-size: get-adaptive-value(24px, 16px);
		line-height: get-adaptive-value(36px, 20px);
	}
}

@media (max-width: $laptop) {

}

@media (max-width: $tablet) {

}

@media (max-width: $small-tablet) {

}

@media (max-width: $mobile) {

	.dropdown__menu-item {
		padding: 8px 16px;
		font-size: 16px;
		line-height: 32px;
	}

}