@import "../variables";
@import "../mixins";


// MAIN

#dropdownOverlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: $z-index-dropdown-overlay;

	&:not(.active) {
		display: none;
	}
}

.dropdown__menu {
	z-index: $z-index-dropdown-menu;
	opacity: 1;

	padding: 0.5rem 0;
	border-radius: 0.5rem;
	background: $color-light-background;
	transition: opacity $animation-appear;

	&:not(.ready) {
		display: none;
	}

	&:not(.open) {
		opacity: 0;
		pointer-events: none;
		transition: opacity $animation-disappear;
	}
}

.dropdown__menu-item {
	padding: 0.875rem 1.5rem;

	font-size: 1.5rem;
	line-height: 2.25rem;
	white-space: nowrap;

	transition: background $animation-unhover;

	&:hover {
		background: $color-background;
		cursor: pointer;
		transition: background $animation-hover;
	}

	&.selected {
		background: $color-prime-main;
		color: $color-prime-contrast
	}
}


// ADAPTIVE

@media (max-width: $mobile) {

	.dropdown__menu-item {
		padding: 0.5rem 1rem;
		font-size: 1rem;
		line-height: 2rem;
	}

}