@import "../variables";
@import "../mixins";


// MAIN

.form {
	.textfield + .textfield {
		margin-top: 32px;
	}

	.checkbox + .textfield,
	.textfield + .checkbox {
		margin-top: 48px;
	}

	.checkbox + .checkbox {
		margin-top: 16px;
	}
}

// registration

.registration-form {

	.textfield + .registration-form__inviter,
	.checkbox + .registration-form__inviter {
		margin-top: 32px;
	}
}

.registration-form__inviter {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	gap: 8px;

	font-size: 16px;
	line-height: 24px;
}

.registration-form__inviter-title {
	color: $color-text-secondary
}

.registration-form__inviter-name {
	color: $color-text-prime
}

.registration-form__inviter-email {
	color: $color-text-prime
}

// calculator

.calc-form {
	.textfield + .calc-form__result {
		margin-top: 40px;
	}
}

$result-padding: 8px;

.calc-form__result {
	display: flex;
	flex-direction: column;
	padding: 0 $result-padding;
}

.calc-form__result-section + .calc-form__result-section {
	margin-top: 24px;
}

.calc-form__result-section-title {
	font-size: 16px;
	line-height: 24px;
	color: $color-text-secondary;

	padding-bottom: 10px;
	border-bottom: 1px solid $color-text-secondary;
	margin-bottom: 8px;
}

.calc-form__result-row {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;

	padding: 12px 0;

	font-size: 20px;
	line-height: 28px;
}

.calc-form__result-divider {
	margin-top: 40px;
	margin-bottom: 8px;
	margin-left: -$result-padding;
	margin-right: -$result-padding;
	border-bottom: 1px solid $color-text-secondary;
}

.calc-form__result-conclusion {
	margin-bottom: 24px;
}


// ADAPTIVE

@media (max-width: $desktop) and (min-width: $mobile + 1) {

	.registration-form__inviter {
		font-size: get-adaptive-value(16px, 14px);
		line-height: get-adaptive-value(24px, 20px);
	}
}

@media (max-width: $laptop) {

}

@media (max-width: $tablet) {


}

@media (max-width: $small-tablet) {

	.form {
		.textfield + .textfield {
			margin-top: 32px;
		}

		.checkbox + .textfield,
		.textfield + .checkbox {
			margin-top: 48px;
		}

		.checkbox + .checkbox {
			margin-top: 16px;
		}
	}


	.registration-form__inviter {
		font-size: 14px;
		line-height: 20px;
	}


	$result-padding: 8px;

	.calc-form {
		.text + .textfield {
			margin-top: 8px;
		}
	}

	.calc-form__result {
		padding: 0;
	}

	.calc-form__result-section + .calc-form__result-section {
		margin-top: 32px;
	}

	.calc-form__result-section-title {
		color: $color-text-prime;

		padding-bottom: 16px;
		margin-bottom: 16px;
	}

	.calc-form__result-row {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;

		padding: 0;
	}

	.calc-form__result-row + .calc-form__result-row {
		margin-top: 16px;
	}

	.calc-form__result-row-key {
		color: $color-text-secondary;
		font-size: 14px;
		line-height: 20px;
	}

	.calc-form__result-row-value {
		font-size: 16px;
		line-height: 24px;
	}

	.calc-form__result-divider {
		margin: 32px 0;
	}

	.calc-form__result-conclusion {
		margin-bottom: 0;
	}
}

@media (max-width: $mobile) {

}