@import "../variables";
@import "../mixins";


// MAIN

.form {
	.textfield + .textfield {
		margin-top: 2rem;
	}

	.checkbox + .textfield,
	.textfield + .checkbox {
		margin-top: 3rem;
	}

	.checkbox + .checkbox {
		margin-top: 1rem;
	}
}

// registration-form

.registration-form {

	.textfield + .registration-form__inviter,
	.checkbox + .registration-form__inviter {
		margin-top: 2rem;
	}
}

.registration-form__inviter {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	gap: 0.5rem;

	font-size: 1rem;
	line-height: 1.5rem;
}

.registration-form__inviter-title {
	color: $color-text-secondary
}

.registration-form__inviter-name {
	color: $color-text-prime
}

.registration-form__inviter-email {
	color: $color-text-prime
}

// calc-form

.calc-form {
	.textfield + .calc-form__result {
		margin-top: 2.5rem;
	}
}

$result-padding: 0.5rem;

.calc-form__result {
	display: flex;
	flex-direction: column;
	padding: 0 $result-padding;
}

.calc-form__result-section + .calc-form__result-section {
	margin-top: 1.5rem;
}

.calc-form__result-section-title {
	font-size: 1rem;
	line-height: 1.5rem;
	color: $color-text-secondary;

	padding-bottom: 0.625rem;
	border-bottom: 1px solid $color-text-secondary;
	margin-bottom: 0.5rem;
}

.calc-form__result-row {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;

	padding: 0.75rem 0;

	font-size: 1.25rem;
	line-height: 1.75rem;
}

.calc-form__result-divider {
	margin-top: 2.5rem;
	margin-bottom: 0.5rem;
	margin-left: -$result-padding;
	margin-right: -$result-padding;
	border-bottom: 1px solid $color-text-secondary;
}

.calc-form__result-conclusion {
	margin-bottom: 1.5rem;
}

// balance-form

.balance-form__qr {
	padding: 0.5rem;
	border-radius: 0.5rem;

	max-width: 10.875rem;
	max-height: 10.875rem;
	width: 10.875rem;
	height: 10.875rem;

	background: #fff;

	margin: 0 auto;

	& > * {
		max-width: 100%;
		max-height: 100%;
	}
}

.balance-form__qr-hint {
	font-size: 1.25rem;
	line-height: 1.75rem;
	text-align: center;

	margin: 2rem 0;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}


.balance-form__link-copier-hint {
	font-size: 1rem;
	line-height: 1.5rem;
	text-align: center;

	margin: 1.5rem 0;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}


// ADAPTIVE

@media (max-width: $mobile) {

	.registration-form__inviter {
		font-size: 0.875rem;
		line-height: 1.25rem;
	}

	.balance-form__qr-hint {
		font-size: 1rem;
		line-height: 1.5rem;
	}

	.balance-form__link-copier-hint {
		font-size: 0.875rem;
		line-height: 1.25rem;
	}
}