@import "../variables";
@import "../mixins";

html.modal-open {
	overflow: hidden;
	scroll-behavior: auto;
	padding-right: $scrollbar-width;

	@media (hover: none) {
		padding-right: 0;
	}
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	max-width: 100vw;

	z-index: $z-index-modal;
	overflow-y: auto;
	overflow-x: hidden;

	pointer-events: none;
	opacity: 0;
	transition: opacity $animation-slow;

	background: $color-overlay;
	backdrop-filter: blur(4rem);
	-webkit-backdrop-filter: blur(4rem);

	&:not(.ready) {
		display: none;
	}

	@include with-custom-scrollbar ($z-index-modal + 1);
}


.modal__content {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 2.75rem 1rem;

	max-width: 100%;
	min-height: 100%;
	position: relative;
	z-index: 20;
}

.modal.open {
	opacity: 1;
	pointer-events: auto;
	transition: opacity $animation-normal;

	.modal__overlay {
		opacity: 1;
		pointer-events: auto;
	}

}

.modal__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.modal__dialog {
	flex-shrink: 0;
	padding: 3rem;
	border-radius: 2rem;
	background: $color-background;
	min-width: 0;
	max-width: 541px;
	width: 100%;
	z-index: 20;
}

.modal__dialog-title {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 1rem;

	margin-bottom: 2rem;

	font-size: 2.25rem;
	line-height: 3rem;
}

.modal__dialog-close-btn {
	flex-shrink: 0;
	flex-grow: 0;
}

.modal__dialog-actions {
	display: flex;
	justify-content: center;
	width: 100%;
}

.modal__dialog-sub-actions {
	margin-bottom: -1rem;
	margin-top: 1.5rem;

	font-size: 1rem;
	line-height: 1.5rem;
	text-align: center;
}

.modal__dialog-content {
	margin-bottom: 2rem;
}

// ADAPTIVE

@media (max-width: $mobile) {


	.modal__dialog {
		padding: 2rem;
		border-radius: 1rem;
	}

	.modal__dialog-title {
		font-size: 1.25rem;
		line-height: 1.75rem;
	}

	.modal__dialog-sub-actions {
		margin-bottom: 0px;
		font-size: 0.875rem;
		line-height: 1.25rem;
	}
}