@import "../variables";
@import "../mixins";


// MAIN

.paper {
	@include paper;

	&.elevation1 {
		@include paper-elevation1;
	}
}

// container

.container {
	padding: 0 calc((100vw - (#{$desktop} - #{$container-padding-desktop * 2})) * 0.5);
	margin: 0 auto;
	position: relative;
	overflow-y: visible;
	overflow-x: visible;

	&.dark {
		background: $color-background-lower1;
	}
}

// page-block

.page-block {
	padding: 8rem 0;

	&.main {
		padding-top: 5rem;
	}

}

.page-block__title {
	text-shadow: 0 0 48px rgba(125, 251, 248, 0.6);

	@include typography-h2;

	margin-bottom: 4rem;

	&.small {
		@include typography-h3;
	}
}

// link

.link {
	cursor: pointer;
	text-decoration: underline;
	transition: color $animation-normal;

	&:hover {
		color: $color-prime-main;
		text-decoration: none;
		transition: color $animation-fast;
	}
}

// overlay

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: $color-dark-background;
	opacity: 0;
	pointer-events: none;
	transition: opacity $animation-slow;

	&.open {
		opacity: 1;
		pointer-events: auto;
		transition: opacity $animation-normal;
	}
}

// texts

.subtitle1 {
	@include typography-subtitle1;
}

.h5 {
	@include typography-h5;
}

// icon

.icon {
	display: inline-block;
	font-size: 24px;
	width: 1em;
	height: 1em;
	color: inherit;
	fill: currentcolor;
	vertical-align: middle;

	use {
		width: 1em;
		height: 1em;
		color: inherit;
		fill: currentcolor;
	}
}

// card

.card {
	background: $color-dark-background;
	border-radius: 2rem;
	padding: 3rem;

	&.small {
		padding: 1.5rem;
	}
}

// collapse

.collapse {
	height: 0;
	overflow: hidden;
}

// scroll container

.scroll-container {
	overflow: hidden;
	max-width: 100%;
	max-height: 100%;
	border-radius: 1rem;

	&.disable-scroll-y {

		.scroll-container__inner {
			overflow-y: hidden;
		}
	}
}

.scroll-container__inner {
	@include with-custom-scrollbar;
	overflow: auto;
	max-width: 100%;
	max-height: 100%;
}

// popper


// popper

.popper {
	position: fixed;
	opacity: 0;
	pointer-events: none;
	transition: opacity $animation-slow;
	z-index: $z-index-popper;

	&.open {
		opacity: 1;
		pointer-events: auto;
		transition: opacity $animation-normal;
	}
}

.popper-overlay {
	@include overlay($z-index-popper - 1);
}


// ADAPTIVE

@media (max-width: $desktop) {

	// container

	.container {
		padding: 0 $container-padding-adaptive;
	}

	// page-block

	.page-block {
		padding: get-adaptive-value(8rem, 2rem) 0;

		&.main {
			padding-top: get-adaptive-value(5rem, 1.5rem);
		}
	}

	.page-block__title {
		margin-bottom: get-adaptive-value(4rem, 2rem);
	}

}


@media (max-width: 1650px) {

	// page-block

	.page-block__title {
		font-size: 4.5rem;

		&.small {
			font-size: 3.125rem;
		}
	}

}

@media (max-width: $laptop) {

	// page-block

	.page-block__title {
		font-size: 4rem;

		&.small {
			font-size: 2.75rem;
		}
	}

}

@media (max-width: $small-laptop) {

	// page-block

	.page-block__title {
		font-size: 3rem;

		&.small {
			font-size: 2.25rem;
		}
	}

}


@media (max-width: $tablet) {

	// page-block

	.page-block__title {
		font-size: 2.5rem;

		&.small {
			font-size: 2rem;
		}
	}

}

@media (max-width: $mobile) {

	// container

	.container {
		padding: 0 $container-padding-mobile;
		max-width: 100%;
	}

	// page-block

	.page-block {
		padding: 2rem 0;

		&.main {
			padding-top: 1.5rem;
		}
	}

	.page-block__title {
		@include typography-h3-adaptive;
		margin-bottom: 1.5rem;
		
		&.small {
			@include typography-h3-adaptive;
		}
	}

	// text

	.card {
		border-radius: 1rem;
		padding: 2rem;
	}


}

