@import "../variables";
@import "../mixins";


// MAIN

// container

.container {
	padding: 0 calc((100vw - (#{$desktop} - #{$container-padding-desktop * 2})) * 0.5);
	margin: 0 auto;
	position: relative;
	overflow-y: visible;
	overflow-x: visible;

	&.dark {
		background: $color-background-lower1;
	}
}

// page-block

.page-block {
	padding: 8rem 0;

	&.main {
		padding-top: 5rem;
	}

}

.page-block__title {
	font-family: Golos, sans-serif;
	font-style: normal;

	@include typography-h2;

	margin-bottom: 4rem;
}

// link

.link {
	cursor: pointer;
	text-decoration: underline;
	transition: color $animation-normal;

	&:hover {
		color: $color-prime-main;
		text-decoration: none;
		transition: color $animation-fast;
	}
}

// overlay

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: $color-dark-background;
	opacity: 0;
	pointer-events: none;
	transition: opacity $animation-slow;

	&.open {
		opacity: 1;
		pointer-events: auto;
		transition: opacity $animation-normal;
	}
}

// text

.text {
	font-family: 'Golos';
	font-style: normal;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 2.25rem;

	&.small {
		font-size: 1.25rem;
		line-height: 1.75rem;
		color: $color-text-secondary;
	}

	&.big {
		font-size: 2.25rem;
		line-height: 3rem;
	}

	&.margin-bottom-small {
		margin-bottom: 1.5rem;
	}

	&.margin-bottom-medium {
		margin-bottom: 2rem;
	}

	&.margin-bottom-big {
		margin-bottom: 3rem;
	}

	&.margin-top-big {
		margin-top: 3rem;
	}
}

.subtitle1 {
	@include typography-subtitle1;
}

.h5 {
	@include typography-h5;
}

// icon

.icon {
	display: inline-block;
	font-size: 24px;
	width: 1em;
	height: 1em;
	color: inherit;
	fill: currentcolor;
	vertical-align: middle;

	use {
		width: 1em;
		height: 1em;
		color: inherit;
		fill: currentcolor;
	}
}

// card

.card {
	background: $color-dark-background;
	border-radius: 2rem;
	padding: 3rem;

	&.small {
		padding: 1.5rem;
	}
}

// collapse

.collapse {
	height: 0;
	overflow: hidden;
}

// scroll container

.scroll-container {
	overflow: hidden;
	max-width: 100%;
	max-height: 100%;
	border-radius: 1rem;

	&.disable-scroll-y {

		.scroll-container__inner {
			overflow-y: hidden;
		}
	}
}

.scroll-container__inner {
	@include with-custom-scrollbar;
	overflow: auto;
	max-width: 100%;
	max-height: 100%;
}


// ADAPTIVE

@media (max-width: $desktop) {

	// container

	.container {
		padding: 0 $container-padding-adaptive;
	}

	// page-block

	.page-block {
		padding: get-adaptive-value(8rem, 2rem) 0;
	}

	.page-block__title {
		margin-bottom: get-adaptive-value(4rem, 2rem);
	}

}


@media (max-width: 1650px) {

	// page-block

	.page-block__title {
		font-size: 4.5rem;
	}

}

@media (max-width: $laptop) {

	// page-block

	.page-block__title {
		font-size: 4rem;
	}

}

@media (max-width: $small-laptop) {

	// page-block

	.page-block__title {
		font-size: 3.5rem;
	}

}


@media (max-width: $tablet) {

	// page-block

	.page-block__title {
		font-size: 3rem;
	}

}

@media (max-width: $mobile) {

	// container

	.container {
		padding: 0 $container-padding-mobile;
		max-width: 100%;
	}

	// page-block

	.page-block {
		padding: 2rem 0;

		&.main {
			padding-top: 1.5rem;
		}
	}

	.page-block__title {
		font-size: 2rem;
		margin-bottom: 2rem;
	}

	// text

	.text {
		font-size: 1.25rem;
		line-height: 1.75rem;

		&.small {
			font-size: 1rem;
			line-height: 1.5rem;
		}

		&.big {
			font-size: 1.75rem;
			line-height: 2.25rem;
		}

		&.margin-bottom-small {
			margin-bottom: 2rem;
		}

		&.margin-bottom-medium {
			margin-bottom: 2rem;
		}

		&.margin-bottom-big {
			margin-bottom: 2rem;
		}

		&.margin-top-big {
			margin-top: 2rem;
		}
	}

	.card {
		border-radius: 1rem;
		padding: 2rem;
	}


}