@import "../variables";
@import "../mixins";


// MAIN

// container

.container {
	padding: 0 calc((100vw - (#{$desktop} - #{$container-padding-desktop * 2})) * 0.5);
	margin: 0 auto;
	position: relative;
	overflow-y: visible;
	overflow-x: hidden;
}

// block

.block {
	padding: 8rem 0;

	&.main {
		padding-top: 5rem;
	}

}

// title

h2.title {
	font-family: Golos, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 5rem;
	line-height: 1.3;
	letter-spacing: 0.01em;
	margin-bottom: 4rem;
}

.subtitle {
	font-size: 1.5rem;
	line-height: 2.25rem;
}

.title + .subtitle {
	margin-top: 1rem;
}

// link

.link {
	cursor: pointer;
	text-decoration: underline;
	transition: color $animation-unhover;

	&:hover {
		color: $color-prime-main;
		text-decoration: none;
		transition: color $animation-hover;
	}
}

// overlay

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: $color-dark-background;
	opacity: 0;
	pointer-events: none;
	transition: opacity $animation-disappear;

	&.open {
		opacity: 1;
		pointer-events: auto;
		transition: opacity $animation-appear;
	}
}

// text

.text {
	font-family: 'Golos';
	font-style: normal;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 2.25rem;

	&.small {
		font-size: 1.25rem;
		line-height: 1.75rem;
		color: $color-text-secondary;
	}

	&.big {
		font-size: 2.25rem;
		line-height: 3rem;
	}

	&.margin-bottom-small {
		margin-bottom: 1.5rem;
	}

	&.margin-bottom-medium {
		margin-bottom: 2rem;
	}

	&.margin-bottom-big {
		margin-bottom: 3rem;
	}

	&.margin-top-big {
		margin-top: 3rem;
	}
}

// icon

.icon {
	display: inline-block;
	font-size: 24px;
	width: 1em;
	height: 1em;
	color: inherit;
	fill: currentcolor;
	vertical-align: middle;

	use {
		width: 1em;
		height: 1em;
		color: inherit;
		fill: currentcolor;
	}
}

// card

.card {
	background: $color-dark-background;
	border-radius: 2rem;
	padding: 3rem;

	&.small {
		padding: 1.5rem;
	}
}

// collapse

.collapse {
	height: 0;
	overflow: hidden;
}


// ADAPTIVE

@media (max-width: $desktop) and (min-width: $mobile + 1) {

	// container

	.container {
		padding: 0 $container-padding-adaptive;
	}

}

@media (max-width: $mobile) {

	// container

	.container {
		padding: 0 $container-padding-mobile;
		max-width: 100%;
	}

	.block {
		padding: 2rem 0;

		&.main {
			padding-top: 1.5rem;
		}
	}

	h1.title {
		font-size: 3rem;
		line-height: 3.5rem;
	}

	h2.title {
		font-size: 2rem;
		line-height: 2.5rem;
		margin-bottom: 2rem;
	}

	.subtitle {
		font-size: 0.875rem;
		line-height: 1.25rem;
	}

	.title + .subtitle {
		margin-top: 0.5rem;
	}

	.text {
		font-size: 1.25rem;
		line-height: 1.75rem;

		&.small {
			font-size: 1rem;
			line-height: 1.5rem;
		}

		&.big {
			font-size: 1.75rem;
			line-height: 2.25rem;
		}

		&.margin-bottom-small {
			margin-bottom: 2rem;
		}

		&.margin-bottom-medium {
			margin-bottom: 2rem;
		}

		&.margin-bottom-big {
			margin-bottom: 2rem;
		}

		&.margin-top-big {
			margin-top: 2rem;
		}
	}

	.card {
		border-radius: 1rem;
		padding: 2rem;
	}


}