@import "../variables";
@import "../mixins";


// MAIN

// container

.container {
	padding: 0 calc((100vw - (#{$desktop} - #{$container-padding-desktop * 2})) * 0.5);
	margin: 0 auto;
	position: relative;
	overflow: visible;
}

// block

.block {
	margin-top: 96px;
	margin-bottom: 184px;

	&.main {
		margin-top: 80px;
		margin-bottom: 0;
	}
}

// title

h1.title {
	font-family: Golos, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 120px;
	line-height: 128px;
	letter-spacing: 0.01em;
}

h2.title {
	font-family: Golos, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 80px;
	line-height: 104px;
	/* identical to box height, or 130% */

	letter-spacing: 0.01em;

	margin-bottom: 64px;
}

// link

.link {
	cursor: pointer;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

// overlay

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: $color-dark-background;
	opacity: 0;
	pointer-events: none;
	transition: opacity $animation-disappear;

	&.open {
		opacity: 1;
		pointer-events: auto;
		transition: opacity $animation-appear;
	}
}

// text

.text {
	font-family: 'Golos';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;

	&.small {
		font-size: 20px;
		line-height: 28px;
		color: $color-text-secondary;
	}

	&.big {
		font-size: 36px;
		line-height: 48px;
	}

	&.margin-bottom-small {
		margin-bottom: 24px;
	}

	&.margin-bottom-medium {
		margin-bottom: 32px;
	}

	&.margin-bottom-big {
		margin-bottom: 48px;
	}

	&.margin-top-big {
		margin-top: 48px;
	}
}

// card

.card {
	background: $color-dark-background;
	border-radius: 32px;
	padding: 48px;

	&.small {
		padding: 24px;
	}
}

// collapse

.collapse {
	height: 0;
	overflow: hidden;
}


// ADAPTIVE

@media (max-width: $desktop) and (min-width: $mobile + 1) {

	.container {
		padding: 0 get-adaptive-value($container-padding-desktop, $container-padding-mobile);
	}

	.block {
		margin-top: get-adaptive-value(184px, 56px);
		margin-bottom: get-adaptive-value(184px, 56px);

		&.main {
			margin-top: get-adaptive-value(80px, 24px);
		}
	}

	h1.title {
		font-size: get-adaptive-value(120px, 64px, $desktop, $tablet);
		line-height: get-adaptive-value(128px, 64px, $desktop, $tablet);
	}

	h2.title {
		font-size: get-adaptive-value(80px, 32px);
		line-height: get-adaptive-value(104px, 40px);
		margin-bottom: get-adaptive-value(64px, 32px);
	}

	.text {
		font-size: get-adaptive-value(24px, 20px);
		line-height: get-adaptive-value(36px, 28px);

		&.small {
			font-size: get-adaptive-value(20px, 16px);
			line-height: get-adaptive-value(28px, 24px);
		}

		&.big {
			font-size: get-adaptive-value(36px, 28px);
			line-height: get-adaptive-value(48px, 36px);
		}

		&.margin-bottom-small {
			margin-bottom: get-adaptive-value(24px, 32px);
		}

		&.margin-bottom-medium {
			margin-bottom: 32px;
		}

		&.margin-bottom-big {
			margin-bottom: get-adaptive-value(48px, 32px);
		}

		&.margin-top-big {
			margin-top: get-adaptive-value(48px, 32px);
		}
	}

	.card {
		padding: get-adaptive-value(48px, 32px);
	}
}

@media (max-width: $laptop) {

}

@media (max-width: $tablet) {

	h1.title {
		font-size: get-adaptive-value(120px, 48px);
		line-height: get-adaptive-value(128px, 56px);
	}

}

@media (max-width: $small-tablet) {
	.card {
		border-radius: 16px;
		padding: 32px;
	}
}

@media (max-width: $mobile) {

	.block {
		margin-top: 56px;
		margin-bottom: 56px;

		&.main {
			margin-top: 24px;
		}
	}

	h1.title {
		font-size: 48px;
		line-height: 56px;
	}

	h2.title {
		font-size: 32px;
		line-height: 40px;
		margin-bottom: 32px;
	}

	.text {
		font-size: 20px;
		line-height: 28px;

		&.small {
			font-size: 16px;
			line-height: 24px;
		}

		&.big {
			font-size: 28px;
			line-height: 36px;
		}

		&.margin-bottom-small {
			margin-bottom: 32px;
		}

		&.margin-bottom-medium {
			margin-bottom: 32px;
		}

		&.margin-bottom-big {
			margin-bottom: 32px;
		}

		&.margin-top-big {
			margin-top: 32px;
		}
	}

	.card {
		border-radius: 16px;
		padding: 32px;
	}

	.container {
		padding: 0 24px;
		max-width: 100%;
	}

}