@import "../variables";
@import "../mixins";


// table

.table {
  display: table;
  width: 100%;
  max-width: 100%;
  overflow: auto;
  @include paper;

  &.compact {

    .table__cell {
      padding: 0.75rem 1rem;
    }

  }

  &.font-big {

    .table__cell {
      @include typography-body2;
    }

  }

  &.secondary {

    .table__row:not(.selected) {
      .table__cell {
        color: $color-text-more-secondary;
      }
    }

  }
}

.table__header {
  display: table-header-group;

  .table__cell {
    color: $color-text-more-secondary;
    border-bottom: 1px solid $color-divider;
    border-top: none;
  }
}

.table__body {
  display: table-row-group;

  .table__row:first-child {
    .table__cell {
      border-top: none;
    }
  }

  .table__cell {
    color: $color-text-prime;
  }
}

.table__footer {
  border-top: 1px solid $color-divider;
  padding: 1rem;
  width: 100%;
}

.table__row {
  display: table-row;
  width: 100%;
}

.table__row {

  &.selected {
    color: $color-text-prime;
    background: change-color($color-prime-main, $alpha: 0.08);
  }

}

.table__cell {
  display: table-cell;
  padding: 1rem;
  border-top: 1px solid $color-divider;
  @include typography-body2;
  color: $color-text-more-secondary;
  text-align: left;

  &.align-left {
    text-align: left;
  }

  &.align-right {
    text-align: right;
  }

  &.align-center {
    text-align: center;
  }
}

.table__cell-value {
  display: inline-block;
}

.table__cell-label {
  display: none;
}

// collapse table

.collapse-table__collapse-btn {
  display: none;
}

.collapse-table__expand-btn {
  display: none;
}


// vert table

.ver-table {
  display: table;
  width: 100%;
  max-width: 100%;
  @include paper;
}

.ver-table__header {
  display: table-header-group;

  .ver-table__cell {
    color: $color-text-more-secondary;
    border-bottom: 1px solid $color-divider;
    border-top: none;
  }
}

.ver-table__body {
  display: table-row-group;

  .ver-table__row:first-child {
    .ver-table__cell {
      border-top: none;
    }
  }

  .ver-table__cell {
    color: $color-text-prime;
  }
}

.ver-table__footer {
  border-top: 1px solid $color-divider;
  padding: 1rem;
  width: 100%;
}

.ver-table__row {
  display: table-row;
  width: 100%;
}

.ver-table__row {

  &.selected {
    color: $color-text-prime;
    background: change-color($color-prime-main, $alpha: 0.08);
  }

}

.ver-table__cell {
  display: table-cell;
  padding: 0.75rem 1rem;
  border-top: 1px solid $color-divider;
  @include typography-body2;
  color: $color-text-more-secondary;
  text-align: left;
  vertical-align: middle;

  &.align-left {
    text-align: left;
  }

  &.align-right {
    text-align: right;
  }

  &.align-center {
    text-align: center;
  }
}

.ver-table__cell-value {
  display: inline-block;
}

.ver-table__cell-label {
  display: none;
}


@media screen and (max-width: $small-tablet) {

  // table

  .table {
    display: block;

    &.separated {
      .table__body {
        gap: 1rem;
      }

      .table__row {
        padding-top: 1rem;
        padding-bottom: 1rem;
        @include paper;
        border-bottom: none;
        border-top: none;
      }
    }
  }

  .table__header {
    display: none;
  }

  .table__body {
    display: flex;
    flex-direction: column;
  }

  .table__footer {
    padding: 1.25rem 1.5rem;
  }

  .table__row {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1.5rem;

    &:not(:first-child) {
      border-top: 1px solid $color-divider;
    }
  }

  .table__cell {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.75rem;
    padding: 0.375rem 0 !important;
    border-top: none;

    @include typography-body2-text;
  }

  .table__cell-label {
    display: initial;
    color: $color-text-more-secondary;
  }

  .table__cell-value {
    min-width: 0;
    word-break: break-all;
  }

  // collapse table

  .collapse-table {
    .table__row:not(.visible) {
      display: none;
    }

    &.expand {
      .collapse-table__expand-btn {
        display: none;
      }

      .collapse-table__collapse-btn {
        display: block;
      }

      .table__row {
        display: initial;
      }

    }

  }

  .collapse-table__collapse-btn {
    margin-top: 0.5rem;
    margin-left: -0.75rem;
  }

  .collapse-table__expand-btn {
    display: block;
    margin-top: 0.5rem;
    margin-left: -0.75rem;
  }

  // vert table

  .ver-table {
    table-layout: fixed;
    @include disable-paper;
    border-spacing: 0.5rem 0;
    margin: 0 -0.5rem;
  }

  .ver-table__header > .ver-table__row > .ver-table__cell {
    @include paper-top;
  }

  .ver-table__body > .ver-table__row > .ver-table__cell {
    @include paper-middle;
  }

  .ver-table__body > .ver-table__row:last-child > .ver-table__cell {
    @include paper-bottom;
  }


  .ver-table__cell {
    width: calc(#{$mobile} - #{$container-padding-adaptive} * 2);
    max-width: calc(100vwv - #{$container-padding-adaptive} * 2);
    border: none !important;

    &:first-child {
      display: none;
    }
  }

  .ver-table__cell-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .ver-table__cell-label {
    display: block;
  }

}

@media (max-width: $mobile) {

  .ver-table__cell {
    width: calc(#{$mobile} - #{$container-padding-mobile * 2});
    max-width: calc(100vw - #{$container-padding-mobile * 2});
  }

}