@import "../variables";
@import "../mixins";


// MAIN

.textfield__label {
	margin-bottom: 8px;

	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.4px;
}

.textfield__body {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;

	.textfield__start-adornment {
		order: 1;
	}
	.textfield__input {
		order: 2;
	}
	.textfield__end-adornment {
		order: 3;
	}
	.textfield__line {
		order: 4;
	}
}

.textfield__caption {
	margin-top: 8px;

	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.4px;
}


.textfield__start-adornment,
.textfield__end-adornment {
	font-size: 20px;
	line-height: 28px;
	min-width: 1em;

	.icon {
		font-size: inherit;
		color: $color-text-prime;
	}
}

.textfield__line {
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 2px;

	border-bottom: 1px solid $color-text-secondary;
}

.textfield__input {
	flex: 1;
	padding: 12px 14px;
	border: none;
	border-radius: 0;
	outline: none;

	font-size: 16px;
	line-height: 24px;

	background: transparent;
	color: $color-text-prime;

	&:first-child {
		padding-left: 0;
	}

	&:focus {
		outline: none;

		& ~ .textfield__line {
			border-color: $color-prime;
		}
	}
}

.textfield.error:not(.disabled) {
	.textfield__body {
		border-color: $color-error;
	}

	.textfield__caption {
		color: $color-error;
	}

	.textfield__start-adornment,
	.textfield__end-adornment {
		.icon {
			font-size: inherit;
			color: $color-error
		}
	}

	.textfield__line {
		border-color: $color-error;
	}
}

.textfield.disabled {
	pointer-events: none;
	opacity: 0.5;
}


// ADAPTIVE

@media (max-width: $desktop) and (min-width: $mobile + 1) {

}

@media (max-width: $laptop) {

}

@media (max-width: $tablet) {


}

@media (max-width: $small-tablet) {

}

@media (max-width: $mobile) {

}