@import "../variables";
@import "../mixins";


// tooltip

// default arrow is arrow down (↓)
$arrow-width: 1.5rem;
$arrow-height: 1rem;

.tooltip {
  padding: $arrow-height;
  box-sizing: border-box;
  max-width: calc(100vw - 1rem);
  cursor: pointer;
  z-index: $z-index-tooltip;

  &::before {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    content: "";
    width: $arrow-width;
    height: $arrow-height;
    grid-area: p;
    align-self: center;
    justify-self: center;
    background: $color-background-upper2;
    -webkit-mask-image: url("../img/tooltip-arrow-down.svg");
    mask-image: url("../img/tooltip-arrow-down.svg");
    -webkit-mask-size: 100% auto;
    -webkit-mask-repeat: no-repeat;
    backdrop-filter: blur(4rem);
    -webkit-backdrop-filter: blur(4rem);
    animation: $animation-fast fade-in;
  }

  // default: top

  &.bottom {
    &::before {
      top: 0;
      bottom: unset;
      right: unset;
      left: 50%;
      transform: translate(-50%, 0) rotate(180deg);
    }
  }

  &.right {
    &::before {
      top: 50%;
      bottom: unset;
      right: unset;
      left: 0;
      transform: translate(#{$arrow-height * -0.25}, -50%) rotate(90deg);
    }
  }

  &.left {
    grid-template-areas:
          "c p";

    &::before {
      top: 50%;
      bottom: unset;
      right: 0;
      left: unset;
      transform: translate(#{$arrow-height * 0.25}, -50%) rotate(-90deg);
    }
  }

  &:not(.show) {
    display: none;

    & > .tooltip__content {
      opacity: 0;
    }

    &::before {
      opacity: 0;
    }
  }

  &.fade-out-slow {
    opacity: 1;
    animation: none;

    & > .tooltip__content {
      opacity: 0;
      animation: $animation-slow fade-out;
    }

    &::before {
      opacity: 0;
      animation: $animation-slow fade-out;
    }
  }
}

.tooltip__content {
  grid-area: c;
  padding: 0.75rem;
  border-radius: 0.75rem;
  @include typography-body2;
  text-align: left;
  background: $color-background-upper2;
  color: $color-text-prime;
  min-width: 0;
  white-space: normal;
  backdrop-filter: blur(4rem);
  -webkit-backdrop-filter: blur(4rem);
  animation: $animation-fast fade-in;
}

// with-tooltip

.with-tooltip {
  position: relative;
  cursor: pointer;
}
