@import "../variables";
@import "../mixins";


// tooltip

.tooltip {
  display: grid;
  grid-template-areas:
          "c"
          "p";
  box-sizing: border-box;
  max-width: calc(100vw - 1rem);
  cursor: pointer;
  animation: $animation-fast fade-in;
  z-index: $z-index-tooltip;

  &::after {
    content: "";
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
    width: calc(100% + 1rem);
    height: calc(100% + 1rem);
  }

  &::before {
    content: "";
    width: 1.5rem;
    height: 1rem;
    grid-area: p;
    align-self: center;
    justify-self: center;
    background: $color-background-upper2;
    -webkit-mask-image: url("/img/tooltip-arrow-down.svg");
    mask-image: url("/img/tooltip-arrow-down.svg");
    -webkit-mask-size: 100% auto;
    -webkit-mask-repeat: no-repeat;
    backdrop-filter: blur(4rem);
    -webkit-backdrop-filter: blur(4rem);
  }

  // default: top

  &.bottom {
    grid-template-areas:
          "p"
          "c";
    &::before {
      transform: rotate(180deg);
    }
  }

  &.right {
    grid-template-areas:
          "p c";

    &::before {
      width: 1rem;
      height: 1.5rem;
      -webkit-mask-image: url("/img/tooltip-arrow-right.svg");
      -webkit-mask-size: auto 100%;
      mask-image: url("/img/tooltip-arrow-right.svg");
      transform: rotate(180deg);
    }
  }

  &.left {
    grid-template-areas:
          "c p";

    &::before {
      width: 1rem;
      height: 1.5rem;
      -webkit-mask-image: url("/img/tooltip-arrow-right.svg");
      -webkit-mask-size: auto 100%;
      mask-image: url("/img/tooltip-arrow-right.svg");
    }
  }
}

.tooltip__content {
  grid-area: c;
  padding: 0.75rem;
  border-radius: 0.75rem;
  @include typography-body2;
  text-align: left;
  background: $color-background-upper2;
  color: $color-text-prime;
  min-width: 0;
  white-space: normal;
  backdrop-filter: blur(4rem);
  -webkit-backdrop-filter: blur(4rem);
}

// with-tooltip

.with-tooltip {
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: -0.25rem;
    left: -0.25rem;
    width: calc(100% + 0.5rem);
    height: calc(100% + 0.5rem);
  }

  .tooltip:not(.show) {
    display: none;
    opacity: 0;
  };
}
