@import "../variables";
@import "../mixins";


// advantages

.advantages__container {
  position: relative;
  overflow: visible;
}

.advantages {
  overflow: visible;
}

.advantages__background {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 27vw;
  height: 27vw;
  aspect-ratio: 1 / 1;
  z-index: -1;

  img {
    width: 260%;
    height: 260%;
    max-width: 100vw;
  }
}

.advantages__cards {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "a a a a a a a b b b b b"
    "c c c c c c d d d d d d"
    "c c c c c c e e e e e e"
    "f f f f f f e e e e e e"
    "f f f f f f e e e e e e"
    "f f f f f f g g g g g g";
  gap: 1rem;
}

.advantages__card.card-1 {
  grid-area: a;
}
.advantages__card.card-2 {
  grid-area: b;
}
.advantages__card.card-3 {
  grid-area: c;
}
.advantages__card.card-4 {
  grid-area: d;
}
.advantages__card.card-5 {
  grid-area: e;
}
.advantages__card.card-6 {
  grid-area: f;
  align-self: stretch;
}
.advantages__card.card-7 {
  grid-area: g;
}


.advantages__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
  @include paper;
  @include typography-h4;
  padding: 2rem;

  img {
    width: 4.5rem;
    height: 4.5rem;
  }
}

.advantages__card.card-1,
.advantages__card.card-2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
}
.advantages__card.card-3 {
  & > *:not(img) {
    order: 1;
  }

  img {
    order: 2
  }
}
.advantages__card.card-6 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: 2rem;
}


.advantages__card-number {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas:
    "l l"
    "v u";
  grid-column-gap: 0.5rem;
}

.advantages__card-number-label {
  grid-area: l;
  @include typography-h5;
}

.advantages__card-number-value {
  grid-area: v;
  font-weight: 500;
  font-size: 10rem;
  line-height: 1.08;
  letter-spacing: 0.03em;
}

.advantages__card-number-unit {
  grid-area: u;
  align-self: flex-end;

  font-weight: 500;
  font-size: 4rem;
  line-height: 1.33;

  margin-bottom: 0.13em;
}


.advantages__card-bot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  @include typography-h2;
  margin-bottom: 3rem;
}


// ADAPTIVE

@media (max-width: $small-desktop) {

  .advantages__card {
    font-size: 1.75rem;
  }

  .advantages__card.card-1,
  .advantages__card.card-2 {
    gap: 2.5rem;
  }

  .advantages__card-bot {
    font-size: 4rem;
  }

  .advantages__card-number-value {
    font-size: 7.5rem;
  }

  .advantages__card-number-unit {
    font-size: 3rem;
  }


}

@media (max-width: $laptop) {

  .advantages__card {
    font-size: 1.5rem;

    img {
      width: 4rem;
      height: 4rem;
    }
  }

  .advantages__card.card-1,
  .advantages__card.card-2 {
    gap: 2rem;
  }

  .advantages__card-bot {
    font-size: 3rem;
  }

  .advantages__card-number-label {
    font-size: 1.25rem;
  }
  .advantages__card-number-value {
    font-size: 6rem;
  }
  .advantages__card-number-unit {
    font-size: 2.5rem;
  }

}

@media (max-width: $small-laptop) {

  .advantages__card {
    font-size: 1.375rem;

    img {
      width: 3.5rem;
      height: 3.5rem;
    }
  }

  .advantages__card.card-1,
  .advantages__card.card-2 {
    gap: 1.5rem;
  }

  .advantages__card-bot {
    font-size: 2rem;
  }

  .advantages__card-number-label {
    font-size: 1.125rem;
  }
  .advantages__card-number-value {
    font-size: 5rem;
  }
  .advantages__card-number-unit {
    font-size: 2rem;
  }

}

@media (max-width: $tablet) {

  .advantages__cards {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
    "a a a a a a a b b b b b"
    "c c c c c c d d d d d d"
    "c c c c c c e e e e e e"
    "f f f f f f e e e e e e"
    "f f f f f f e e e e e e"
    "g g g g g g g g g g g g";
  }

  .advantages__card.card-1,
  .advantages__card.card-2 {
    flex-wrap: wrap;

    & > span:last-child {
      width: min-content;
      flex-grow: 1;
    }
  }

  .advantages__card-bot {
    margin: 0;
  }
}

@media (max-width: $small-tablet) {

  .advantages__background {
    display: none;
  }

  .advantages__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "a b"
    "a c"
    "a c"
    "d c"
    "f f"
    "g g"
    "e e";
    gap: 1rem;
  }

  .advantages__card.card-1,
  .advantages__card.card-2,
  .advantages__card.card-3,
  .advantages__card.card-4,
  .advantages__card.card-5,
  .advantages__card.card-6,
  .advantages__card.card-7 {
    @include typography-body1;
    word-break: break-word;
    padding: 1.5rem;

    img {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  .advantages__card.card-1,
  .advantages__card.card-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;

    & > span:last-child {
      width: auto;
    }
  }

  .advantages__card.card-3 {
    display: block;
    img {
      float: right;
      margin-left: 1rem;
      margin-bottom: 1rem;
      vertical-align: top;
    }
  }

  .advantages__card.card-4,
  .advantages__card.card-5,
  .advantages__card.card-7 {
    img {
      display: none;
    }
  }

  .advantages__card.card-6 {
    gap: 1rem;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: normal;
  }

  .advantages__card-bot {
    @include typography-h2-adaptive;
  }

}

@media (max-width: $mobile) {

  .advantages__cards {
    gap: 0.5rem;
  }

  .advantages__card.card-1,
  .advantages__card.card-2,
  .advantages__card.card-3,
  .advantages__card.card-4,
  .advantages__card.card-5,
  .advantages__card.card-6,
  .advantages__card.card-7 {
    @include typography-body2-adaptive;
    word-break: break-word;

    padding: 1rem;

    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .advantages__card.card-6 {
    @include typography-body2;

    img {
      width: 2rem;
      height: 2rem;
    }
  }

  .advantages__card-number-label {
    @include typography-body2-adaptive;
  }
  .advantages__card-number-value {
    font-size: 3.5rem;
  }
  .advantages__card-number-unit {
    @include typography-h5;
  }

}