@import "../variables";
@import "../mixins";

// exchange

.exchange__container {
  background: $color-background-upper1;
}

.exchange {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "title title d "
    "table table table";
  column-gap: 1rem;
}

.exchange__glow {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-25%, -25%);
  @include glow();
}

.exchange__title {
  grid-area: title;
  align-self: center;
  margin-bottom: 5.875rem;
}

.exchange__description {
  grid-area: d;
  align-self: center;
  margin-bottom: 5.875rem;
}

.exchange__table-container {
  grid-area: table;
}


.exchange__subtitle {
  @include typography-subtitle1;
  margin-top: 1rem;
  text-shadow: none;
}

.exchange__description-text {
  @include typography-body1;
  margin-bottom: 2.5rem;
}

.exchange__description-buttons {
  display: flex;
  gap: 1.5rem;
}


.exchange__table-container {
  position: relative;
  max-width: 100%;
  min-width: 0;
  overflow: hidden;

  @include paper;
  @include border-gradient($gradient: $gradient-border-primary);

  .ver-table {
    @include disable-paper;
  }
}

.exchange__table-scroll-content {
  position: relative;
  max-width: 100%;
  overflow: auto;
  @include with-custom-scrollbar;
  z-index: 2;
}

.exchange__table-glow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  aspect-ratio: 779 / 469;
  z-index: 1;

  border-radius: 50%;
  background: rgba(255, 127, 81, 0.24);
  filter: blur(150px);
}

.exchange__exchange-token {
  @include typography-h6;
  color: $color-text-more-secondary;
}

.exchange__exchange {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  @include typography-h6;
}

.exchange__token {
  display: inline-flex;
  flex-direction: column;
}

.exchange__token-full {
  @include typography-h6;
}

.exchange__token-short {
  @include typography-subtitle2;
  color: $color-text-more-secondary;
}



// ADAPTIVE

@media (max-width: $desktop) {

  .exchange__title {
    margin-bottom: get-adaptive-value(5.875rem, 1.5rem);
  }

  .exchange__description {
    margin-bottom: get-adaptive-value(5.875rem, 1.5rem);
  }

}

@media (max-width: $laptop) {

  .exchange {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "title title d "
      "table table table";
  }

  .exchange__description-text {
    font-size: 1.125rem;
    margin-bottom: 2rem;
  }

}

@media (max-width: $small-laptop) {

  .exchange__description-buttons {
    gap: 1rem;
  }

}

@media (max-width: $tablet) {

  .exchange {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "d"
      "table";
  }

  .exchange__title {
    margin-bottom: 2rem;
  }

  .exchange__subtitle {
    @include typography-body2-text;
    color: $color-text-secondary;
  }

  .exchange__description-text {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

}

@media (max-width: $small-tablet) {

  .exchange__glow {
    display: none;
  }

  .exchange__table-container {
    @include disable-paper;
    @include disable-border-gradient;

    max-width: none;
    overflow: visible;
    margin-left: calc(#{$container-padding-adaptive} * -1);
    margin-right: calc(#{$container-padding-adaptive} * -1);
  }

  .exchange__table-glow {
    height: auto;
    max-height: 100%;
    width: 90%;
    aspect-ratio: 299 / 340;
    filter: blur(76px);
  }

  .exchange__table-scroll-content {
    @include without-scrollbar;
  }


  .exchange__table {
    width: fit-content;
    padding-left: $container-padding-adaptive;
    padding-right: $container-padding-adaptive;
    @include cursor-grab;
  }

  .exchange__token {
    padding-left: 0.5rem;
    padding-top: 0.25rem;
  }

  .exchange__token-full {
    @include typography-h5;
  }

}

@media (max-width: $mobile) {

  .exchange__description-text {
    @include typography-body1-adaptive;
  }
}