@import "../variables";
@import "../mixins";

// how

.how__container {
  background: $color-background-upper1;
}

.how__glow {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(30%, 5%);
  @include glow;
}

.how__content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "s s s s s i i i i i i i";
  gap: 1rem;
}

.how__steps {
  grid-area: s;
  align-self: center;
}

.how__img {
  grid-area: i;
}


.how__steps {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.how__step {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  @include typography-h5;
}

.how__step-chip {
  position: relative;
  padding: 0.75rem;
  background: rgba(255, 103, 255, 0.16);
  border-radius: 1rem;
  @include border-gradient;

  img {
    width: 3rem;
    height: 3rem;
  }
}

.how__img {

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}



// ADAPTIVE

@media (max-width: $laptop) {

  .how__step {
    font-size: 1.25rem;
  }

}


@media (max-width: $small-laptop) {

  .how__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      "s s s s s s i i i i i i";
    gap: 1rem;
  }

  .how__steps {
    gap: 2rem;
  }

}

@media (max-width: $tablet) {

  .how__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      "s s s s s s s i i i i i";
  }


}

@media (max-width: $small-tablet) {

  .how__content {
    display: block;
  }

  .how__img {
    display: none;
  }

  .how__step {
    font-size: 1.125rem;
  }

}

@media (max-width: $mobile) {

  .how__step {
    @include typography-body1-adaptive;
  }

}
