@import "../variables";
@import "../mixins";


// pool

.pool-page__glow-1 {
  position: absolute;
  top: 0;
  left: 0;
  @include glow($width: 27vw, $color: #7DFBF829);
  min-width: 360px;
  z-index: -1;
}

.pool-page__glow-2 {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(12%, -20%);
  @include glow($width: 43vw, $color: #FF7F511F);
  min-width: 317px;
  z-index: -1;
}

.pool-page__glow-3 {
  position: absolute;
  top: 50%;
  right: calc(#{$container-padding-adaptive} * -1);
  transform: translate(0, -50%);
  @include glow($width: 27vw, $color: #FF7F511F);
  min-width: 457px;
  z-index: -1;
}

.pool__content {
  position: relative;
  display: grid;
  grid-template-columns: minmax(15rem, auto) 1fr 1fr 1fr;
  grid-template-areas:
		"f t t c";
  gap: 1rem;
}

.pool__invest-pool {
  grid-area: f;
  min-width: 15rem;

  & > .invest-pool {
    height: 100%;
  }
}

.pool__table {
  grid-area: t;

  display: flex;
  flex-direction: column;

  & .collapse-table {
    flex-grow: 1;
  }

  & .scroll-container__inner,
  & .table {
    height: 100%;
  }

  .collapse-table__table {
    border-radius: 1rem;
    position: relative;
    @include border-gradient($z-index: -1);
  }
}

.pool__table-glow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 92%;
  aspect-ratio: 1;

  border-radius: 50%;
  background: rgba(255, 127, 81, 0.12);
  filter: blur(150px);
  z-index: -1;
}

.pool__table-title {
  display: none;
}

.pool__conditions {
  grid-area: c;
  @include paper;
  padding: 1.5rem;
  min-width: 16.5rem;

  border-radius: 1rem;
  position: relative;
  @include border-gradient($z-index: -1);
}

.pool__conditions-title {
  @include typography-h6;
  margin-bottom: 1rem;
}

.pool__conditions-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pool__condition {
  @include typography-body2;
}

// invest pool

.invest-pool {
  position: relative;
  background: #0B0B0B;
  border-radius: 1rem;
  overflow: hidden;

  @include border-gradient($gradient: $gradient-border-primary, $z-index: 1);

  div, span, h1, h2, p {
    color: #fff;
  }
}

.invest-pool__background {
  position: absolute;
  top: 0;
  left: -0.5rem;
  width: calc(100% + 1rem);
  object-fit: cover;
}

.invest-pool__ellipse {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.invest-pool__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  gap: 1.5rem;

  width: 100%;
  height: 100%;
  padding: 11rem 1.5rem 1.5rem;
  min-height: 36.5rem;

  z-index: 1;
}

.invest-pool__percents {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.invest-pool__percent {
  @include typography-h3;
}

.invest-pool__description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.invest-pool__label {
  @include typography-h5;
}

.invest-pool__subtitles {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  @include typography-subtitle1;
}

.invest-pool__helperText {
  @include typography-body2;
  color: rgba(255, 255, 255, 0.64) !important;
}

.invest-pool__action-btn {
  width: 100%;
  padding: 0.875rem 0.75rem;
  border: none;
  border-radius: 2rem;

  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;

  background: $color-background-upper2;
  color: $color-text-prime;
  transition: box-shadow $animation-normal;

  &:hover {
    box-shadow: 0 0 0 0.375rem rgba(255, 255, 255, 0.32);
    transition: box-shadow $animation-fast;
  }
}



// ADAPTIVE

@media (max-width: $small-desktop) {

  .pool__conditions-body {
    gap: 0.5rem;
  }

}

@media (max-width: $small-laptop) {

  .pool__conditions-body {
    gap: 0.25rem;
  }

  .pool__table-percent-cell {
    width: 25%;
  }
}

@media (max-width: 1160px) {

  .pool-page__glow-3 {
    display: none;
  }

  .pool__invest-pool {

    & > .invest-pool {
      height: 100%;
    }
  }

  .pool__content {
    grid-template-columns: minmax(15rem, auto) 1fr 1fr;
    grid-template-areas:
			"f t t"
			"c c c";
  }

  .pool__conditions-body {
    display: block;
    columns: 2 auto;
    margin-bottom: -1rem;
    column-gap: 1.5rem;
  }

  .pool__condition {
    display: inline-block;
    margin-bottom: 1rem;
  }

}

@media (max-width: $tablet) {

  // pool

  .pool__content {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "f c"
      "t t";
  }

  .pool__conditions-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 0;
  }

  .pool__condition {
    margin-bottom: 0;
  }

  .pool__table-percent-cell {
    width: auto;
  }
}

@media (max-width: $small-tablet) {

  .pool-page__glow-1 {
    top: 0;
    left: 0;
    transform: translate(-35%, -10%);
  }

  .pool-page__glow-2 {
    left: -1px;
    top: 608px;
    width: 457px;
    height: 529px;
    transform: translateX(30%);
  }

  .pool__conditions {
    @include disable-border-gradient;
  }

  .pool__table .collapse-table__table {
    @include disable-border-gradient;
  }

  .pool__table-glow {
    display: none;
  }

  .pool__condition {
    @include typography-body2-text;
  }

}

@media (max-width: 680px) {
  .pool__content {
    grid-template-columns: 1fr;
    grid-template-areas:
			"f"
			"t"
            "c";
    gap: 1.5rem;
  }

  .pool__table-title {
    display: block;
    margin-bottom: 1.5rem;
    @include typography-h4-adaptive;
  }
}