@import "../variables";
@import "../mixins";


// pool

.pool__content {
  display: grid;
  grid-template-columns: minmax(15rem, auto) 1fr 1fr 1fr;
  grid-template-areas:
		"f t t c";
  gap: 1rem;
}

.pool__invest-pool {
  grid-area: f;
  min-width: 15rem;
}

.pool__table {
  grid-area: t;
}

.pool__table-title {
  display: none;
}

.pool__conditions {
  grid-area: c;
  @include paper;
  padding: 1.5rem;
}

.pool__conditions-title {
  @include typography-h6;
  margin-bottom: 1rem;
}

.pool__conditions-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pool__condition {
  @include typography-body2;
}

// invest pool

.invest-pool {
  position: relative;
  background: #252525;
  border-radius: 1rem;
  overflow: hidden;

  div, span, h1, h2, p {
    color: #fff;
  }
}

.invest-pool__background {
  position: absolute;
  top: 0;
  left: -0.5rem;
  width: calc(100% + 1rem);
  object-fit: cover;
}

.invest-pool__ellipse {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.invest-pool__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  gap: 1.5rem;

  width: 100%;
  height: 100%;
  padding: 11rem 1.5rem 1.5rem;
  min-height: 36.5rem;

  z-index: 1;
}

.invest-pool__percents {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.invest-pool__percent {
  @include typography-h3;
}

.invest-pool__description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.invest-pool__label {
  @include typography-h5;
}

.invest-pool__subtitles {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  @include typography-subtitle1;
}

.invest-pool__helperText {
  @include typography-body2;
  color: rgba(255, 255, 255, 0.64) !important;
}

.invest-pool__action-btn {
  width: 100%;
  padding: 0.875rem 0.75rem;
  border: none;
  border-radius: 2rem;

  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;

  background: #fff;
  color: $color-text-prime;
  transition: box-shadow $animation-unhover;

  &:hover {
    box-shadow: 0 0 0 0.375rem rgba(255, 255, 255, 0.32);
    transition: box-shadow $animation-hover;
  }
}



// ADAPTIVE

@media (max-width: 1280px) {
  .pool__table-percent-cell {
    width: 25%;
  }
}

@media (max-width: 1160px) {

  .pool__invest-pool {

    & > .invest-pool {
      height: 100%;
    }
  }

  .pool__content {
    grid-template-columns: minmax(15rem, auto) 1fr 1fr;
    grid-template-areas:
			"f t t"
			"c c c";
  }

  .pool__conditions-body {
    display: block;
    columns: 2 auto;
    margin-bottom: -1rem;
  }

  .pool__condition {
    display: inline-block;
    margin-bottom: 1rem;
  }

}

@media (max-width: $tablet) {

  // pool

  .pool__content {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "f c"
      "t t";
  }

  .pool__conditions-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 0;
  }

  .pool__condition {
    margin-bottom: 0;
  }

  .pool__table-percent-cell {
    width: auto;
  }
}

@media (max-width: $small-tablet) {

  .pool__condition {
    @include typography-body2-text;
  }

}

@media (max-width: 680px) {
  .pool__content {
    grid-template-columns: 1fr;
    grid-template-areas:
			"f"
			"t"
            "c";
    gap: 1.5rem;
  }

  .pool__table-title {
    display: block;
    margin-bottom: 1.5rem;
    @include typography-h4-adaptive;
  }
}