@import "../variables";
@import "../mixins";


// MAIN

// promo

$promo-background: #0B0B10;
$promo-first-container-padding-bottom: 3.75rem;

.promo__first-container {
  position: relative;
  overflow: hidden;
  background: $promo-background;
  padding-bottom: $promo-first-container-padding-bottom;
}

.promo__first-screen {
  min-height: calc(100vh - #{$header-height-desktop});
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
		"m m m m m m m . . . . .";
  align-items: center;
}

.promo__main {
  grid-area: m;
  margin-top: 7vh;
  z-index: 10;
}

.promo__video-wrapper {
  position: absolute;
  top: 50%;
  right: 0;
  width: 85%;
  transform: translateY(-50%);
  font-size: 0;
  overflow: hidden;
}

.promo__video-shadow-top {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  z-index: 1;
  background: linear-gradient(to bottom, $promo-background, change-color($promo-background, $alpha: 0));
}

.promo__video-shadow-bottom {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  z-index: 1;
  background: linear-gradient(to top, $promo-background, change-color($promo-background, $alpha: 0));
}

.promo__video-shadow-left {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 100%;
  z-index: 1;
  background: linear-gradient(to right, $promo-background, change-color($promo-background, $alpha: 0));
}

.promo__video {
  width: 100%;
  object-fit: contain;
  object-position: center center;
  position: relative;
  right: -5%;
}

.promo__title {
  font-family: Golos, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 6.875rem;
  line-height: 1.066;
  letter-spacing: 0.01em;
}

.promo__info {
  margin-top: 4rem;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5;
  width: 85%;
}

.promo__buttons {
  margin-top: 3.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem
}

.promo__cards-container {
  box-sizing: content-box;
  margin-top: -$promo-first-container-padding-bottom - 2rem;
  padding-top: 2rem;
  padding-bottom: 11.25rem;
}

.promo__cards {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;
}

.promo__card {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.4;
  text-align: center;

  padding: 2rem 1rem;
  backdrop-filter: blur(4rem);
  background: $color-background-upper1;

  @include border-gradient;

  div:first-child {
    position: relative;
    padding: 1rem;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 193px;
      height: 193px;
      border-radius: 50%;
      background: rgba(255, 103, 255, 0.2);
      filter: blur(96px);
    }
  }

  cursor: pointer;
  transition: all $animation-normal;

  &:hover {
    transform: translateY(-0.5rem);
    transition: all $animation-fast;
  }
}

// ADAPTIVE

@media (max-width: $desktop) {

  // promo

  .promo__cards-container {
    padding-bottom: get-adaptive-value(11.25rem, 1.5rem);
  }

  .promo__title {
    font-size: get-adaptive-value(6.875rem, 3.75rem, $desktop, $tablet);
  }

  .promo__info {
    margin-top: get-adaptive-value(4rem, 1.5rem, $desktop, $tablet);
  }

  .promo__buttons {
    margin-top: get-adaptive-value(3.5rem, 2rem, $desktop, $tablet);
  }

}

@media (max-width: $small-laptop) {

  .promo__info {
    font-size: 1.25rem;
  }

}

@media (max-width: $tablet) {

  // promo

  .promo__info {
    font-size: 1rem;
  }

  .promo__buttons {
    gap: 1rem;
  }

  .promo__cards-container {
    overflow: auto;
    margin-left: calc(#{$container-padding-adaptive} * -1);
    margin-right: calc(#{$container-padding-adaptive} * -1);
    @include without-scrollbar;
    @include cursor-grab;
  }

  .promo__cards {
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
    padding-left: $container-padding-adaptive;
    padding-right: $container-padding-adaptive;
    width: fit-content;
  }

  .promo__card {
    min-width: 304px;
    flex-grow: 1;
    align-items: flex-start;
    text-align: left;
    font-weight: normal;
    gap: 1rem;
    padding: 2rem;
  }

}

@media (max-width: $small-tablet) {

  // promo

  .promo__first-screen {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .promo__info {
    width: 50%;
  }

  .promo__main {
    margin-top: 0;
  }

  .promo__title {
    font-size: get-adaptive-value(3.75rem, 2.75rem, $tablet, $mobile);
    line-height: 1.27;
  }

}

@media (max-width: $mobile) {

  // promo

  .promo__first-container {
    max-height: calc(100vh - #{$header-height-mobile});
    padding-bottom: 1.5rem;
  }

  .promo__video-wrapper {
    display: flex;
    align-items: stretch;
    justify-self: stretch;

    flex-grow: 1;
    position: relative;
    top: 0;
    left: 0;
    margin: 0 -1.5rem 0 -1.5rem;
    width: calc(100% + 3rem);
    max-height: 100vw;
    min-height: 0;
    transform: none;
    overflow: hidden;
  }

  .promo__video {
    min-height: 100%;
    object-fit: cover;
    object-position: 85% center;
    left: 0;
  }

  .promo__video-shadow-left {
    display: none;
  }

  .promo__video-shadow-bottom,
  .promo__video-shadow-top {
    height: 3rem;
  }

  .promo__main {
    flex-shrink: 1;
    margin-top: 0;
  }

  .promo__title {
    font-size: 2.75rem;
  }

  .promo__info {
    font-weight: normal;
    font-size: 1rem;
    margin: 1.5rem 0;
    width: 100%
  }

  .promo__buttons {
    gap: 0.5rem;
    margin: 0;

    .btn .icon {
      display: none;
    }
  }

  .promo__cards-container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: 0;
    margin-left: calc(#{$container-padding-mobile} * -1);
    margin-right: calc(#{$container-padding-mobile} * -1);
  }

  .promo__cards {
    padding-left: $container-padding-mobile;
    padding-right: $container-padding-mobile;
  }

}