@import "../variables";
@import "../mixins";

// system

.system {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "d d d d d i i i i i i i";
  gap: 1rem;
}

.system__glow {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-40%, -50%);

  @include glow($color: rgba(255, 103, 255, 0.12));
}

.system__description {
  align-self: center;
  grid-area: d;
}

.system__img-wrapper {
  align-self: center;
  grid-area: i;
}


.system__description-title {
  margin-bottom: 2rem;
}

.system__description-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  @include typography-body1;
}

.system__img-wrapper {
  margin-left: 2rem;

  position: relative;
  border-radius: 1.5rem;
  @include border-gradient($gradient: $gradient-border-tertiary);

  img {
    width: 100%;
    object-fit: contain;
    border-radius: inherit;
  }
}

// ADAPTIVE

@media (max-width: $laptop) {

  .system__description-text {
    font-size: 1.125rem;
  }

}

@media (max-width: $small-laptop) {

  .system__description-text {
    font-size: 1rem;
    gap: 0.75rem;
  }

}

@media (max-width: $tablet) {

  .system {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
    "d d d d d d i i i i i i";
    gap: 1rem;
  }

  .system__img-wrapper {
    margin-left: 1rem;
  }

}

@media (max-width: $small-tablet) {

  .system {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "d"
      "i";
    gap: 1.5rem;
  }


  .system__glow {
    display: none;
  }


  .system__img-wrapper {
    margin-left: 0;
  }

}

@media (max-width: $mobile) {

  .system__container {
    background: $color-background-lower2;
  }

  .system {
    padding-top: 1rem;
    padding-bottom: 2.5rem;
  }

}