@import "../variables";
@import "../mixins";


// video

.video__container {
  position: relative;
}

.video__glow {
  position: absolute;
  top: 42%;
  left: 0;
  transform: translate(-40%, -50%);
  @include glow;
}


.video {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "p p p p p p p d d d d d";
  align-items: flex-start;
  gap: 1rem;

  padding-top: 0;
}

.video__preview {
  grid-area: p;
}

.video__description {
  grid-area: d;
}


.video__preview {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: visible;

  z-index: 1;
}

.video__preview-img-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 1rem;
  @include border-gradient($gradient: $gradient-border, $border-width: 2px);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(9, 6, 33, 0.28);
    border-radius: inherit;
  }

  img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: inherit;
  }
}

.video__preview-img-title {
  position: absolute;
  bottom: 2.5rem;
  left: 2.5rem;
  color: $color-text-prime;
  text-shadow: 0 0 37.7146px rgba(125, 251, 248, 0.6);
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.23;
}

.video__preview-hexagon1 {
  position: absolute;
  top: 21%;
  left: 0;
  width: 71px;
  transform: translate(-36%, -50%);
  filter: drop-shadow(0px 0px 32.7111px rgba(125, 251, 248, 0.6));
  object-fit: contain;
}

.video__preview-hexagon2 {
  position: absolute;
  top: 73%;
  right: 0;
  width: 87px;
  transform: translate(50%, -50%);
  filter: drop-shadow(0px 0px 28.6222px rgba(125, 251, 248, 0.62));
  object-fit: contain;
}

.video__play {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 5;

  .video__play-circle {
    @include shadow-unhover;
  }

  &:hover {

    .video__play-circle {
      @include shadow-hover;
    }

  }

}

.video__play-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background: $color-prime-main;
  color: $color-prime-contrast;

  .icon {
    font-size: 2em;
  }
}

.video__play-text {
  margin-top: 1em;
  @include typography-h6;
  text-align: center;
  color: $color-prime-main;
}


.video__description {
  padding-left: 2rem;
}

.video__description-title {
  margin-bottom: 0.85714285714em;
}

.video__description-text {
  @include typography-h5;
}



// ADAPTIVE


@media (max-width: $laptop) {

  .video {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "p d";
    column-gap: 1.5rem;
  }

  .video__description {
    padding-left: 1.5rem;
  }

  .video__description-text {
    font-size: 1.25rem;
  }

  .video__preview-img-title {
    bottom: 2rem;
    left: 2rem;
    font-size: 1.5rem;
  }

  .video__preview-hexagon1 {
    width: 65px;
  }

  .video__preview-hexagon2 {
    width: 72px;
  }
}

@media (max-width: $tablet) {

  .video__description {
    padding-left: 1rem;
  }

  .video__description-text {
    font-size: 1rem;
  }

  .video__preview-img-title {
    bottom: 1.25rem;
    left: 1.25rem;
    font-size: 1.25rem;
  }

}

@media (max-width: 900px) {

  .video {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      "p p p p p d d d d d d d";
    column-gap: 1.5rem;
  }

  .video__description {
    padding-left: 0.5rem;
  }

  .video__preview-img-title {
    bottom: 1.125rem;
    left: 1.125rem;
    font-size: 1.125rem;
  }

  .video__preview-hexagon1 {
    width: 50px;
  }

  .video__preview-hexagon2 {
    width: 54px;
  }

}

@media (max-width: $small-tablet) {


  .video {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "d"
      "p";
    grid-gap: 2rem;
  }

  .video__glow {
    display: none;
  }

  .video__preview {
    aspect-ratio: 16 / 9;
    max-height: 240px;
  }

  .video__preview-img-title {
    bottom: 1rem;
    left: 1rem;
    font-size: 1rem;
  }

  .video__description {
    padding-left: 0;
  }

}

@media (max-width: $mobile) {


  // video

  .video__container {
    background: $color-background-lower2;
  }

  .video {
    gap: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .video__preview {
    aspect-ratio: 312 / 191;
    border-radius: 0.5rem;
  }

  .video__preview-img-title {
    bottom: 0.75rem;
    left: 0.75rem;
    font-size: 0.75rem;
  }

  .video__preview-hexagon1 {
    width: 41px;
  }

  .video__preview-hexagon2 {
    width: 43px;
  }

  .video__play-circle {
    width: 3.5rem;
    height: 3.5rem;

    .icon {
      font-size: 1.5rem;
    }
  }

  .video__description-text {
    font-weight: normal;
  }

  .video__play-text {
    @include typography-body1;
  }

}
