@import "../variables";
@import "../mixins";


// video

.video {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "p p p p p p p d d d d d";
  align-items: flex-start;
  gap: 1rem;

  padding-top: 0;
}

.video__preview {
  grid-area: p;
}

.video__description {
  grid-area: d;
}


.video__preview {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  width: 100%;
  min-height: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 1rem;
  overflow: hidden;

  z-index: 1;
}

.video__preview-img-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  @include border-gradient($gradient: linear-gradient(to right, #7DFBF8CC, #7DFBF833), $border-width: 0.83px);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-background-upper1;
  }

  img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.video__play {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 5;

  .video__play-circle {
    @include shadow-unhover;
  }

  &:hover {

    .video__play-circle {
      @include shadow-hover;
    }

  }

}

.video__play-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background: $color-prime-main;
  color: $color-prime-contrast;

  .icon {
    font-size: 2em;
  }
}

.video__play-text {
  margin-top: 1em;
  @include typography-h6;
  text-align: center;
  color: $color-prime-main;
}


.video__description {
  padding-left: 2rem;
}

.video__description-title {
  margin-bottom: 0.85714285714em;
}

.video__description-text {
  @include typography-h5;
}



// ADAPTIVE


@media (max-width: $laptop) {

  .video {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "p d";
  }

  .video__description {
    padding-left: 1.5rem;
  }

  .video__description-text {
    font-size: 1.25rem;
  }

}

@media (max-width: $tablet) {

  .video__description {
    padding-left: 1rem;
  }

  .video__description-text {
    font-size: 1rem;
  }
}

@media (max-width: 900px) {

  .video {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      "p p p p p d d d d d d d";
  }

  .video__description {
    padding-left: 0.5rem;
  }


}

@media (max-width: $small-tablet) {
  .video {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "d"
      "p";
    grid-gap: 2rem;
  }

  .video__preview {
    aspect-ratio: 16 / 9;
    max-height: 240px;
  }

  .video__description {
    padding-left: 0;
  }

}

@media (max-width: $mobile) {


  // video

  .video__container {
    background: $color-background-lower2;
  }

  .video {
    gap: 1.5rem;
  }

  .video__preview {
    aspect-ratio: 312 / 191;
    border-radius: 0.5rem;
  }

  .video__play-circle {
    width: 3.5rem;
    height: 3.5rem;

    .icon {
      font-size: 1.5rem;
    }
  }

  .video__description-text {
    font-weight: normal;
  }

  .video__play-text {
    @include typography-body1;
  }

}