@import "parts/variables";

// MAIN

.about__container {
	overflow: hidden;
}

.about {
	display: grid;
	grid-template-columns: repeat(12, minmax(0, 1fr));
	grid-template-areas:
			"t t t t t t t i i i i i"
			"a a a a a a a i i i i i";
	column-gap: 1rem;
	max-width: 100%;
	padding-bottom: 5rem;
}

.about__title {
	grid-area: t;
}

.about__article {
	grid-area: a;
}

.about__article-img {
	max-width: 100%;
	width: 100%;
	object-fit: contain;
}

.about__logo-container {
	grid-area: i;
	min-width: 0;
	width: 100%;
	aspect-ratio: 633 / 1102;
	align-self: flex-start;
	position: relative;
}

.about__logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 177%;
	object-fit: contain;
}


// ADAPTIVE

@media (max-width: $small-tablet) {

	.about {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas:
			"t"
			"a";
	}

	.about__logo-container {
		display: none;
	}
}

@media (max-width: $mobile) {

}