@import "parts/variables";
@import "parts/fonts";
@import "parts/mixins";

@import "parts/reset";

div, span, h1, h2, p  {
	font-family: Golos, sans-serif;
	font-style: normal;
	color: $color-text-prime;
}

@import "parts/components/simple-components";
@import "parts/components/btns";
@import "parts/components/dropdown";
@import "parts/components/modal";
@import "parts/components/textfield";
@import "parts/components/checkbox";
@import "parts/components/forms";
@import "parts/components/link-copier";
@import "parts/modificators";


html {
	scroll-behavior: smooth;
	scrollbar-width: thin;
	scrollbar-color: $color-prime $color-background;

	&::-webkit-scrollbar {
		width: $scrollbar-width;
		height: $scrollbar-width;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: $scrollbar-width / 2;
		background: $color-prime;
	}

	&::-webkit-scrollbar-track {
		border-radius: $scrollbar-width / 2;
		background: $color-background;
	}
}

body {
	background: #32333a;
	position: relative;
	overflow-x: hidden
}

h1, h2, h3, label, p {
	margin-bottom: 0
}

// MAIN

.language {
	margin-left: auto;
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;
}

.language__label {
	.icon {
		margin-left: 16px;
		transition: transform $animation-unhover;
	}

	&:hover {

		.icon {
			transform: translateY(2px);
			transition: transform $animation-hover;
		}
	}
}

.language__menu-item {
	img {
		width: 24px;
		height: auto;
		margin-right: 8px;
	}
}

.background-ellipse {
	z-index: -5;
}

// header

.header__wrapper {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: $z-index-header;
	height: $header-height-desktop;
	overflow: hidden;
	transition: background .3s;
	max-width: 100vw;

	&.scrolled {
		background: $color-background;
	}

	.container {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		position: relative;
		height: 200%;
	}
}

.header {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	width: 100%;
	height: 50%;
	order: 1;

	&.hidden {
		order: 2;
		opacity: 0;
		pointer-events: none;
	}
}

.header__logo img {
	max-width: 160px;
	width: 160px;
}

.header__logo img.mobile {
	display: none;
}

$header-link: 10px;

.header__nav {
	flex-basis: 0;
	flex-grow: 1;
	overflow: hidden;
	display: flex;
	align-items: center;
	column-gap: 40px - $header-link * 2;
	margin-left: 49px - $header-link;
	margin-right: 24px - $header-link;
}

.header__action,
.header__nav a {
	font-family: Golos, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	padding: $header-link;

	color: inherit;
	text-decoration: none;
	white-space: nowrap;

	cursor: pointer;
	transition: color $animation-appear;

	&:hover {
		color: $color-prime;
		transition: color $animation-disappear;
	}
}

.header__action {
	margin-left: 40px - $header-link;
	margin-right: -$header-link;
}

.header__burger {
	width: 32px;
	height: 32px;
	margin-left: 24px;

	&:hover {
		cursor: pointer;
	}
}

// menu

$left-shift: 8px;

.menu {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;

	width: $mobile;
	max-width: 100vw;
	height: 100%;
	max-height: 100vh;

	overflow: auto;
	background: $color-background;
	padding: 0 $container-padding-mobile $container-padding-mobile;

	scroll-behavior: smooth;
	scrollbar-width: 0;

	&::-webkit-scrollbar {
		width: 0;
	}

	z-index: $z-index-header-menu;

	transform: translateX(32px);
	opacity: 0;
	pointer-events: none;
	transition: all $animation-appear;

	&.open {
		transform: translateX(0);
		opacity: 1;
		pointer-events: auto;
		transition: all $animation-appear;
	}
}

.menu__logo {
	max-width: 139px;
	width: 139px;
}

.menu__overlay {
	z-index: $z-index-header-menu-overlay;
}

.menu__header {
	min-height: $header-height-desktop;
	height: $header-height-desktop;
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
}

.menu__body {
	margin-top: 20px;
	margin-bottom: 32px;
}

.menu__close-btn {
	width: 32px;
	height: 32px;
	margin-left: 24px;
	cursor: pointer;
}

.menu__nav {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-top: 24px;

	a {
		font-size: 20px;
		line-height: 28px;
		padding: $left-shift;
		text-decoration: none;
		transition: color $animation-disappear;
		cursor: pointer;

		&:hover {
			text-decoration: none;
			color: $color-prime;
			transition: color $animation-appear;
		}
	}
}

.menu__footer {
	margin-top: auto;
	padding-left: $left-shift;
}

.menu__social {
	display: flex;
	flex-flow: row wrap;
	row-gap: 16px;
	column-gap: 8px;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 47px;

	a {
		padding: 8px 16px;
		border-radius: 40px;
		border: 1px solid $color-text-prime;

		&:hover {
			text-decoration: none;
		}
	}
}

.menu__other {
	display: flex;
	flex-direction: column;
	gap: 8px;
	font-size: 14px;
	line-height: 20px;
}

.menu__copyright {
	color: $color-text-more-secondary;
}

.menu__privacy-policy {

}

// footer

.footer__wrapper {
	padding-top: 180px;
	padding-bottom: 64px;
	overflow: hidden;
	background: $color-background-inverted;
	color: $color-text-prime-inverted;

	.container {
		overflow: visible;
		max-width: 100%;
	}
}

.footer {
	position: relative;

	.title {
		display: flex;
		align-items: center;
		margin-bottom: 128px;
		font-size: 120px;
		line-height: 128px;
		letter-spacing: 0.01em;
	}

	span, div, p {
		color: $color-text-prime-inverted;
	}


	.footer__copyright {
		color: $color-text-more-secondary-inverted;
	}
}

.footer__img {
	position: relative;
	width: 300px;
	height: 300px;
	background: $color-prime;
	border-radius: 50%;
	z-index: 1;
	margin-left: 45px;

	img {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 128px;
		height: 128px;;
		transform: translate(-50%, -50%);
	}
}

.footer__divider {
	margin: 24px 0;
	border-bottom: 1px solid $color-text-more-secondary-inverted;
}

.footer__links {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	column-gap: var(--grid-gap);
	row-gap: 32px;
}

.footer__social {
	display: flex;
	flex-flow: row wrap;
	column-gap: 32px;
	row-gap: 16px;

	a {
		font-size: 20px;
		line-height: 28px;
		white-space: nowrap;
		padding: 10px;
		color: $color-text-prime-inverted;

		.icon {
			font-size: 24px;
			color: $color-text-prime-inverted;

			&:first-child {
				margin-right: 8px;
			}
		}
	}
}

.footer__other {
	display: flex;
	flex-flow: row wrap;
	gap: 16px;
}


.footer__privacy-policy {
	text-decoration: underline;

	&:hover {
		cursor: pointer;
		text-decoration: none;
	}
}


// ADAPTIVE

@media (max-width: $desktop) and (min-width: $mobile + 1) {

	.menu {
		padding-right: get-adaptive-value($container-padding-desktop, $container-padding-mobile);
	}

	.menu__header,
	.header__wrapper {
		min-height: get-adaptive-value($header-height-desktop, $header-height-mobile);
		height: get-adaptive-value($header-height-desktop, $header-height-mobile);
	}

	// footer

	.footer__wrapper {
		padding-top: get-adaptive-value(180px, 56px);
	}

	.footer {
		position: relative;

		.title {
			font-size: get-adaptive-value(120px, 32px);
			line-height: get-adaptive-value(128px, 40px);
			margin-bottom: get-adaptive-value(128px, 48px);
		}
	}

	.footer__img {
		width: get-adaptive-value(300px, 62px);
		height: get-adaptive-value(300px, 62px);

		img {
			width: get-adaptive-value(128px, 30px);
			height: get-adaptive-value(128px, 30px);
		}
	}
}

@media (max-width: $laptop) {


}

@media (max-width: $tablet) {
}

@media (max-width: $small-tablet) {

	.footer__img {
		background: transparent;
	}

	.footer__social {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;

		a {
			padding: 8px 12px 8px 8px;
			border-radius: 40px;

			font-size: 16px;
			line-height: 24px;
			background: #CEE44A;

			&:hover {
				text-decoration: none;
			}
		}
	}
}

@media (max-width: $mobile) {

	html {
		--border-radius: 16px;
	}

	.background-ellipse {
		display: none;
	}

	// header

	.header__wrapper {
		height: $header-height-mobile;
	}

	.header__logo img.mobile {
		display: block;
	}

	.header__logo .desktop {
		display: none;
	}

	.menu__header {
		min-height: $header-height-mobile;
		height: $header-height-mobile;
	}

	// footer

	.footer__wrapper {
		padding: 24px 0;
	}

	.footer .title {
		font-size: 32px;
		line-height: 40px;
		margin-bottom: 32px;
		letter-spacing: 0.01em;
	}

	.footer__img {
		top: 8px;
		right: 0;
		width: 30px;
		height: 30px;
		margin-left: 19px;
		background: transparent;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.footer__header {
		display: none;
	}

	.footer__divider {
		display: none;
	}

	.footer__links {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.footer__social {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;

		a {
			padding: 8px 12px 8px 8px;
			border-radius: 40px;

			font-size: 16px;
			line-height: 24px;
			background: #CEE44A;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.footer__other {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	.footer__copyright {
		order: 2;
	}
}