@import "parts/variables";
@import "parts/fonts";
@import "parts/mixins";

@import "parts/reset";

div, span, h1, h2, p  {
	font-family: Golos, sans-serif;
	font-style: normal;
	color: $color-text-prime;
}

@import "parts/animations";

@import "parts/components/simple-components";
@import "parts/components/btns";
@import "parts/components/dropdown";
@import "parts/components/modal";
@import "parts/components/textfield";
@import "parts/components/checkbox";
@import "parts/components/forms";
@import "parts/components/link-copier";
@import "parts/components/table";
@import "parts/components/youtube-embedded";
@import "parts/components/text";
@import "parts/components/tooltip";
@import "parts/components/chip";
@import "parts/modificators";

html {
	font-size: 16px;
	--rem: 16;
	overflow-x: hidden;

	// CSS VARIABLES

	--grid-gap: 1rem;
	--grid-column: calc((100% - var(--grid-gap) * #{$grid-columns - 1}) / #{$grid-columns});
	--grid-column-gap: calc(var(--grid-gap) + var(--grid-column));
	--border-radius: 2rem;

	@include with-custom-scrollbar;
}

body {
	position: relative;
	padding-top: $header-height-desktop;
	background: $color-background;
	overflow-x: hidden;

	&.dark {
		background: $color-background-lower1;
	}
}

h1, h2, h3, label, p {
	margin-bottom: 0
}


// MAIN

.language {
	margin-left: auto;
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;
}

.language__label {
	.icon {
		margin-left: 1rem;
		transition: transform $animation-normal;
	}

	&:hover {

		.icon {
			transform: translateY(0.125rem);
			transition: transform $animation-fast;
		}
	}
}

.language__menu-item {
	color: $color-text-prime;

	img {
		width: 1.5rem;
		height: auto;
		margin-right: 0.5rem;
	}
}

.background-ellipse {
	z-index: -5;
}

// header

.header__wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: $z-index-header;
	height: $header-height-desktop;
	overflow: hidden;
	transition: background .3s;
	max-width: 100vw;

	&.scrolled {
		background: rgba(23, 26, 48, 0.12);
		backdrop-filter: blur(4rem);
		-webkit-backdrop-filter: blur(4rem);
	}

	.container {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		position: relative;
		height: 200%;
	}
}

.header {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	width: 100%;
	height: 50%;
	order: 1;

	&.hidden {
		order: 2;
		opacity: 0;
		pointer-events: none;
	}
}

.header__logo img {
	max-width: 12.25rem;
	width: 12.25rem;
}

$header-link: 0.625rem;

.header__nav {
	flex-basis: 0;
	flex-grow: 1;
	overflow: hidden;
	display: flex;
	align-items: center;
	column-gap: 2.5rem - $header-link * 2;
	margin-left: 3.0625rem - $header-link;
	margin-right: 1.5rem - $header-link;
}

.header__action,
.header__nav a {
	font-family: Golos, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5;
	padding: $header-link;

	color: inherit;
	text-decoration: none;
	white-space: nowrap;

	cursor: pointer;
	transition: color $animation-slow;

	&.active,
	&:hover {
		color: $color-prime-main;
		transition: color $animation-normal;
	}
}

.header__action {
	margin-left: 2.5rem - $header-link;
	margin-right: -$header-link;
}

.header__burger {
	width: 2rem;
	height: 2rem;
	margin-left: 1.5rem;

	&:hover {
		cursor: pointer;
	}
}

// menu

$left-shift: 0.5rem;

.menu {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	box-sizing: border-box;

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;

	width: $mobile;
	max-width: 100vw;
	height: 100%;
	max-height: 100vh;

	overflow: auto;
	background: $color-background;
	padding: 0 $container-padding-desktop $container-padding-mobile $container-padding-mobile;

	scroll-behavior: smooth;
	scrollbar-width: 0;

	&::-webkit-scrollbar {
		width: 0;
	}

	z-index: $z-index-header-menu;

	transform: translateX(100%);
	pointer-events: none;
	transition: transform $animation-slow;

	&.open {
		transform: translateX(0);
		pointer-events: auto;
		transition: transform $animation-normal;
	}

	&:not(.ready) {
		opacity: 0;
	}
}

.menu__logo img {
	max-width: 12.25rem;
	width: 12.25rem;
}

.menu__overlay {
	z-index: $z-index-header-menu-overlay;
}

.menu__header {
	min-height: $header-height-desktop;
	height: $header-height-desktop;
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
}

.menu__body {
	margin-top: 1.25rem;
	margin-bottom: 2rem;
}

.menu__close-btn {
	width: 2rem;
	height: 2rem;
	margin-left: 1.5rem;
	cursor: pointer;
}

.menu__nav {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	margin-top: 1.5rem;

	a {
		font-size: 1.25rem;
		line-height: 1.75rem;
		padding: $left-shift;
		text-decoration: none;
		transition: color $animation-slow;
		cursor: pointer;

		&.active,
		&:hover {
			text-decoration: none;
			color: $color-prime-main;
			transition: color $animation-normal;
		}
	}
}

.menu__footer {
	margin-top: auto;
	padding-left: $left-shift;
}

.menu__social {
	display: flex;
	flex-flow: row wrap;
	row-gap: 1rem;
	column-gap: 0.5rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	margin-bottom: 47px;

	a {
		padding: 0.5rem 1rem;
		border-radius: 2.5rem;
		border: 1px solid $color-text-prime;
		transition: background-color $animation-normal;

		&:hover {
			text-decoration: none;
			background: change-color($color-prime-main, $alpha: 0.12);
			transition: background-color $animation-fast;
		}
	}
}

.menu__other {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
}

.menu__copyright {
	color: $color-text-more-secondary;
}

.menu__privacy-policy {

}

// footer

.footer__container {
	background: $color-background-lower1;
}

.footer {
	position: relative;
	padding-top: 11.25rem;
	padding-bottom: 4rem;
}

.footer__glow-1 {
	position: absolute;
	top: 53%;
	left: 0;
	transform: translate(-48%, -50%);
	@include glow($color: rgba(125, 251, 248, 0.08));
}

.footer__glow-2 {
	position: absolute;
	bottom: 0;
	left: 0;
	@include glow($color: rgba(255, 103, 255, 0.2), $width: 56vw, $aspect-ratio: 56 / 16);
	filter: blur(10vw);
}

.footer__main {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-areas: "t t t t t t t t t b b b";
	margin-bottom: 8rem;
	gap: 1rem;
}

.footer__title {
	grid-area: t;
	align-self: center;
}

.footer__background-wrapper {
	grid-area: b;
	align-self: flex-end;
}


.footer__title {
	font-weight: 500;
	font-size: 6.875rem;
	line-height: 1.16;
	letter-spacing: 0.01em;

	text-shadow: 0px 0px 48px rgba(125, 251, 248, 0.6);
}

.footer__background-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.footer__background {
	width: 120%;
	transform: translateY(5%);
}

.footer__divider {
	margin: 1.5rem 0;
	border-bottom: 1px solid $color-text-more-secondary;
}

.footer__links {
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	justify-content: space-between;
	row-gap: 2rem;
	column-gap: 2rem;
}

$social-link-padding: 0.625rem;

.footer__social {
	display: flex;
	flex-flow: row wrap;
	column-gap: 2rem;
	row-gap: 1rem;
	margin-left: -0.625rem;

	a {
		font-size: 1.25rem;
		line-height: 1.75rem;
		white-space: nowrap;
		padding: $social-link-padding;
		color: $color-text-prime;

		.icon {
			font-size: 1.5rem;
			color: $color-text-prime;

			&:first-child {
				margin-right: 0.5rem;
			}
		}
	}
}

.footer__other {
	display: flex;
	flex-flow: row nowrap;
	padding-top: $social-link-padding;
	gap: 1rem;
	white-space: nowrap;
}

.footer__privacy-policy {
	text-decoration: underline;

	&:hover {
		cursor: pointer;
		text-decoration: none;
	}
}


// ADAPTIVE

@media (max-width: $desktop) {

	.header__logo img {
		width: get-adaptive-value(12.25rem, 7.75rem)
	}


	// menu

	.menu {
		padding: 0 $container-padding-adaptive $container-padding-mobile $container-padding-mobile;
	}

	.menu__logo img {
		width: get-adaptive-value(12.25rem, 7.75rem)
	}

	// footer

	.footer {
		padding-top: get-adaptive-value(11.25rem, 2rem);
		padding-bottom: get-adaptive-value(4rem, 2rem);
	}

	.footer__main {
		margin-bottom: get-adaptive-value(8rem, 2rem);
	}

	.footer__title {
		font-size: get-adaptive-value(6.875rem, 2rem);
	}
}

@media (max-width: 1700px) {

	html {
		font-size: 15px;
		--rem: 15;
	}
}

@media (max-width: $laptop) {

	html {
		font-size: 14px;
		--rem: 14;
	}

	// footer

	.footer__social {
		column-gap: 1rem;
	}

}

@media (max-width: $tablet) {

	.footer__links {
		flex-wrap: wrap;
		align-items: center;
	}

	.footer__other {
		flex-wrap: wrap;
		padding-top: 0;
	}
}

@media (max-width: $small-tablet) {

	.footer__glow-2 {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		@include glow($color: rgba(255, 103, 255, 0.2), $width: 120vw, $aspect-ratio: 56 / 16, $blur: 12vw);
	}

	.footer__background-wrapper {
		display: none;
	}

	.footer__header {
		display: none;
	}

	.footer__divider {
		display: none;
	}

	.footer__social {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 1rem;
		margin-left: 0;

		a {
			padding: 0.5rem 0.75rem 0.5rem 0.5rem;
			border-radius: 2.5rem;

			font-size: 1rem;
			line-height: 1.5rem;
			border: 1px solid $color-text-prime;
			transition: background $animation-slow;


			&:hover {
				text-decoration: none;
				background: $color-action-hover;
				transition: background $animation-normal;
			}
		}
	}

}

@media (max-width: $mobile) {

	html {
		font-size: 16px;
		--rem: 16;
		--border-radius: 1rem;
	}

	body {
		background: $color-background;
		position: relative;
		overflow-x: hidden;
		max-width: 100vw;
		padding-top: $header-height-mobile;
	}

	// header

	.header__wrapper {
		height: $header-height-mobile;
	}

	// menu

	.menu {
		padding: 0 $container-padding-mobile $container-padding-mobile;
	}

	.menu__header {
		min-height: $header-height-mobile;
		height: $header-height-mobile;
	}

	// footer

	.footer {
		padding: 1.5rem 0;
	}

	.footer__main {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas: "t";
		margin-bottom: 2rem;
	}

	.footer__title {
		@include typography-h3-adaptive;


		br {
			display: none;
		}
	}

	.footer__links {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.footer__social {
		flex-direction: column;
		align-items: flex-start;
	}

	.footer__other {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.footer__copyright {
		order: 2;
	}
}
