@import "parts/variables";
@import "parts/mixins";

// MAIN


.contacts-page__glow-1 {
	position: absolute;
	top: 0;
	left: 0;
	@include glow($width: 27vw, $color: #7DFBF829);
	min-width: 360px;
	z-index: -1;
}

.contacts-page__glow-2 {
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(12%, -20%);
	@include glow($width: 43vw, $color: #FF7F511F);
	min-width: 317px;
	z-index: -1;
}

.contacts {
	max-width: 100%;
	display: grid;
	grid-template-rows: auto minmax(0, 1fr);
	grid-template-columns: 1fr minmax(0, 1fr);
	grid-template-areas:
		"t i"
		"c i";
	padding-bottom: 6.75rem !important;

	.title {
		grid-area: t;
	}
}

.contacts__cards {
	grid-area: c;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 2rem;
	flex-grow: 1;
	margin-right: 4rem;
	position: relative;
}

.contacts__cards-glow {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	@include glow($width: 27vw, $color: #FF67FF3D);
	min-width: 0;
	width: auto;
	height: 80%;
	max-height: 80%;
	max-width: 80%;
	z-index: -1;
}

.contacts__card {
	@include paper;
	border-radius: 2rem;
	padding: 3rem;

	position: relative;
	@include border-gradient;

	&:hover {
		text-decoration: none;
	}

	@include shadow-hovering($color-prime-main);
}

.contacts__card-title {
	@include typography-h4;
	color: $color-secondary-main;
}

.contacts__card-subtitle {
	@include typography-body1;
	color: $color-text-secondary;
}

.contacts__img {
	grid-area: i;
	justify-self: center;
	align-self: center;
	object-fit: contain;

	height: 0;
	min-height: 100%;
	max-width: 100%;
	max-height: 100%;

	position: relative;
	top: 7%
}


// ADAPTIVE

@media (max-width: $small-desktop) {

	.contacts__card-title {
		font-size: 2rem;
	}

	.contacts__cards {
		gap: 1.5rem;
	}

	.contacts__card {
		padding: 2.5rem;
	}
}

@media (max-width: $laptop) {

	.contacts__card-title {
		font-size: 1.5rem;
	}

	.contacts__card-subtitle {
		@include typography-body2;
	}

	.contacts__cards {
		gap: 1.25rem;
	}

	.contacts__card {
		padding: 2rem;
	}
}

@media (max-width: $small-laptop) {

	.contacts__card-title {
		font-size: 1.25rem;
	}

	.contacts__card-subtitle {
		@include typography-body2;
	}

	.contacts__cards {
		gap: 1rem;
	}

	.contacts__card {
		padding: 1.5rem;
	}
}


@media (max-width: $small-tablet) {

	.contacts-page__glow-1 {
		top: 0;
		left: 0;
		transform: translate(-35%, -10%);
	}

	.contacts-page__glow-2 {
		top: 240px;
		right: 0;
		transform: translateX(30%);
	}

	.contacts {
		display: block;
	}

	.contacts__img {
		display: none;
	}

	.contacts__cards-glow {
		display: none;
	}

	.contacts__card {
		@include disable-border-gradient;
	}

	.contacts__card-title {
		color: $color-text-prime;
	}
}

@media (max-width: $mobile) {

	.contacts {
		padding-bottom: 1.5rem;
		grid-template-columns: minmax(0, 1fr);
		grid-template-areas:
			"i"
			"t"
			"c";
	}

	.contacts__cards {
		gap: 1rem;
		margin-right: 0;
	}

	.contacts__card {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		border-radius: 1rem;
		padding: 2rem;
	}

	.contacts__card-title {
		@include typography-h4-adaptive;
	}

	.contacts__card-subtitle {
		@include typography-body2-adaptive;
	}

}