@import "parts/variables";

@import "common";


// MAIN

.contacts {
	max-width: 100%;
	display: grid;
	grid-template-rows: auto minmax(0, 1fr);
	grid-template-columns: 1fr minmax(0, 1fr);
	grid-template-areas:
		"t t"
		"c i";
	padding-bottom: 108px;

	.title {
		grid-area: t;
	}
}

.contacts__cards {
	grid-area: c;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 32px;
	flex-grow: 1;
	margin-right: 64px;
}

.contacts__card {
	background: $color-dark-background;
	border-radius: 32px;
	padding: 48px;

	&:hover {
		text-decoration: none;
	}

	@include hover-shadow($color-prime);
}

.contacts__card-title {
	font-size: 36px;
	line-height: 48px;
	margin-bottom: 8px;
}

.contacts__card-subtitle {
	font-size: 20px;
	line-height: 28px;
	color: $color-text-secondary;
}

.contacts__img {
	grid-area: i;
	justify-self: center;
	align-self: center;

	height: 0;
	min-height: 100%;
	max-width: 100%;
	max-height: 100%;
}


// ADAPTIVE


@media (max-width: $desktop) and (min-width: $mobile + 1) {

	.contacts {
		padding-bottom: get-adaptive-value(108px, 24px);
	}

	.contacts__cards {
		margin-right: get-adaptive-value(64px, 0px);
	}

	.contacts__card {
		padding: get-adaptive-value(48px, 32px);
	}

	.contacts__card-title {
		font-size: get-adaptive-value(36px, 20px);
		line-height: get-adaptive-value(48px, 28px);
	}

	.contacts__card-subtitle {
		font-size: get-adaptive-value(20px, 14px);
		line-height: get-adaptive-value(28px, 20px);
	}
}

@media (max-width: $laptop) {

}

@media (max-width: $tablet) {
	.contacts__cards {
		gap: 16px;
	}
}

@media (max-width: $small-tablet) {

	.contacts {
		grid-template-columns: minmax(0, 1fr);
		grid-template-areas:
			"i"
			"t"
			"c";
	}

	.contacts__img {
		width: 100%;
		max-width: $mobile;
		height: auto;
	}


}

@media (max-width: $mobile) {

	.contacts {
		padding-bottom: 24px;
		grid-template-columns: minmax(0, 1fr);
		grid-template-areas:
			"i"
			"t"
			"c";
	}

	.contacts__cards {
		gap: 16px;
		margin-right: 0;
	}

	.contacts__card {
		border-radius: 16px;
		padding: 32px;
	}

	.contacts__card-title {
		font-size: 20px;
		line-height: 28px;
	}

	.contacts__card-subtitle {
		font-size: 14px;
		line-height: 20px;
	}

}