@import "parts/variables";
@import "parts/mixins";

@import "common";


// MAIN

.faq {
	display: grid;
	grid-template-columns: repeat(12, minmax(0, 1fr));
	grid-template-areas:
		"t t t t t t t t t t t t"
		"s s s s s s s s . . . ."
		"m m m m m m m m m . . .";

	.title {
		grid-area: t;
		margin-bottom: 32px;
	}
}

.faq__subtitle {
	grid-area: s;
	margin-bottom: 80px;
}

.faq__sections {
	grid-area: m;
}

.faq__section {
	margin-bottom: 80px;

	&:last-child {
		margin-bottom: 0;
	}
}

.faq__section-title {
	margin-bottom: 32px;
	font-weight: 500;
	font-size: 56px;
	line-height: 72px;
	letter-spacing: 0.01em;

	p {
		margin-bottom: 16px;
	}
	p:last-child {
		margin-bottom: 0;
	}
}

.faq__questions {
	.faq__questions-collapse > .collapse__content {
		padding-bottom: 16px;
	}
}

.faq__question {
	margin-bottom: 16px;

	&:last-child {
		margin-bottom: 0;
	}
}

.faq__question-title {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	gap: 16px;

	font-size: 24px;
	line-height: 36px;

	cursor: pointer;

	@include with-outer-collider(16px)
}

.faq__question-expand-btn {
	width: 24px;
	height: 24px;
	line-height: 100%;
	cursor: pointer;

	@include with-outer-collider(16px);

	.icon {
		color: $color-prime;
	}

	.icon.minus:first-child {
		position: absolute;
		top: 0;
		left: 0;
		width: 24px;
		height: 24px;
		transition: transform $animation-appear;
	}

	.icon.minus:last-child {
		position: absolute;
		top: 0;
		left: 0;
		width: 24px;
		height: 24px;
		transition: transform $animation-appear;
	}
}

.faq__question-title:not(.expanded) {

	.faq__question-expand-btn {

		.icon.minus:first-child {
			transform: rotate(-180deg);
			transition: transform $animation-appear;
		}

		.icon.minus:last-child {
			transform: rotate(-270deg);
			transition: transform $animation-appear;
		}

	}

}

.faq__question-expand-btn-inner {
	position: relative;
}

.faq__question-answer {
	font-size: 20px;
	line-height: 28px;

	&::before {
		content: "";
		display: block;
		height: 16px;
	}
}

.faq__question-more-btn {
	align-self: flex-start;
}

// ADAPTIVE

@media (max-width: $desktop) and (min-width: $mobile + 1) {
	.faq {
		.title {
			margin-bottom: get-adaptive-value(32px, 16px);
		}
	}

	.faq__section {
		margin-bottom: get-adaptive-value(80px, 32px);
	}

	.faq__subtitle {
		margin-bottom: get-adaptive-value(80px, 32px);
	}

	.faq__section-title {
		font-size: get-adaptive-value(56px, 28px);
		line-height: get-adaptive-value(72px, 36px);
	}

	.faq__question-title {
		font-size: get-adaptive-value(24px, 16px);
		line-height: get-adaptive-value(36px, 24px);
	}

	.faq__question-answer {
		font-size: get-adaptive-value(20px, 14px);
		line-height: get-adaptive-value(28px, 20px);
	}
}

@media (max-width: $laptop) {

}

@media (max-width: $tablet) {

	.faq {
		grid-template-areas:
			"t t t t t t t t t t t t"
			"s s s s s s s s s . . ."
			"m m m m m m m m m m . .";
	}

	.faq__section-title {
		font-weight: 400;
	}

}

@media (max-width: $small-tablet) {
	.faq {
		grid-template-columns: minmax(0, 1fr);
		grid-template-areas:
			"t"
			"s"
			"m";

		padding-bottom: 40px;
	}
}

@media (max-width: $mobile) {

	.faq {
		.title {
			margin-bottom: 16px;
		}

	}

	.faq__section {
		margin-bottom: 32px;
	}

	.faq__subtitle {
		margin-bottom: 32px;
	}

	.faq__section-title {
		font-size: 28px;
		line-height: 36px;
	}

	.faq__question-title {
		font-size: 16px;
		line-height: 24px;
	}

	.faq__question-answer {
		font-size: 14px;
		line-height: 20px;
	}
}