@import "parts/variables";
@import "parts/mixins";

@import "common";


// MAIN

.faq {
	display: grid;
	grid-template-columns: repeat(12, minmax(0, 1fr));
	grid-template-areas:
		"t t t t t t t t t t t t"
		"s s s s s s s s . . . ."
		"m m m m m m m m m . . .";

	.title {
		grid-area: t;
		margin-bottom: 2rem;
	}
}

.faq__subtitle {
	grid-area: s;
	margin-bottom: 5rem;
}

.faq__sections {
	grid-area: m;
}

.faq__section {
	margin-bottom: 5rem;

	&:last-child {
		margin-bottom: 0;
	}
}

.faq__section-title {
	margin-bottom: 2rem;
	font-weight: 500;
	font-size: 3.5rem;
	line-height: 4.5rem;
	letter-spacing: 0.01em;

	p {
		margin-bottom: 1rem;
	}
	p:last-child {
		margin-bottom: 0;
	}
}

.faq__questions {
	.faq__questions-collapse > .collapse__content {
		padding-bottom: 1rem;
	}
}

.faq__question {
	margin-bottom: 1rem;

	&:last-child {
		margin-bottom: 0;
	}
}

.faq__question-title {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	gap: 1rem;

	font-size: 1.5rem;
	line-height: 2.25rem;

	cursor: pointer;

	@include with-outer-collider(1rem)
}

.faq__question-expand-btn {
	width: 1.5rem;
	height: 1.5rem;
	line-height: 100%;
	cursor: pointer;

	@include with-outer-collider(1rem);

	.icon {
		color: $color-prime-main;
	}

	.icon.minus:first-child {
		position: absolute;
		top: 0;
		left: 0;
		width: 1.5rem;
		height: 1.5rem;
		transition: transform $animation-normal;
	}

	.icon.minus:last-child {
		position: absolute;
		top: 0;
		left: 0;
		width: 1.5rem;
		height: 1.5rem;
		transition: transform $animation-normal;
	}
}

.faq__question-title:not(.expanded) {

	.faq__question-expand-btn {

		.icon.minus:first-child {
			transform: rotate(-180deg);
			transition: transform $animation-normal;
		}

		.icon.minus:last-child {
			transform: rotate(-270deg);
			transition: transform $animation-normal;
		}

	}

}

.faq__question-expand-btn-inner {
	position: relative;
}

.faq__question-answer {
	font-size: 1.25rem;
	line-height: 1.75rem;

	&::before {
		content: "";
		display: block;
		height: 1rem;
	}
}

.faq__question-more-btn {
	align-self: flex-start;
}

// ADAPTIVE

@media (max-width: $mobile) {

	.faq {
		.title {
			margin-bottom: 1rem;
		}

	}

	.faq__section {
		margin-bottom: 2rem;
	}

	.faq__subtitle {
		margin-bottom: 2rem;
	}

	.faq__section-title {
		font-size: 1.75rem;
		line-height: 2.25rem;
	}

	.faq__question-title {
		font-size: 1rem;
		line-height: 1.5rem;
	}

	.faq__question-answer {
		font-size: 0.875rem;
		line-height: 1.25rem;
	}
}