@import "parts/variables";
@import "parts/mixins";

// MAIN

.faq-page__glow-1 {
	position: absolute;
	top: 0;
	left: 0;
	@include glow($width: 27vw, $color: #7DFBF829);
	min-width: 360px;
	z-index: -1;
}

.faq-page__glow-2 {
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(12%, -20%);
	@include glow($width: 43vw, $color: #FF7F511F);
	min-width: 317px;
	z-index: -1;
}

.faq-page__glow-3 {
	position: absolute;
	bottom: 20%;
	right: 0;
	transform: translateX(50%);
	@include glow($width: 43vw, $color: $color-glow-tertiary);
	min-width: 317px;
	z-index: -1;
}

.faq {
	display: grid;
	grid-template-columns: repeat(12, minmax(0, 1fr));
	grid-template-areas:
		"t t t t t t t t t t t t"
		"s s s s s s s s s . . ."
}

.faq__title {
	grid-area: t;
}

.faq__subtitle {
	max-width: 60%;
	text-shadow: none;
}

.faq__sections {
	grid-area: s;
}

.faq__section {
	margin-bottom: 5rem;

	&:last-child {
		margin-bottom: 0;
	}
}

.faq__section-title {
	margin-bottom: 2rem;
	@include typography-h3;

	p {
		margin-bottom: 1rem;
	}
	p:last-child {
		margin-bottom: 0;
	}
}

.faq__questions {
	.faq__questions-collapse > .collapse__content {
		padding-bottom: 1rem;
	}
}

.faq__question {
	margin-bottom: 1rem;
	@include paper;
	padding: 1.5rem;

	position: relative;
	border-radius: 2rem;
	@include border-gradient;

	&:last-child {
		margin-bottom: 0;
	}
}

.faq__question-title {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	gap: 1rem;

	@include typography-h5;

	cursor: pointer;

	@include with-outer-collider(1rem)
}

.faq__question-expand-btn {
	flex-shrink: 0;
	width: 1.5rem;
	height: 1.5rem;
	line-height: 100%;
	cursor: pointer;

	@include with-outer-collider(1rem);

	.icon {
		color: $color-prime-main;
	}

	.icon.minus:first-child {
		position: absolute;
		top: 0;
		left: 0;
		width: 1.5rem;
		height: 1.5rem;
		transition: transform $animation-normal;
	}

	.icon.minus:last-child {
		position: absolute;
		top: 0;
		left: 0;
		width: 1.5rem;
		height: 1.5rem;
		transition: transform $animation-normal;
	}
}

.faq__question-title:not(.expanded) {

	.faq__question-expand-btn {

		.icon.minus:first-child {
			transform: rotate(-180deg);
			transition: transform $animation-normal;
		}

		.icon.minus:last-child {
			transform: rotate(-270deg);
			transition: transform $animation-normal;
		}

	}

}

.faq__question-expand-btn-inner {
	position: relative;
}

.faq__question-answer {
	font-size: 1.25rem;
	line-height: 1.75rem;

	&::before {
		content: "";
		display: block;
		height: 1rem;
	}
}

.faq__question-more-btn {
	align-self: flex-start;
}

// ADAPTIVE

@media (max-width: $laptop) {

	.faq__section-title {
		font-size: 3rem;
	}

	.faq__question-title {
		font-size: 1.375rem;
	}

}

@media (max-width: $small-laptop) {

	.faq__section-title {
		font-size: 2.5rem;
	}


	.faq__question-title {
		font-size: 1.25rem;
	}


	.faq__question-answer {
		font-size: 1.125rem;
	}
}

@media (max-width: $tablet) {

	.faq__subtitle {
		max-width: $mobile;
	}

	.faq__section-title {
		font-size: 2.25rem;
	}

	.faq__question-title {
		font-size: 1.125rem;
	}

	.faq__question-answer {
		font-size: 1rem;
	}

}

@media (max-width: $small-tablet) {

	.faq-page__glow-1 {
		top: 0;
		left: 0;
		transform: translate(-35%, -10%);
	}

	.faq-page__glow-2 {
		top: 400px;
		right: 0;
		transform: translateX(30%);
	}

	.faq-page__glow-3 {
		top: 1400px;
		left: 0;
		transform: translateX(-50%);
	}

	.faq {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas:
			"t"
			"s";
	}

	.faq__question {
		border-radius: 1rem;
		@include disable-border-gradient;
	}
}

@media (max-width: $mobile) {

	.faq__section {
		margin-bottom: 2rem;
	}

	.faq__section-title {
		@include typography-h3-adaptive;
	}

	.faq__question-title {
		@include typography-body1-adaptive;
	}

	.faq__question-answer {
		@include typography-body2-adaptive;
	}
}