@import "parts/reset";
@import "parts/variables";
@import "parts/fonts";
@import "parts/mixins";

@import "common";

@import "parts/blocks/pool";


// MAIN

// promo

.promo {
	position: relative;
	padding-bottom: 11.25rem;
}

.promo__first-screen {
	min-height: calc(100vh - #{$header-height-desktop});
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-areas:
		"m m m m m m m i i i i i";
	align-items: center;
}

.promo__main {
	grid-area: m;
	margin-top: 5vh;
}

.promo__img-container {
	grid-area: i;
}

.promo__img {
	position: relative;
	margin-left: -44%;
	left: 9%;
	width: 144%;
	object-fit: contain;
}

.promo__title {
	font-family: Golos, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 7.5rem;
	line-height: 1.066;
	letter-spacing: 0.01em;
}

.promo__info {
	margin-top: 3.25rem;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 1.5;
	width: 85%;
}

.promo__buttons {
	margin-top: 3.5rem;
	display: flex;
	align-items: center;
	gap: 1.5rem
}

.promo__cards {
	padding-top: 4rem;
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	gap: 1rem;
}

.promo__card {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;


	font-weight: 500;
	font-size: 1.25rem;
	line-height: 1.4;
	text-align: center;

	padding: 2rem 1rem;
	background: transparent;
	border-radius: 1rem;
	border: 2px solid $color-prime-light;
}

// advantages

.advantages {
	position: relative;

	.background-ellipse {
		position: absolute;
		top: 50%;
		left: 50%;
		max-height: 100%;
		transform: translate(-50%, -50%);
		z-index: -2;
	}
}

.advantages__cards.desktop {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: var(--grid-gap);

	& > .advantages__card:nth-child(1) {
		grid-column: 1 / 8;
	}

	& > .advantages__card:nth-child(2) {
		grid-column: 8 / -1;
	}

	& > .advantages__card-group:nth-child(3) {
		grid-column: 1 / 7;
	}

	& > .advantages__card-group:nth-child(4) {
		grid-column: 7 / -1;
	}
}

.advantages__cards.mobile {
	display: none;
}

.advantages__card-group {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: stretch;
	gap: var(--grid-gap);
	height: 100%;

	.advantages__card {
		flex-grow: 1;
	}
}

.advantages__card {
	overflow: hidden;
	border-radius: var(--border-radius);
	padding: 2rem;
	background: $color-dark-background;

	font-size: 2.25rem;
	line-height: 3rem;

	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-flow: row nowrap;
	gap: var(--grid-gap);

	&.with-multiple-rows {
		flex-flow: column;
		align-items: stretch;

		& > * {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	&.with-title {
		justify-content: flex-start;
		gap: 0;
	}

	&.card-7 {
		font-size: 1.5rem;
		line-height: 2.25rem;
	}

	.big-text {
		font-weight: 500;
		font-size: 5rem;
		line-height: 6.5rem;
	}
}

.advantages__card-title {
	margin-right: 2rem;

	& > div:first-child {
		font-weight: 400;
		font-size: 1.5rem;
		line-height: 2.25rem;
	}

	& > div:last-child {
		font-weight: 500;
		font-size: 10rem;
		line-height: 10.75rem;
		letter-spacing: 0.03em;
		white-space: nowrap;
	}

	.small-text {
		font-size: 64.2px;
		line-height: 5.375rem;
		letter-spacing: 0;
	}
}

// video

.video {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	height: 100vh;
	max-height: 1080px;
	z-index: 1;
}

.video__preview {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	img, video {
		width: 100%;
		height: 100%;
		-o-object-fit: cover;
		object-fit: cover
	}

	z-index: 1;
}

.video__play {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	z-index: 5;
}

.video__play-circle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 5.5rem;
	height: 5.5rem;
	border-radius: 5.5rem;
	background: $color-prime-main;
	color: $color-prime-contrast;

	.icon {
		font-size: 3rem;
		transform: scale(1, 1);
		transition: transform $animation-disappear;
	}
}

.video__play-text {
	margin-top: 1.5rem;
	font-size: 2.25rem;
	line-height: 3rem;
	color: $color-prime-main;
	text-align: center;
}

.video__play-circle:hover {
	.icon {
		transform: scale(1.1, 1.1) translateX(2%);
		transition: transform $animation-appear;
	}
}

// youtube embedded

.youtube-embedded {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 4rem 1rem;

	z-index: $z-index-video-player;

	opacity: 0;
	pointer-events: none;
	transition: opacity $animation-disappear;

	&.open {
		opacity: 1;
		pointer-events: auto;
		animation: fadeOut $animation-appear;
	}
}

.youtube-embedded__overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: $color-dark-background;
	z-index: 2;
}

.youtube-embedded iframe {
	max-width: 100%;
	max-height: 100%;
	position: relative;
	z-index: 20;
}

// how

.how {
}

.how__steps {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 8.25rem;
	grid-column-gap: 5.5rem;
	text-align: center;
}

.how__step-icon {
	display: flex;
	align-items: center;
	justify-content: center;

	img {
		height: 10.25rem;
		object-fit: cover;
	}
}

.how__step-title {
	font-size: 1.5rem;
	line-height: 2.25rem;
	text-align: center;
	padding-bottom: 1rem;
}

// goals

.goals {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	grid-template-areas: "t c";
	grid-gap: var(--grid-gap);
	position: relative;
	overflow: visible;

	.title {
		align-self: start;
		position: sticky;
		top: $header-height-desktop + 1rem;
		grid-area: t;
		margin-bottom: 0;
	}
}

.goals__cards {
	grid-area: c;
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.goals__card {
	display: grid;
	grid-template-areas:
			"n t"
			". d";
	grid-column-gap: 1rem;
	grid-row-gap: 2rem;
}

.goals__card-number {
	grid-area: n;
	font-size: 3.5rem;
	line-height: 4.5rem;
	letter-spacing: 0.01em;
	-webkit-text-stroke: 1px $color-text-more-secondary;
	color: transparent;
}

.goals__card-icon {
	width: 5.75rem;
	height: 5.75rem;
}

.goals__card-title {
	grid-area: t;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;

	font-weight: 500;
	font-size: 3.5rem;
	line-height: 4.5rem;
	letter-spacing: 0.01em;
}

.goals__card-description {
	grid-area: d;
	font-size: 1.5rem;
	line-height: 2.25rem;
}

// ADAPTIVE

@media (max-width: $desktop) {

	// promo

	.promo {
		padding-bottom: get-adaptive-value(11.25rem, 1.5rem);
	}

	.promo__title {
		font-size: get-adaptive-value(7.5rem, 3.75rem, $desktop, $tablet);
	}

	.promo__info {
		font-size: get-adaptive-value(1.5rem, 1rem, $desktop, $tablet);
		margin-top: get-adaptive-value(3.25rem, 1.5rem, $desktop, $tablet);
	}

	.promo__buttons {
		margin-top: get-adaptive-value(3.5rem, 2rem, $desktop, $tablet);
	}

}

@media (max-width: $tablet) {

	// promo

	.promo__img {
		width: 130%;
		margin-left: -30%;
	}

	.promo__buttons {
		gap: 1rem;
	}

	.promo__cards {
		display: flex;
		gap: 1rem;
		overflow: auto;
		flex-wrap: wrap;
	}

	.promo__card {
		min-width: 0;
		flex-basis: 304px;
		flex-grow: 1;
		align-items: flex-start;
		text-align: left;
		font-weight: normal;
		gap: 1rem;
		padding: 2rem;
	}

	@media (hover: none) {

		.promo__cards {
			flex-wrap: nowrap;
			@include with-horizontal-scrollbar-in-container-adaptive;
		}

		.promo__card {
			min-width: 304px;
			flex-grow: 0;
		}
	}
}

@media (max-width: $small-tablet) {

	// promo

	.promo__first-screen {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}

	.promo__img-container {
		max-width: 100%;
	}

	.promo__img {
		position: relative;
		top: 0;
		left: 0;
		margin-left: clamp(-11%, -11%, -3rem);

		margin-bottom: 1.5rem;
		width: calc(80% - 3rem);
		min-width: calc(#{$mobile} - 2rem);
	}

	.promo__main {
		margin-top: 0;
	}

	.promo__title {
		font-size: get-adaptive-value(3.75rem, 2.75rem, $tablet, $mobile);
		line-height: 1.27;
	}

}

@media (max-width: $mobile) {

	// promo

	.promo {
		padding-bottom: 1.5rem;
	}

	.promo__img {
		position: relative;
		top: 0;
		left: 0;
		margin: 1.5rem -1.5rem 1.5rem -2.5rem;
		width: calc(100% + 4rem);
		max-width: 35vh !important;
	}

	.promo__main {
		margin-top: 0;
	}

	.promo__title {
		font-size: 2.75rem;
	}

	.promo__info {
		font-weight: normal;
		font-size: 1rem;
		margin: 1.5rem 0;
		width: 100%
	}

	.promo__buttons {
		gap: 0.5rem;
		margin: 0;

		.btn .icon {
			display: none;
		}
	}

	.promo__cards {
		padding-top: 3rem;
	}

	// advantages

	.advantages__card.card-7,
	.advantages__card {
		font-size: 0.875rem;
		line-height: 1.25rem;
		padding: 1rem;

		.big-text {
			font-size: 2rem;
			line-height: 2.5rem;
		}

		img {
			width: 1.5rem;
			height: 1.5rem;
		}

		img.big-icon {
			width: 2rem;
			height: 2rem;
		}
	}

	.advantages__card.card-4 {
		font-size: 1rem;
		line-height: 1.5rem;
	}

	.advantages__card-title {
		margin-right: 1rem;

		& > div:first-child {

			font-size: 0.875rem;
			line-height: 1.25rem;
		}

		& > div:last-child {
			font-size: 3.5rem;
			line-height: 59px;
		}

		.small-text {
			font-size: 1.5rem;
			line-height: 2.25rem;
		}
	}

	// video

	.video  {
		height: auto;
		padding: 47px 0;
	}

	.video__play {
		position: relative;
		top: 0;
		left: 0;
	}

	.video__play-circle {
		width: 3.5rem;
		height: 3.5rem;
		padding: 0;

		.icon {
			font-size: 1.5rem;
		}
	}

	.video__play-text {
		font-size: 1.25rem;
		line-height: 1.75rem;
	}

	// launchpool

	.launchpool__main-part {
		display: block;
	}

	.launchpool__description {
		margin-top: 1.5rem;

		p {
			font-size: 1rem;
			line-height: 1.5rem;
			margin: 0;
		}
	}

	.launchpool__buttons {
		margin-top: 1.5rem;
		gap: 0.5rem
	}

	.launchpool__cards {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		gap: 1rem;
		margin-top: 3rem;

		@include with-horizontal-scrollbar-in-container-mobile;
	}

	.launchpool__card {
		min-width: 9.25rem;
	}

	.launchpool__card-badge {
		width: 61px;
		height: 61px;

		span {
			font-size: 0.875rem;
			line-height: 1.25rem;
		}
	}

	.launchpool__card-title {
		margin-top: 1.5rem;
		font-size: 1rem;
		line-height: 1.5rem;
	}

	// how

	.how__steps {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		grid-column-gap: 2rem;
		grid-row-gap: 4rem;
	}

	.how__step-title {
		font-size: 0.875rem;
		line-height: 1.25rem;
	}

	// goals

	.goals {
		display: block;

		.title {
			margin-bottom: 2rem;
		}
	}

	.goals__card-number {
		display: none;
	}

	.goals__card {
		display: block;
	}

	.goals__cards {
		gap: 2rem;
	}

	.goals__card-title {
		margin-bottom: 1.125rem;
		font-size: 1.75rem;
		line-height: 2.25rem;
	}

	.goals__card-icon {
		width: 2.5rem;
		height: 2.5rem;
	}

	.goals__card-description {
		font-size: 1.25rem;
		line-height: 1.75rem;
		color: $color-text-secondary;
	}

	.goals__divider {
		margin: 1.5rem 0;
	}

}