@import "parts/variables";
@import "parts/mixins";

@import "parts/page-blocks/pool";
@import "parts/page-blocks/promo";
@import "parts/page-blocks/video";
@import "parts/page-blocks/exchange";
@import "parts/page-blocks/how";
@import "parts/page-blocks/goals";
@import "parts/page-blocks/advantages";