@import "parts/reset";
@import "parts/variables";
@import "parts/fonts";
@import "parts/mixins";

@import "common";

@import "parts/page-blocks/pool";
@import "parts/page-blocks/promo";
@import "parts/page-blocks/video";
@import "parts/page-blocks/exchange";
@import "parts/page-blocks/how";
@import "parts/page-blocks/goals";


// MAIN

// advantages

.advantages {
	position: relative;

	.background-ellipse {
		position: absolute;
		top: 50%;
		left: 50%;
		max-height: 100%;
		transform: translate(-50%, -50%);
		z-index: -2;
	}
}

.advantages__cards.desktop {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: var(--grid-gap);

	& > .advantages__card:nth-child(1) {
		grid-column: 1 / 8;
	}

	& > .advantages__card:nth-child(2) {
		grid-column: 8 / -1;
	}

	& > .advantages__card-group:nth-child(3) {
		grid-column: 1 / 7;
	}

	& > .advantages__card-group:nth-child(4) {
		grid-column: 7 / -1;
	}
}

.advantages__cards.mobile {
	display: none;
}

.advantages__card-group {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: stretch;
	gap: var(--grid-gap);
	height: 100%;

	.advantages__card {
		flex-grow: 1;
	}
}

.advantages__card {
	overflow: hidden;
	border-radius: var(--border-radius);
	padding: 2rem;
	background: $color-dark-background;

	font-size: 2.25rem;
	line-height: 3rem;

	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-flow: row nowrap;
	gap: var(--grid-gap);

	&.with-multiple-rows {
		flex-flow: column;
		align-items: stretch;

		& > * {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	&.with-title {
		justify-content: flex-start;
		gap: 0;
	}

	&.card-7 {
		font-size: 1.5rem;
		line-height: 2.25rem;
	}

	.big-text {
		font-weight: 500;
		font-size: 5rem;
		line-height: 6.5rem;
	}
}

.advantages__card-title {
	margin-right: 2rem;

	& > div:first-child {
		font-weight: 400;
		font-size: 1.5rem;
		line-height: 2.25rem;
	}

	& > div:last-child {
		font-weight: 500;
		font-size: 10rem;
		line-height: 10.75rem;
		letter-spacing: 0.03em;
		white-space: nowrap;
	}

	.small-text {
		font-size: 64.2px;
		line-height: 5.375rem;
		letter-spacing: 0;
	}
}

// youtube embedded

.youtube-embedded {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 4rem 1rem;

	z-index: $z-index-video-player;

	opacity: 0;
	pointer-events: none;
	transition: opacity $animation-disappear;

	&.open {
		opacity: 1;
		pointer-events: auto;
		animation: fadeOut $animation-appear;
	}
}

.youtube-embedded__overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: $color-dark-background;
	z-index: 2;
}

.youtube-embedded iframe {
	max-width: 100%;
	max-height: 100%;
	position: relative;
	z-index: 20;
}


// ADAPTIVE

@media (max-width: $mobile) {

	// advantages

	.advantages__card.card-7,
	.advantages__card {
		font-size: 0.875rem;
		line-height: 1.25rem;
		padding: 1rem;

		.big-text {
			font-size: 2rem;
			line-height: 2.5rem;
		}

		img {
			width: 1.5rem;
			height: 1.5rem;
		}

		img.big-icon {
			width: 2rem;
			height: 2rem;
		}
	}

	.advantages__card.card-4 {
		font-size: 1rem;
		line-height: 1.5rem;
	}

	.advantages__card-title {
		margin-right: 1rem;

		& > div:first-child {

			font-size: 0.875rem;
			line-height: 1.25rem;
		}

		& > div:last-child {
			font-size: 3.5rem;
			line-height: 59px;
		}

		.small-text {
			font-size: 1.5rem;
			line-height: 2.25rem;
		}
	}

}