@import "parts/variables";
@import "parts/mixins";

@import "parts/page-blocks/pool";
@import "parts/page-blocks/promo";
@import "parts/page-blocks/video";
@import "parts/page-blocks/exchange";
@import "parts/page-blocks/how";
@import "parts/page-blocks/goals";
@import "parts/page-blocks/advantages";
@import "parts/page-blocks/system";

// promo-modal

.promo-modal__dialog {
  position: relative;
  overflow: hidden;
  min-height: get-true-adaptive-value(520px, 328px);
  max-width: clamp(400px, 50%, 920px);
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
}

.promo-modal__dialog-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 47% bottom;
  z-index: 1;
}

.promo-modal__glow1 {
  position: absolute;
  top: 0;
  left: 0;

  width: get-true-adaptive-value(1011.22px, 601.15px);
  aspect-ratio: 1011.22 / 368.16;

  background: rgba(26, 12, 174, 0.37);
  filter: blur(127px);
  transform: translate(-29%, -44%) rotate(-14.68deg);
  transform-origin: center;
  z-index: 2;
}

.promo-modal__glow2 {
  position: absolute;
  bottom: 0;
  left: 0;

  width: get-true-adaptive-value(721px, 400px);
  aspect-ratio: 721 / 293;

  background: rgba(26, 12, 174, 0.37);
  filter: blur(127px);
  transform: rotate(20.71deg) translate(-27%, 54%);
  z-index: 2;
}

.promo-modal__dialog-title {
  position: relative;
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.166;
  letter-spacing: 0.01em;
  z-index: 5;

  & > span:first-child {
    max-width: 609px;
  }
}

.promo-modal__dialog-content {
  flex-grow: 1;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 0.75rem;

  position: relative;
  margin: 0;
  z-index: 5;

  & > .checkbox {
    color: #66628F;

    svg {
      color: #66628F !important;
    }
  }
}

// ADAPTIVE

@media (max-width: $desktop) {

  .promo-modal__dialog-title {
    font-size: 3rem;
  }

}


@media (max-width: 1650px) {
  .promo-modal__dialog-title {
    font-size: 3rem;
  }

}

@media (max-width: $laptop) {
  .promo-modal__dialog-title {
    font-size: 2.75rem;
  }

}

@media (max-width: $small-laptop) {

  .promo-modal__dialog-title {
    font-size: 2.375rem;
  }
}


@media (max-width: $tablet) {

  .promo-modal__dialog {
    padding: 2rem;
  }

  .promo-modal__dialog-title {
    font-size: 1.75rem;

    & > span:first-child {
      max-width: 300px;
    }
  }

  .promo-modal__dialog-content {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;

    & > .btn {
      width: 100%;
      padding: 0.375rem 0.5rem;
      line-height: 1.5;
    }
  }

}

@media (max-width: $mobile) {

  .promo-modal__glow1 {
    background: rgba(26, 12, 174, 0.44);
    filter: blur(35px);
    transform: translate(-29%, -36%) rotate(-14.68deg);
  }

  .promo-modal__glow2 {
    display: none;
  }

  .promo-modal__dialog-background {
    object-position: 41% bottom;
  }

  .promo-modal__dialog {
    padding: 1rem 1.5rem;
  }

  .promo-modal__dialog-title {
    font-size: 1.25rem;
  }

}