@import "parts/variables";
@import "parts/mixins";


// partners

.partners-page__glow-1 {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(12%, -20%);
  @include glow($width: 43vw, $color: #FF7F511F);
  min-width: 317px;
  z-index: -1;
}

.partners-page__glow-2 {
  position: absolute;
  top: 9vw;
  right: 0;
  transform: translate(52%, 0);
  @include glow($width: 87.5vw, $color: #FF7F511F);
  min-width: 360px;
  z-index: -1;
}

.partners {
  padding-bottom: 5rem;
}

.partners__table-title {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 2rem;

  & > .text {
    width: 60%;
    min-width: min(400px, 100%)
  }

  &.inside-table {
    margin-top: 4rem;
    margin-bottom: 1.5rem;
  }
}


// programs

.programs__table {
  display: table;
  border-collapse: separate;
  border-spacing: 0 0.5rem;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
  width: 100%;
  overflow: hidden;
}

.program {
  position: relative;
  display: table-row;
  @include paper;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-action-hover;
    z-index: -1;
    border-radius: inherit;
    opacity: 0;
    transition: opacity $animation-slow;
  }

  &.selected {
    background: $color-action-selected;

    .program__info {
      display: inline-block;
    }
  }

  &:hover {

    &::before {
      opacity: 1;
      transition: opacity $animation-slow;
    }
  }
}

.program__cell {
  display: table-cell;
  padding: 0.75rem 1rem 0.75rem 0;
  vertical-align: middle;

  &:first-child {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    padding-left: 1rem;
  }

  &:last-child {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    padding-right: 1rem;
  }
}
.program__label {
  margin-bottom: 0.5rem;
  @include typography-caption;
  color: $color-text-more-secondary;
}
.program__value {
  @include typography-body2-text;
}

.program__cell-status {
  .program__value {
    white-space: nowrap;
  }
}
.program__cell-structure {
  .program__label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
.program__cell-income,
.program__cell-invest {
  .program__value {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
  }
}
.program__cell-premium {
  width: 8%;
  max-width: 75px;

  .program__value {
    word-wrap: break-word;
  }
}
.program__cell-conditions {
  width: 0;

  .btn  {
    margin-right: -1.5rem;
    margin-left: -1.5rem;
  }
}

.program__info {
  display: none;
  margin: -0.125rem 0;

  svg {
    fill: $color-prime-main;
  }
}

.program__percent {
  display: inline-block;
  padding: 0.125rem 0.25rem;
  border-radius: 0.5rem;
  @include typography-body2-text;
  letter-spacing: 0.15px;
  background: $color-background;
  -webkit-transition: background $animation-normal;

  //z-index: 2;
  //
  //&::before {
  //  content: "";
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  width: 100%;
  //  height: 100%;
  //  background: $color-action-selected;
  //  border-radius: inherit;
  //  z-index: 1;
  //  opacity: 0;
  //  transition: opacity $animation-normal;
  //}

  &:hover {
    background: mix($color-background-lower1, $color-action-selected, $color-action-selected-opacity * 100%);
  }
}


// structure turn

.structure-turn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;

  padding: 0.75rem;
}

.structure-turn__text-block {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  & > *:first-child {
    @include typography-caption;
    color: $color-text-secondary;
  }

  & > *:nth-child(2) {
    @include typography-subtitle1;
  }
}

.structure-turn-2 {
  padding: 0.75rem;
}


// ADAPTIVE

@media screen and (max-width: $small-tablet) {

  .partners-page__glow-1 {
    top: 464px;
    transform: translate(30%, 0);
  }

  .partners-page__glow-2 {
    display: none;
  }

  .partners__table-title {
    margin-bottom: 1.5rem;

    &.inside-table {
      margin-bottom: 1rem;
      margin-top: 2rem;
    }
  }

  // programs

  .programs__table {
    display: block;
    margin: 0;
  }

  .programs__table-body {
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
    @include paper;
  }

  .program {
    display: block;
    position: relative;
    columns: 2 1rem;
    padding: 1rem 1.5rem;
    @include disable-paper;

    &:not(:first-child) {
      border-top: 1px solid $color-divider;
    }
  }

  .program__cell {
    display: block;
    padding: 0.375rem 0 !important;
  }
  .program__label {
    color: $color-text-more-secondary;
    margin-bottom: 0.25rem;
  }

  .program__cell-status {
    .program__value {
      @include typography-body2-text;
    }
  }
  .program__cell-premium {
    width: auto;
  }
  .program__cell-conditions {
    .button {
      margin-left: -0.75rem;
      @include button-small;
    }
  }

}

@media screen and (max-width: $mobile) {

  .partners__table-title {
    margin-bottom: 1.25rem;

    & > .btn {
      width: 100%;
    }

    &.inside-table {
      margin-bottom: 0.75rem;
      margin-top: 1.5rem;
    }
  }

  // programs

  .program {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    @include disable-paper;

    &:not(:first-child) {
      border-top: 1px solid $color-divider;
    }
  }

  .program__cell {
    padding: 0.375rem 0 !important;
  }
  .program__label {
    color: $color-text-more-secondary;
    margin-bottom: 0.25rem;
  }

  .program__cell-conditions {
    display: inline-block;
    width: fit-content;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    @include button-small;
  }

}



