@import "parts/variables";
@import "parts/mixins";

@import "common";

// MAIN

.partners {
	display: grid;
	grid-template-columns: repeat(12, minmax(0, 1fr));
	grid-template-rows: repeat(3, auto);
	grid-template-areas:
			". t t t t t t t t t t ."
			". s s s s s s s s s s ."
			". c c c c c c c c c c .";
	overflow: visible;

	margin-bottom: 8rem;

	.title {
		grid-area: t;
		margin-bottom: 2rem;
	}
}

.partners__subtitle {
	grid-area: s;
	margin-bottom: 4.5rem;
	max-width: 600px;
}

.partners__cards {
	grid-area: c;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.partners__card {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	grid-template-areas:
		"title title"
		"terms income";
	grid-column-gap: var(--grid-gap);

	border-radius: 2rem;
	padding: 3rem;
	background: $color-dark-background;

	@include hover-luminous;
}

.partners__card-title {
	grid-area: title;
	margin-bottom: 2rem;

	font-size: 3.5rem;
	line-height: 4.5rem;
	letter-spacing: 0.01em;
}

.partners__card-description {
	grid-column: 1 / -1;
}

.partners__card-terms {
	grid-area: terms;
}

.partners__card-income-list {
	grid-area: income;
}

.partners__card-description,
.partners__card-terms {
	font-size: 1.5rem;
	line-height: 2.25rem;
}

.partners__card-terms-title,
.partners__card-income-title {
	font-size: 1.25rem;
	line-height: 1.75rem;
	margin-bottom: 1.5rem;
}

.partners__card-terms-list {
	display: flex;
	flex-direction: column;

	list-style-type: none;
	padding: 0;
}

.partners__card-terms-list-item {
	list-style-type: none;

	&::before {
		content: "• ";
		display: inline;
	}
}

.partners__card-income-list {
	columns: 2;
	column-gap: 0.5rem;
	margin-bottom: -0.5rem;

	list-style-type: none;
	padding: 0;
}

.partners__card-income-list-item {
	font-size: 1.25rem;
	line-height: 1.75rem;
	margin-bottom: 0.5rem;
}



// ADAPTIVE

@media (max-width: $mobile) {

	.partners {
		margin-bottom: 1.5rem;

		.title {
			margin-bottom: 1rem;
		}
	}

	.partners__subtitle {
		margin-bottom: 2rem;
	}

	.partners__card {
		padding: 1.5rem;
		border-radius: 1rem;
	}

	.partners__card-title {
		font-size: 1.75rem;
		line-height: 2.25rem;
	}

	.partners__card-description,
	.partners__card-terms {
		font-size: 1rem;
		line-height: 1.5rem;
	}

	.partners__card-terms-title,
	.partners__card-income-title {
		font-size: 0.875rem;
		line-height: 1.25rem;
	}


	.partners__card-income-list-item {
		font-size: 1rem;
		line-height: 1.5rem;
	}
}