@import "parts/variables";
@import "parts/mixins";


// partners

.partners {
  padding-bottom: 5rem;
}

.partners__title {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-areas:
    "i i i i i i i i i i i i"
    "su su su su su su . . st st st st";
}

.partners__title-inner {
  grid-area: i;
}

.partners__subtitle {
  grid-area: su;
}

.partners__structure-btn {
  grid-area: st;
  align-self: flex-end;
  justify-self: flex-end;
}


// programs

.programs {

  &.expand {
    .programs__expand-btn {
      display: none;
    }

    .programs__collapse-btn {
      display: inline-block;
    }

    .program {
      display: table-row;
    }
  }

}

.programs__table {
  display: table;
  border-collapse: separate;
  border-spacing: 0 0.5rem;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
  width: 100%;
  overflow: hidden;

  &:hover {
    .program {
      background: $color-background-lower1;
    }
  }
}

.programs__collapse-btn {
  display: none;
  margin-left: -0.75rem;
  margin-top: 0.5rem;
}
.programs__expand-btn {
  margin-left: -0.75rem;
  margin-top: 0.5rem;
}

.program:not(.visible) {
  display: none;
}

.program {
  display: table-row;
  @include paper;
  transition: background $animation-slow, transform $animation-slow;
  cursor: pointer;

  &.selected {
    background: $color-background-upper1;

    .program__info {
      display: inline-block;
    }
  }

  &:hover {
    background: $color-background-upper1 !important;
    transition: background $animation-normal, transform $animation-normal;
  }
}

.program__cell {
  display: table-cell;
  padding: 1rem 0.75rem;
  vertical-align: middle;

  &:first-child {
    padding-left: 1.5rem;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
  }

  &:last-child {
    padding-right: 1.5rem;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
  }
}
.program__cell-conditions {
  width: 0;

  .btn  {
    margin-right: -1.5rem;
    margin-left: -1.5rem;
  }
}
.program__cell-income,
.program__cell-invest {

  .program__value {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
  }
}

.program__label {
  margin-bottom: 0.5rem;
  @include typography-caption;
  color: $color-text-secondary;
}
.program__cell-status .program__label {
  margin-bottom: 0.25rem;
}
.program__cell-structure .program__label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.program__value {
  @include typography-body2-text;
}
.program__cell-status .program__value {
  @include typography-h6;
}

.program__info {
  display: none;
  margin: -0.125rem 0;

  svg {
    fill: $color-prime-main;
  }
}

.program__percent {
  display: inline-block;
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
  @include typography-body2-text;
  letter-spacing: 0.15px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.93), rgba(255, 255, 255, 0.93)), #281E1C;

  &:hover {
    background: change-color($color-prime-main, $alpha: 0.08);
  }
}

// structure turn

.structure-turn__wrapper {
  padding: 0.5rem;
}

.structure-turn {
  max-width: calc(100vw - 2rem);
}

.structure-turn__title {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid $color-divider;
  @include typography-subtitle1;
  text-align: center;
}

.structure-turn__header {
  display: table-row-group;
}

.structure-turn__body {
  width: 100%;
  display: table-row-group;

  .structure-turn__row:last-child {
    .structure-turn__cell {
      border-bottom: none;
    }
  }

}

.structure-turn__row {
  display: table-row;

  &.selected {
    .structure-turn__cell {
      background: change-color($color-prime-main, $alpha: 0.08);
      color: $color-text-prime;
    }
  }
}

.structure-turn__cell {
  display: table-cell;
  padding: 0.625rem 1rem;
  @include typography-subtitle2;
  color: $color-text-more-secondary;
  border-bottom: 1px solid $color-divider;
}



// ADAPTIVE

@media (max-width: $small-laptop) {
  .partners__title {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-areas:
      "i i i i i i i i i i i i"
      "su su su su su su . st st st st st";
  }
}


@media (max-width: $tablet) {
  .partners__title {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-areas:
      "i i i i i i i i i i i i"
      "su su su su su su su su st st st st";
  }
}


@media screen and (max-width: $small-tablet) {

  .partners__title {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas:
      "i"
      "su"
      "st";
  }

  .partners__subtitle {
    margin-top: 1rem;
    margin-bottom: 2rem;
    max-width: $mobile;
  }

  .partners__structure-btn {
    align-self: flex-start;
    justify-self: flex-start;
  }

  // programs

  .programs {

    &.expand {

      .program {
        display: grid;
      }
    }

  }

  .programs__table {
    display: flex;
    flex-direction: column;
    margin: 0;
    @include paper;
  }

  .programs__expand-btn,
  .programs__collapse-btn {
    margin-top: 0.5rem;
  }

  .program {
    display: block;
    position: relative;
    columns: 2 1rem;
    padding: 1rem 1.5rem;
    @include disable-paper;

    &:not(:first-child) {
      border-top: 1px solid $color-divider;
    }
  }

  .program__cell {
    display: block;
    padding: 0.375rem 0 !important;
  }
  .program__cell-status .program__value {
    @include typography-body2-text;
  }

  .program__label {
    color: $color-text-more-secondary;
    margin-bottom: 0.25rem;
  }

  .program__cell-conditions {

    .button {
      margin-left: -0.75rem;
      @include button-small;
    }
  }

  // structure turn

  .structure-turn {
    width: 312px;
  }

  .structure-turn__title {
    padding: 0.5rem 1rem;
  }

  .structure-turn__header {
    display: none;
  }

  .structure-turn__body {
    display: table;
    padding: 1.125rem;
  }

  .structure-turn__cell {
    padding: 0.375rem;
    border: none;
    @include typography-body2-text;

    &:first-child {
      color: $color-text-more-secondary;
    }

    &:not(:first-child) {
      color: $color-text-prime;
    }
  }


}


@media screen and (max-width: $mobile) {


  .partners__structure-btn {
    width: 100%;
    .btn {
      width: 100%;
    }
  }

  // programs

  .programs {

    &.expand {

      .program {
        display: flex;
      }
    }

  }

  .programs__table {
    display: flex;
    flex-direction: column;
    margin: 0;
    @include paper;
  }

  .programs__expand-btn,
  .programs__collapse-btn {
    margin-top: 0.5rem;
  }

  .program {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    @include disable-paper;

    &:not(:first-child) {
      border-top: 1px solid $color-divider;
    }
  }

  .program__cell {
    padding: 0.375rem 0 !important;
  }
  .program__cell-status .program__value {
    @include typography-body2-text;
  }

  .program__label {
    color: $color-text-more-secondary;
    margin-bottom: 0.25rem;
  }

  .program__cell-conditions {

    .btn {
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      margin-right: -0.75rem;
      margin-left: -0.75rem;
      @include button-small;
    }
  }


}



