@import "parts/variables";
@import "parts/mixins";

// MAIN

.roadmap-page__glow-1 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-36%, -22%);
  @include glow($width: 27vw, $color: #7DFBF829);
  min-width: 360px;
  z-index: -1;
}

.roadmap-page__glow-2 {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, 24%);
  @include glow($width: 44vw, $color: #FF7F511F);
  min-width: 317px;
  z-index: -1;
}

// roadmap

.roadmap {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

// quarters

.roadmap__quarters {
  padding: 3rem 0;
  margin: -3rem 0;
  @include without-scrollbar;
}

.quarters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
}

@mixin quarters__gap ($border-width: 0.25rem, $dash-width: 0.5rem) {
  .quarters__gap {
    flex-grow: 1;
    flex-basis: 1rem;
    min-width: 2rem;
    height: 0.25rem;
    background-image: linear-gradient(to right, $color-tertiary-main 0%, $color-tertiary-main 50%, transparent 50%, transparent 100%);
    background-position: top;
    background-size: ($dash-width * 2) $border-width;
    background-repeat: repeat-x;
    border-radius: $dash-width;
    overflow: hidden;

    &.before-active {
      background: linear-gradient(to right, $color-tertiary-main 0%, $color-secondary-main 100%);
      height: $border-width;
      -webkit-mask-image: repeating-linear-gradient(to right, #fff, #fff $dash-width, transparent $dash-width, transparent ($dash-width * 2));
    }

    &.after-active {
      background: linear-gradient(to left, $color-tertiary-main 0%, $color-secondary-main 100%);
      height: $border-width;
      -webkit-mask-image: repeating-linear-gradient(to right, #fff, #fff $dash-width, transparent $dash-width, transparent ($dash-width * 2));
    }
  }
}

@include quarters__gap;

.quarter {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 124px;
  background: $color-background-upper2;
  border: 2px solid $color-tertiary-main;
  border-radius: 2rem;
  transition: box-shadow $animation-slow;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 2.5rem change-color($color-secondary-main, $alpha: 0.36);
    transition: box-shadow $animation-normal;
  }

  &.active {
    position: relative;
    width: 156px;
    height: 156px;
    border-color: $color-secondary-main;
    border-width: 3px;
    overflow: hidden;
    box-shadow: 0px 0px 2.5rem change-color($color-secondary-main, $alpha: 0.36);

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 100%;
      background: $color-glow-primary;
      filter: blur(50px);
    }

    .quarter__title {
      @include typography-h3;
    }

    .quarter__subtitle {
      @include typography-h5;
    }
  }
}

.quarter__title {
  @include typography-h4;
}

.quarter__subtitle {
  @include typography-h6;
  color: $color-text-secondary;
}

// events

.roadmap__events {
  &:not(.active) {
    display: none;
  }
}

.events {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.events__section {
  &:not(.active) {
    display: none;
  }
}

.events__section-title {
  @include typography-h4;
  margin-bottom: 1.5rem;
}

.events__section-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.event {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.event__poster {
  flex-basis: 0;
  flex-grow: 10;
  aspect-ratio: 1.375;
  background: $color-background-upper2;
  border-radius: 1rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }
}

.event__content {
  flex-grow: 23;
  flex-basis: 0;
}

.event__chips {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.event__title {
  @include typography-h4;
  margin-bottom: 1rem;
}

.event__text {
  @include typography-body1;
  color: $color-text-secondary;
}



// ADAPTIVE


@media (max-width: $desktop) {

  .roadmap__quarters {
    @include with-horizontal-scrollbar-in-container-adaptive;
  }
}

@media (max-width: $small-desktop) {
  .events__section-title {
    font-size: 2rem;
  }
}

@media (max-width: $laptop) {
  .events__section-title {
    font-size: 1.5rem;
  }
}

@media (max-width: $small-laptop) {


  .roadmap {
    gap: 4rem;
  }

  // quarters

  .quarter {
    width: 110px;
    height: 110px;
    border-radius: 1.75rem;

    &.active {
      width: 134px;
      height: 134px;

      .quarter__title {
        font-size: 2.25rem;
      }

      .quarter__subtitle {
        font-size: 1.25rem;
        font-weight: 500;
      }
    }
  }

  .quarter__title {
    font-size: 1.75rem;
  }

  .quarter__subtitle {
    font-size: 1.25rem;
  }

  // events

  .events__section-title {
    font-size: 1.25rem;
  }

  .event__title {
    font-size: 1.75rem;
  }

  .event__text {
    font-size: 1.125rem;
  }

}

@media (max-width: $tablet) {

  .roadmap {
    gap: 3rem;
  }

  // quarters

  .quarter {
    width: 100px;
    height: 100px;
    border-radius: 1.5rem;

    &.active {
      width: 120px;
      height: 120px;

      .quarter__title {
        font-size: 2rem;
      }

      .quarter__subtitle {
        font-size: 1.125rem;
        font-weight: 500;
      }
    }
  }

  .quarter__title {
    font-size: 1.5rem;
  }

  .quarter__subtitle {
    font-size: 1.125rem;
  }

  // events

  .events {
    gap: 2.5rem;
  }

  .event {
    gap: 2.5rem;
  }

  .event__poster {
    flex-grow: 5;
  }

  .event__content {
    flex-grow: 7;
  }
}

@media (max-width: $small-tablet) {

  .roadmap {
    gap: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  // quarters

  .quarter {
    width: 86px;
    height: 86px;
    border-radius: 1.5rem;

    &.active {
      width: 105px;
      height: 105px;

      .quarter__title {
        font-size: 1.75rem;
      }

      .quarter__subtitle {
        font-size: 1.125rem;
        font-weight: 500;
      }
    }
  }

  .quarter__title {
    font-size: 1.375rem;
  }

  .quarter__subtitle {
    font-size: 1.125rem;
  }

  // events

  .events {
    gap: 2rem;
  }

  .event {
    gap: 2rem;
  }

  .event__poster {
    flex-grow: 1;
    aspect-ratio: 1.2;
  }

  .event__content {
    flex-grow: 1;
  }

  .event__title {
    @include typography-h4-adaptive;
  }

  .event__text {
    @include typography-body1-adaptive;
  }

}

@media (max-width: 600px) {

  .roadmap {
    padding-top: 1.5rem;
    padding-bottom: 2rem;
  }

  .roadmap-page__glow-2 {
    top: 417px;
    transform: translate(29%, 24%);
  }

  // quarters

  .quarters {
    gap: 0.375rem;
  }

  // events

  .events {
    gap: 2.25rem;
  }

  .event {
    gap: 1.5rem;
  }

  .event {
    flex-direction: column;
    align-items: flex-start;
  }

  .event__poster {
    width: 100%;
    min-height: 0;
    aspect-ratio: 1.6;
    flex-basis: unset;
    flex-grow: 0;
  }

  .event__chips {
    margin-bottom: 1rem;
  }

  .event__title {
    margin-bottom: 0.75rem;
  }

}

@media (max-width: $mobile) {

  // quarters

  .roadmap__quarters {
    @include with-horizontal-scrollbar-in-container-mobile;
  }

  .quarter {
    width: 76px;
    height: 76px;
    border-radius: 1.5rem;

    &.active {
      width: 93px;
      height: 93px;

      .quarter__title {
        @include typography-h3-adaptive;
      }

      .quarter__subtitle {
        @include typography-body1-adaptive;
        font-weight: 500;
      }
    }
  }

  .quarter__title {
    @include typography-h4-adaptive;
  }

  .quarter__subtitle {
    @include typography-body1-adaptive;
  }

  @include quarters__gap($dash-width: 5px);

  // events

  .events__section-title {
    @include typography-h4-adaptive;
  }

  .event__poster {
    aspect-ratio: 1.37;
  }

}
