html {
  --grid-gap: 16px;
  --grid-column: calc((100% - var(--grid-gap) * 11) / 12);
  --grid-column-gap: calc(var(--grid-gap) + var(--grid-column));
  --border-radius: 32px;
}

*, ::after, ::before {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 16px;
}

abbr[data-original-title], abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 16px;
}

ol ol, ol ul, ul ol, ul ul {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b, strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: inherit;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

code, kbd, pre, samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

.icon {
  display: inline-block;
  font-size: 24px;
  width: 1em;
  height: 1em;
  color: inherit;
  fill: currentcolor;
  vertical-align: middle;
}
.icon use {
  width: 1em;
  height: 1em;
  color: inherit;
  fill: currentcolor;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 0;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=date], input[type=datetime-local], input[type=month], input[type=time] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  border: none;
  outline: 0;
  font-size: 24px;
  font-weight: 500;
  padding: 14px 24px;
  line-height: 36px;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.92);
  background: #CEE44A;
}

.btn_contacts {
  margin-top: 35px;
  width: 332px;
  font-size: calc(14px + 6.25 * (100vw - 375px) / 1920);
}

.btn_transparent {
  background: 0 0;
  border: 1px solid #CEE44A;
  color: #fff;
}
.btn_transparent .icon {
  color: #CEE44A;
}
.btn_transparent .icon:first-child {
  margin-right: 8px;
}
.btn_transparent img:first-child {
  margin-right: 8px;
}

.btn_modal {
  width: 100%;
  margin-top: calc(40px + 12.5 * (100vw - 375px) / 1920);
  font-size: calc(14px + 6.25 * (100vw - 375px) / 1920);
}

h1.title {
  font-family: Golos;
  font-size: 120px;
  font-style: normal;
  font-weight: 500;
  line-height: 128px;
  /* or 107% */
  letter-spacing: 0.01em;
}

h2.title {
  font-family: Golos;
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 104px;
  /* identical to box height, or 130% */
  letter-spacing: 0.01em;
  margin-bottom: 64px;
}

.color-prime {
  color: #CEE44A;
}

@media screen and (min-width: 361px) {
  .hide-on-desktop {
    display: none !important;
  }
}

@media screen and (max-width: 360px) {
  .hide-on-mobile {
    display: none !important;
  }
}

.tac {
  text-align: center;
}

.opacity5 {
  opacity: 0.5;
}

.mb30 {
  margin-bottom: 30px;
}

.round-arrow {
  border-radius: 50%;
  max-width: 243px;
  max-height: 243px;
  width: calc(182px + 76.25 * (100vw - 375px) / 1920);
  height: calc(182px + 76.25 * (100vw - 375px) / 1920);
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  background: #33343b;
}

.rotate180 {
  transform: rotate(180deg);
}

* {
  font-family: Golos;
  font-style: normal;
  color: #fff;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #CEE44A #32333a;
}

html::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

html::-webkit-scrollbar-thumb {
  border-radius: 11px;
  background: #CEE44A;
}

html::-webkit-scrollbar-track {
  border-radius: 11px;
  background: #32333a;
}

body {
  background: #32333a;
  position: relative;
  overflow-x: hidden;
}

h1, h2, h3, label, p {
  margin-bottom: 0;
}

.container {
  padding: 0 calc((100vw - 1560px) * 0.5);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.block {
  margin-top: 184px;
  margin-bottom: 184px;
}

.background-ellipse {
  z-index: -5;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(33, 33, 33, 0.48);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
}
.overlay.open {
  opacity: 11;
  pointer-events: auto;
  transition: opacity 0.25s;
}

#dropdownOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
#dropdownOverlay:not(.active) {
  display: none;
}

.dropdown__menu {
  z-index: 120;
  opacity: 1;
  transition: opacity 0.25s;
}
.dropdown__menu:not(.open) {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
}

.language {
  margin-left: auto;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.language__label .icon {
  margin-left: 16px;
  transition: transform 0.25s;
}
.language__label:hover .icon {
  transform: translateY(2px);
  transition: transform 0.125s;
}

.language__menu {
  background: #4c4d58;
  padding: 16px 0;
  border-radius: 8px;
}

.language__menu-item {
  padding: 16px 24px;
  white-space: nowrap;
  transition: background 0.25s;
}
.language__menu-item img {
  width: 24px;
  height: auto;
  margin-right: 8px;
}
.language__menu-item:hover {
  background: rgba(33, 33, 33, 0.48);
  cursor: pointer;
  transition: background 0.125s;
}

.header {
  height: 88px;
  display: flex;
  align-items: center;
  max-width: 1920px;
}

.header__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  transition: background 0.3s;
}

.header__logo img {
  max-width: 160px;
  width: 160px;
}

.header__logo img.mobile {
  display: none;
}

.header__burger {
  display: none;
}

.header__nav {
  display: flex;
  align-items: center;
  column-gap: 40px;
  margin-left: 49px;
}

.header__nav a {
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
  transition: color 0.6s;
}

.header__nav a:hover {
  color: #CEE44A;
}

.header__action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 40px;
}

.header__action a, .header__action span {
  text-decoration: none;
  color: inherit;
  transition: color 0.6s;
}

.header__action a:hover, .header__action span:hover {
  color: #CEE44A;
}

.header__action span {
  pointer-events: none;
}

.header__burger {
  width: 32px;
  height: 32px;
  margin-left: 24px;
}

.menu__overlay {
  z-index: 200;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  padding: 16px 0;
  width: 200px;
  max-width: 66%;
  z-index: 250;
  background: #32333A;
  transform: translateX(32px);
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s;
}
.menu.open {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
  transition: all 0.25s;
}
.menu a {
  display: block;
  padding: 8px 24px;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  transition: color 0.25s;
}
.menu a:hover {
  color: #CEE44A;
  text-decoration: none;
  transition: color 0.125s;
}

.menu__divider {
  height: 24px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  padding-top: calc(95px + 43.75 * (100vw - 375px) / 1920);
}

.breadcrumbs a {
  margin-right: 10px;
  color: inherit;
  text-decoration: none;
  transition: color 0.6s;
}

.breadcrumbs a:hover {
  color: #CEE44A;
}

.breadcrumbs img {
  margin-right: 10px;
}

.breadcrumbs p {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.promo {
  padding-top: 229px;
  position: relative;
}

.promo__img {
  position: absolute;
  right: -13px;
  top: 176px;
  width: 798px;
  object-fit: contain;
}

.promo__info {
  margin-top: 52px;
  font-size: 24px;
  line-height: 36px;
  max-width: 772px;
}

.promo__buttons {
  margin-top: 72px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.promo__cards {
  margin-top: 124px;
  display: flex;
  flex-flow: row wrap;
  gap: var(--grid-gap);
}

.promo__card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--border-radius);
  width: calc(var(--grid-column-gap) * 3 - var(--grid-gap));
  padding: 32px;
  font-size: 24px;
  line-height: 36px;
  background: rgba(33, 33, 33, 0.48);
}

.promo__card img {
  margin-bottom: 24px;
}

.main-tariffs {
  position: relative;
}
.main-tariffs .background-ellipse {
  position: absolute;
  top: -374px;
  right: -492px;
  z-index: -2;
}

.tariff__cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 16px;
}

.tariff__card {
  overflow: hidden;
  border-radius: var(--border-radius);
  padding: 32px;
  width: calc(var(--grid-column-gap) * 4 - var(--grid-gap));
  background: rgba(33, 33, 33, 0.48);
}
.tariff__card.main {
  box-shadow: 0px 0px 56px rgba(206, 228, 74, 0.24);
}

.tariff__card-title {
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 16px;
}

.tariff__card-subtitle {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 24px;
  color: rgba(255, 255, 255, 0.64);
}
.tariff__card-subtitle .separator {
  color: rgba(255, 255, 255, 0.32);
  margin: 0 8px;
}

.tariff__card-numbers {
  display: flex;
  align-items: baseline;
  margin-bottom: 48px;
}
.tariff__card-numbers div {
  font-size: 80px;
  line-height: 112px;
  color: #CEE44A;
}
.tariff__card-numbers span {
  margin-left: 16px;
  font-size: 24px;
  line-height: 36px;
}

.tariff__btn {
  width: 100%;
}

.tariff__list {
  margin-top: calc(35px + 50 * (100vw - 375px) / 1920);
  font-size: calc(15px + 3.75 * (100vw - 375px) / 1920);
  line-height: 120%;
  padding-left: 0;
}

.tariff__list li {
  list-style-type: none;
  margin-bottom: 10px;
}

.advantages {
  position: relative;
}
.advantages .background-ellipse {
  position: absolute;
  bottom: -436px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -2;
}

.advantages__cards {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: var(--grid-gap);
}
.advantages__cards > .advantages__card:nth-child(1) {
  grid-column: 1/8;
}
.advantages__cards > .advantages__card:nth-child(2) {
  grid-column: 8/-1;
}
.advantages__cards > .advantages__card-group:nth-child(3) {
  grid-column: 1/7;
}
.advantages__cards > .advantages__card-group:nth-child(4) {
  grid-column: 7/-1;
}

.advantages__card-group {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  gap: var(--grid-gap);
  height: 100%;
}
.advantages__card-group .advantages__card {
  flex-grow: 1;
}

.advantages__card {
  overflow: hidden;
  border-radius: var(--border-radius);
  padding: 32px;
  background: rgba(33, 33, 33, 0.48);
  font-size: 36px;
  line-height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row nowrap;
  gap: var(--grid-gap);
}
.advantages__card.with-multiple-rows {
  flex-flow: column;
  align-items: stretch;
}
.advantages__card.with-multiple-rows > * {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.advantages__card.with-title {
  justify-content: flex-start;
  gap: 0;
}
.advantages__card.card-7 {
  font-size: 24px;
  line-height: 36px;
}
.advantages__card .big-text {
  font-weight: 500;
  font-size: 80px;
  line-height: 104px;
}

.advantages__card-title {
  margin-right: 32px;
}
.advantages__card-title > div:first-child {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}
.advantages__card-title > div:last-child {
  font-weight: 500;
  font-size: 160px;
  line-height: 172px;
  letter-spacing: 0.03em;
  white-space: nowrap;
}
.advantages__card-title .small-text {
  font-size: 64.2px;
  line-height: 86px;
  letter-spacing: 0;
}

.video {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  height: 100vh;
  max-height: 1080px;
  z-index: 1;
}

.video__preview {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.video__preview img, .video__preview video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.video__play {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 5;
}

.video__play-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  border-radius: 88px;
  background: #CEE44A;
  color: rgba(0, 0, 0, 0.92);
}
.video__play-circle .icon {
  font-size: 48px;
}

.video__play-text {
  margin-top: 24px;
  font-size: 36px;
  line-height: 48px;
  color: #CEE44A;
  text-align: center;
}

.launchpool {
  position: relative;
}
.launchpool .background-ellipse {
  position: absolute;
  left: 50%;
  bottom: -527px;
  transform: translateX(-49%);
  z-index: -1;
}
.launchpool .title {
  flex: 7 0 0;
  margin: 0;
}

.launchpool__main-part {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: var(--grid-gap);
  width: 100%;
}

.launchpool__description {
  flex: 5 0 0;
}
.launchpool__description p {
  font-size: 20px;
  line-height: 28px;
}
.launchpool__description p:not(:last-child) {
  margin-top: 16px;
}

.launchpool__buttons {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 40px;
}

.launchpool__cards {
  display: flex;
  flex-flow: row wrap;
  gap: var(--grid-gap);
  margin-top: 93px;
}

.launchpool__card {
  position: relative;
  width: calc(var(--grid-column-gap) * 2 - var(--grid-gap));
}

.launchpool__card-icon {
  position: relative;
  padding-top: 100%;
  width: 100%;
  border-radius: 50%;
  background: rgba(33, 33, 33, 0.48);
}
.launchpool__card-icon img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.launchpool__card-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 94px;
  height: 94px;
}
.launchpool__card-badge .shadow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 91%;
  height: 91%;
  transform: translate(-50%, -50%);
  background: rgba(211, 226, 118, 0.3);
  filter: blur(34.7895px);
}
.launchpool__card-badge img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.launchpool__card-badge span {
  position: relative;
  font-size: 20px;
  line-height: 28px;
  color: #CEE44A;
  z-index: 2;
}

.launchpool__card-title {
  margin-top: 30px;
  text-align: center;
  font-size: 24px;
  line-height: 36px;
}

.how__steps {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  row-gap: 132px;
}

.how__step {
  text-align: center;
  flex: 461px 0 0;
}

.how__step-icon img {
  height: 164px;
  object-fit: cover;
}

.how__step-title {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  padding-bottom: 16px;
}

.goals {
  position: relative;
}
.goals .title {
  margin-bottom: 88px;
}
.goals .background-ellipse.small {
  position: absolute;
  left: -466px;
  bottom: -427px;
  z-index: -5;
}
.goals .background-ellipse.big {
  position: absolute;
  left: -375px;
  bottom: -410px;
  z-index: -5;
}

.goals__card {
  display: flex;
  align-items: center;
  gap: var(--grid-gap);
}
.goals__card .goals__card-title,
.goals__card .goals__card-description {
  flex-basis: 0;
  flex-shrink: 0;
  flex-grow: 6;
}

.goals__card-title {
  font-weight: 500;
  font-size: 56px;
  line-height: 72px;
  letter-spacing: 0.01em;
}

.goals__card-description {
  font-size: 24px;
  line-height: 36px;
}

.goals__divider {
  border-bottom: 1px solid rgba(255, 255, 255, 0.32);
  margin: 72px 0;
}

.footer__wrapper {
  padding-top: 180px;
  padding-bottom: 64px;
  overflow: hidden;
}
.footer__wrapper .container {
  overflow: visible;
  max-width: 100%;
}

.footer {
  position: relative;
}
.footer .title {
  margin-bottom: 128px;
  font-size: 120px;
  line-height: 128px;
  letter-spacing: 0.01em;
}

.footer__img {
  position: absolute;
  top: 0;
  right: calc(var(--grid-column-gap) * 2);
  z-index: -5;
}
.footer__img .shadow {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 216%;
  height: 216%;
  transform: translate(-50%, -50%);
  z-index: -5;
}

.footer__divider {
  margin: 24px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.32);
}

.footer__links {
  display: flex;
  gap: var(--grid-gap);
}
.footer__links .footer__gap {
  flex-grow: 1;
}

.footer__social {
  display: flex;
  gap: 32px;
}
.footer__social a {
  font-size: 20px;
  line-height: 28px;
}

.footer__copyright {
  color: rgba(255, 255, 255, 0.32);
}

.footer__privacy-policy {
  text-decoration: underline;
}
.footer__privacy-policy:hover {
  cursor: pointer;
  text-decoration: none;
}

@media (max-width: 360px) {
  html {
    --border-radius: 16px;
  }

  .container {
    padding: 0 24px;
    max-width: 100%;
  }

  .block {
    margin-top: 56px;
    margin-bottom: 56px;
  }

  h1.title {
    font-size: 48px;
    line-height: 56px;
  }

  h2.title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 32px;
  }

  .btn, .btn_transparent {
    padding: 10px 12px;
    font-size: 16px;
    line-height: 20px;
    height: 48px;
    border-radius: 32px;
  }

  .background-ellipse {
    display: none;
  }

  .header {
    height: 64px;
  }

  .header__logo img.mobile {
    display: block;
    width: 40px;
    height: 40px;
  }

  .header__logo .desktop {
    display: none;
  }

  .header__nav {
    display: none;
  }

  .header__action {
    display: none;
  }

  .header__burger {
    display: block;
  }

  .promo {
    padding-top: 88px;
  }

  .promo__img {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 -24px;
    width: calc(100% + 48px);
  }

  .promo__info {
    font-size: 16px;
    line-height: 24px;
    margin: 24px 0;
  }

  .promo__buttons {
    gap: 8px;
    margin: 0;
  }
  .promo__buttons .btn .icon {
    display: none;
  }

  .promo__cards {
    margin-top: 56px;
  }

  .promo__card {
    width: 100%;
    border-radius: 16px;
  }

  .tariff__card {
    width: 100%;
  }
  .tariff__card.main {
    box-shadow: none;
  }

  .tariff__card-title {
    font-size: 28px;
    line-height: 36px;
  }

  .tariff__card-subtitle {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 16px;
  }
  .tariff__card-subtitle .separator {
    display: block;
    opacity: 0;
    width: 1px;
    height: 8px;
  }

  .tariff__card-numbers > *:first-child {
    font-size: 56px;
    line-height: 80px;
  }
  .tariff__card-numbers > *:last-child {
    font-size: 20px;
    line-height: 28px;
  }
  .tariff__card-numbers .small-text {
    font-size: 24px;
    line-height: 36px;
  }

  .advantages__cards {
    display: flex;
    flex-direction: column;
    gap: var(--grid-gap);
  }

  .advantages__card {
    font-size: 16px;
    line-height: 24px;
    padding: 16px;
  }
  .advantages__card .big-text {
    font-size: 32px;
    line-height: 40px;
  }
  .advantages__card img {
    width: 32px;
    height: 32px;
  }

  .advantages__card-title {
    margin-right: 16px;
  }
  .advantages__card-title > div:first-child {
    font-size: 14px;
    line-height: 20px;
  }
  .advantages__card-title > div:last-child {
    font-size: 56px;
    line-height: 59px;
  }
  .advantages__card-title .small-text {
    font-size: 24px;
    line-height: 36px;
  }

  .advantages__card.card-2 .advantages__card-title {
    margin-right: 48px;
  }

  .advantages__card.card-7,
.advantages__card.card-6 {
    font-size: 14px;
    line-height: 20px;
  }

  .video {
    height: auto;
    padding: 47px 0;
  }

  .video__play {
    position: relative;
    top: 0;
    left: 0;
  }

  .video__play-circle {
    width: 56px;
    height: 56px;
    padding: 0;
  }
  .video__play-circle .icon {
    font-size: 24px;
  }

  .video__play-text {
    font-size: 20px;
    line-height: 28px;
  }

  .launchpool__main-part {
    display: block;
  }

  .launchpool__description {
    margin-top: 24px;
  }
  .launchpool__description p {
    margin: 0;
  }

  .launchpool__buttons {
    margin-top: 24px;
  }

  .launchpool__cards {
    margin-top: 48px;
  }

  .launchpool__card {
    width: calc(var(--grid-column-gap) * 6 - var(--grid-gap));
  }

  .launchpool__card-badge {
    width: 61px;
    height: 61px;
  }
  .launchpool__card-badge span {
    font-size: 14px;
    line-height: 20px;
  }

  .launchpool__card-title {
    margin-top: 24px;
    font-size: 16px;
    line-height: 24px;
  }

  .how__steps {
    display: flex;
    flex-direction: column;
    row-gap: 104px;
  }

  .how__step {
    flex: 1;
  }

  .how__step-title {
    font-size: 20px;
    line-height: 28px;
  }

  .goals .title {
    margin-bottom: 32px;
  }

  .goals__card {
    display: block;
  }

  .goals__card-title {
    margin-bottom: 24px;
    font-size: 28px;
    line-height: 36px;
  }

  .goals__card-description {
    font-size: 20px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.64);
  }

  .goals__divider {
    margin: 24px 0;
  }

  .footer__wrapper {
    padding: 24px 0;
  }

  .footer .title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 32px;
    letter-spacing: 0.01em;
  }

  .footer__img {
    position: absolute;
    top: 25px;
    right: 0;
    width: 70px;
    height: 70px;
  }
  .footer__img img {
    width: 100%;
    height: 100%;
  }

  .footer__header {
    display: none;
  }

  .footer__divider {
    display: none;
  }

  .footer__links {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .footer__social {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 32px;
  }

  .footer__privacy-policy {
    order: 2;
    margin-bottom: 16px;
  }

  .footer__copyright {
    order: 3;
  }
}

/*# sourceMappingURL=style.css.map */
